/*------------------------- Visually Hidden -------------------------*/
/* Visually Hidden Default Class */
.visuallyhidden,

/* Skip Link */
.show-content_axn,

/* If tree navigation is inactive, hide the sub navigation */
.ui-state__tree-nav--inactive > .children,
.ui-state__tree-nav--inactive > .sub-menu,

/* If screen is wide, hide pimary nav toggle action */
.ui-type__viewport--wide .primary-nav-masthead-sidebar-toggle_axn,

/* If Primary Navigation and Masthead Sidebar is inactive, hide the component */
.ui-state__primary-nav-masthead-sidebar--inactive .primary-nav-masthead-sidebar_comp,

/* If screen is narrow and narrow nav is inactive, hide primary nav content */
.ui-type__viewport--narrow .ui-state__primary-nav-masthead-sidebar--inactive .primary-nav-masthead-sidebar_comp,

/* Navigation - Show/hide Toggle icons */
.ui-state__primary-nav-masthead-sidebar--inactive .primary-nav-masthead-sidebar-toggle_axn .dismiss_icon,
.ui-state__primary-nav-masthead-sidebar--active .primary-nav-masthead-sidebar-toggle_axn .menu_icon,

/* Search */
.masthead_sidebar .ui-state__search--active .search-form_label,
.masthead_sidebar .ui-state__search--inactive .search-form_input,
.masthead_sidebar .ui-state__search--inactive .search-form_button {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*------------------------- Visually Hidden Reverse -------------------------*/
.show-content_axn:focus,

/* Search Component */
.ui-state__search--inactive .search-form_input:focus,
.ui-state__search--inactive .search-form_button:focus {
  clip: auto;
  width: auto;
  height: auto;
  z-index: 100000;
}

/* Search Component */
.search-form_label:hover {
  cursor: pointer;
}

/* Hides the HopScotch CSS background-image set for Featured Image */
.entry-banner_axn {
    background-image: none !important;
}

/*------------------------- Inline SVG -------------------------*/
svg {
    margin: 0.0625rem;
    width: 1.5rem;
    height: 1.5rem;
    color: #333;
    fill: currentColor;
    vertical-align: middle;
}

.search-form_label {
    display: table-cell;
    width: 3.5rem;
    height: 3.5rem;
    text-align: center;
    vertical-align: middle;
}

.sub-nav-toggle_axn {
    position: relative;
    padding-right: 3rem;
    min-height: 3rem;
}
 .sub-nav-toggle_axn:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -.75rem;
    margin-right: .5rem;
    width: 1.5rem;
    height: 1.5rem;
    background-image: url( ../img/more.svg );
    background-repeat: no-repeat;
    background-size: cover;
}

.ui-state__tree-nav--active > .sub-nav-toggle_axn:after {
    transform: rotate( 180deg );
}