@mixin avatar-adjust {
    margin-left: 1rem;
    padding-left: $avatar-size;
}

.comment-list {
    @include unlist;
    margin-bottom: 1rem;
    
    .children {
        @include unlist;
    }
}

.comment {
    padding: 1rem;
    padding-right: 0;
    padding-bottom: 0;
}

.comment-cr {
    position: relative;
    padding-right: 1rem;
}

.comment-hr {
    @include avatar-adjust;
    
    .comment-timestamp {
        @include font-size-rem($font-s);
        text-align: right;
    }
    
}

.comments-hr {
    padding: 0 1rem;
}

.comments-heading {
    margin-bottom: auto;
}

.comments-cr {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.comment-timestamp-link {
    @include faint;
}

.comment-author {
    
    .author-avatar {
        position: absolute;
        top: 0;
        left: 0;
        
        .avatar {
            @include circle;
        }
    }
}

.comment-ct {
    @include avatar-adjust;   
}

.comment-message {
    margin: auto;
    @include font-size-rem($font-m);
    font-style: normal;
    font-family: inherit;
    
    p {
        margin-bottom: .5rem;
    }
    
    blockquote {
        color: $color-quote-text;
    }

}

.comment-author-name {
    margin-top: -1.25rem;
    padding-right: 5rem;
}

.comment-action {
    @include avatar-adjust;
    margin-top: .5rem;
    
    .action-item {
        display: inline-block;
        margin-right: 1rem;
        
        &:lasd-child {
            margin-right: auto;
        }
        
    }
    
}


.comment-form {
    
    textarea {
        height: 4.25rem;
        min-height: 2.5rem;
        max-height: 7.25rem;
    }
}


.comment-form-signed-in-as {
    display: inline-block;
}

.comment-form-action {
    display: inline-block;
    margin-left: 1rem;
}

.note-optional {
    @include faint;
}

.form-submit {
    margin-top: 1rem;
}

.comment-respond {
    margin-top: 1rem;
    padding: 0 1rem;
    
    .comment & {
        padding-left: $avatar-size + 1;
    }
    
    small {
        @include font-size-rem($font-m);
    }
    
    .verb-subject {
        @extend %vhide;
    }
}

#cancel-comment-reply-link {
    padding: 1rem;
}

.comment-form-admin {
    margin-bottom: 1rem;
}

.comment-reply-title {
    @include font-size-rem($font-l);
}

.comment-pending {
    margin-bottom: auto;
    @include faint;
    font-style: italic;
}