// Center footer navigation
@mixin footer-nav-center {
    
    .site-footer {
        
        .widget_nav_menu {
           
            .menu {
                @include unlist;
                @include center-list;
                
                a {
                    display: block;
                    padding: 1rem;
                }
           
            }
        }
        
    
    }

}

@include footer-nav-center;

.site-info {
    padding: 1rem;
}