label {
    margin-bottom: .5rem;
    font-weight: bold;
    
    &[for] {
        cursor: pointer;
    }
    
}


#{$form-input-type-text} {
    padding: .75rem;
}


#{$form-buttons} {
    margin-top: 1rem;
    padding: .75rem;
    line-height: normal;
}