// White Overlay
// JS-inserted Class Name
.html.hs-state__js--enabled:after
{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}

// Document Ready Counter-Effect
.html.hs-state__document--ready:after
{
    display: none;
}