blockquote {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    @include font-size-rem($font-xl);
    
    cite {
        display: block;
        margin-top: 1rem;
    }
    
}

q {
    @include font-size-rem( $font-xl );
}