$px-size-base: 16;


// Media Query
$legacy: 240;
$mobile: 320;
$moblet: 480;
$phablet: 600;
$tablet: 768;
$monitor: 980;
$desktop: 1024;
$widescreen: 1280;
$moviehouse: 1440;
$theater: 1600;
$minorityreport: 1920;
$cinema: 2560;
$lifebook: 3200;