input {
    width: 100%;
}

button {
    width: 100%;
    min-height: 2.5rem;
}

textarea {
    @include size(100%, 2.5rem);
    min-height: 2.5rem;
}

#{$form-input-type-text},
textarea {
    @include input-type-text-style;
}

button,
input[type="submit"],
input[type="reset"] {
    padding: .35rem .75rem;
    line-height: normal;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

label[for] {
    
    &:hover {
        cursor: pointer;
    }
    
}