ul, ol {
    margin-left: 2rem;
}


li {
    margin-bottom: $bottom-space-s;
    
    p:first-child {
        margin-top: 1rem;
    }
    
}


ol, ul {
    
    li {
        
        > ol, > ul {
            margin-top: $bottom-space-s;
        }
    
        #{$heading-tags} {
            margin-top: 1rem;
        }
        
    }
    
}