ol, ul {
    margin-left: 2rem;   
    
    &:last-child {
        margin-bottom: auto;
    }
}


li {
    margin-bottom: $bottom-space-s;
    
    p:first-child {
        margin-top: 1rem;
    }
    
    > ol, > ul {
            margin-top: $bottom-space-s;
        }
    
        #{$heading-tags} {
            
            &:last-child {
                margin-bottom: auto;
            }
            
        }
        
        @each $item in $heading-tags {
        
            &:first-child {

                // If direct descendant combinator (>) is needed, use @each directive
                > #{$item} {
                    margin-top: auto;
                }

            }

        }
    
}