@mixin placeholder($color: $color-placeholder-text) {

    ::-webkit-input-placeholder {
        color: $color;
    }

    ::-moz-placeholder {
        color: $color;
    }

    :-ms-input-placeholder {
        color: $color;
    }
    
}

@include placeholder($color-placeholder-text);