blockquote {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    @include font-size-rem($font-l);
    font-family: $font-family-quote;
    color: $gray50;
}

q {
    font-family: $font-family-quote;
}