blockquote {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    @include font-size-rem($font-m-l);
    font-family: $font-family-quote;
    
    cite {
        display: block;
        margin-top: 1rem;
        text-align: right;
    }
    
}

q {
    font-family: $font-family-quote;
}