tr {
    @include transition( background-color );
    
    &:hover {
        background-color: rgba( $color-secondary, .05 );
    }
    
    // Zebra-stripes
    &:nth-child( even ) {
        background-color: rgba( $color-primary, .025 );
        
        &:hover {
            background-color: rgba( $color-secondary, .05 );
        }
        
    }
    
}