.hs-theme--hopscotch
{    

    // Reset: Unlist
    .article-entry-comments-actions_grp,
    .article-entry-nav_grp,
    .comment-entry-axn_grp,
    .article-entry-admin_grp,
    .comment-entry-admin_grp,
    .comment-form-admin-actions_grp,
    .primary-nav_ct ul
    {
        @extend %hs-reset--unlist !optional;
    }
    
    // Narrow Viewport
    // Choose if Media Query or Class-based
    &.hs-viewport--narrow
    {
        // Center Text
        .article-entry-title_name,
        .article-entry-hr_ct,
        .article-entry-fr_cr,
        .article-entry-nav_grp,
        .web-product-info_cr,
        .article-entry-admin_cr,
        .web-product-page-nav_cr,
        .article-entry-page-nav_cr
        {
            text-align: center;
        }
    }

    // Bleeding Featured Images
    .article-entry-banner_comp
    {
        // Offset (must be equal to the padding size)
        margin-left: -$gutter;
        margin-right: -$gutter;
    }
    
    // Rounded Avatars
    .author-avatar_cr
    {
        display: inline-block;
        border-radius: 50%;
        overflow: hidden;
        vertical-align: middle;
    }
}