@import 'default/utilities/visuals/style-guide';

//------------------------- Color Pairs
$color-light: $white;
$color-dark: $black;

$color-fg: $color-dark;
$color-bg: $color-light;
$color-fg-rev: $color-light;
$color-bg-rev: $color-dark;

// Text Links
$color-link-primary: $color-primary;
$color-link-secondary: $color-secondary;

// Element Highlighting
$color-selection: $color-light;
$color-selection-bg: $color-dark;