@import 'default/utilities/visuals/style-guide';

//------------------------- Color Pairs
$color-light: $white;
$color-dark: $black;

$color-fg: $color-dark;
$color-bg: $color-light;

$color-link-primary: $color-primary;
$color-link-secondary: $color-secondary;