html
{
    font-family: $font-family-custom;
}

a
{
    color: $color-link-primary;
    
    &:hover
    {
        text-decoration: none;
    }
}

::-moz-selection {
    color: $color-selection;
    background-color: $color-selection-bg;
}

::selection {
    color: $color-selection;
    background-color: $color-selection-bg;
}