html
{
    font-family: $font-family-custom, Helvetica, Arial, sans-serif;
}

// Links
a
{
    color: $color-link-primary;
    
    &:hover
    {
        text-decoration: none;
    }
}


// Selections
::-moz-selection {
    color: $color-selection;
    background-color: $color-selection-bg;
}

::selection {
    color: $color-selection;
    background-color: $color-selection-bg;
}