// Patch Declaration: Visually Hidden Reverse
// Based on HTML5 Boilerplate main.css
// https://github.com/h5bp/html5-boilerplate/blob/master/dist/css/main.css

@mixin hs-patch--visually-hidden-reverse {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

%hs-patch--visually-hidden-reverse {
    @include hs-patch--visually-hidden-reverse;
}