@mixin ui-meta-dashboard {

    // Entry Meta (Publish timestamp, Author, Category)
    .entry.ui-type__entry-meta--meta-dashboard .entry-hr .entry-meta {

        position: absolute;
        top: 0;
        right: 100%;

        margin-top: .25rem;
        margin-right: 2rem;
        margin-bottom: 0;

        width: 10rem;

        .entry-meta-cr {

            @include cf;
            // @include borderstyle-perforated( $pos: right );
            padding-right: $gutter;

        }

        .entry-timestamp {

            float: right;
            margin-right: 0;
            margin-bottom: 1rem;

            .label {

                @include vhide;

            }

        }

        .entry-byline {

            clear: right;
            float: right;

            .label-preposition {
                @include vhide;

            }

            .author {
                float: right;

            }

        }

        .category-list {

            clear: right;
            float: right;
            margin-top: 1rem;
            margin-right: -.5rem;
            text-align: right;

        }

    }

    // Dashboard UI type + Thumbnail active
    .entry.ui-state__entry-thumbnail--active.ui-type__entry-meta--meta-dashboard .entry-hr .entry-meta {
        margin-top: 6rem;
    }


    .entry.ui-type__entry-meta--meta-dashboard .entry-hr .entry-meta {

        .entry-date {

            display: block;
            padding: .5rem;
            border-radius: $radius-s;
            text-align: center;
            line-height: 1;
            @include linkstyle-nudge;

            // Style
            background-color: rgba( $color-secondary, .0625 );
            @include transition( background-color );

            &:hover {

                color: #fff;
                background-color: $color-secondary;

            }

        }

        .date-month {

            display: block;
            text-transform: uppercase;

        }

        .date-day {

            display: block;
            @include font-size-rem( $font-l );

        }

        .date-year {

            display: block;

        }

        .punctuation {

            @include vhide;

        }

    }


    .entry.ui-state__entry-thumbnail--active.ui-type__entry-meta--meta-dashboard .entry-hr .entry-thumbnail {
        margin-right: 2rem;
    }
    

    .entry.ui-type__entry-meta--meta-dashboard .entry-hr .entry-timestamp-link {

        &:hover {
            color: $white;
        }

    }
    
}