//------------------------- Font Family
$font-family-custom: Raleway;
$font-family-quote: Gerogia;


//------------------------- Color Scheme
$color-primary: $blue-superhero;
$color-secondary: $green-go;