@mixin button-style-default {
    color: $white;
    background-color: $color-button-default;
    @include corner-radius( $radius-s );
    @include transition( background-color );
    overflow: hidden;

    &[data-state-form-element="focused"],
    &:hover {
        background-color: saturate($color-button-default, 25%);
    }
    
    &:active {
        @include transform(translate(0, $one));
    }
    
}

@mixin reset-button-style {
    background-color: transparent;
    border: none;
}


//------------------------- Buttonizer primary (hollow button style)
@mixin buttonizer($level: primary) {
    @extend %transition-bg-color;
    display: inline-block;
    padding: .25rem .5rem; 
    color: $color-link-primary;
    border-width: $one;
    border-style: solid;
    border-color: currentColor;
    @include corner-radius($radius-s);
    text-transform: uppercase;
    
    &:hover {
        color: $white;
        background-color: $color-link-primary;
        text-decoration: none;
        border-width: $one;
        border-style: solid;
    }
    
    @if $level == 'secondary' {
        color: $color-link-secondary;
        border-color: currentColor;
        
        &:hover {
            background-color: $color-link-secondary;
        }
        
    }
    
}

%buttonizer-primary {
    @include buttonizer;
}

%buttonizer-secondary {
    @include buttonizer(secondary);
}