@mixin button-style-default {
    color: $white;
    
    @include button-style-default-theme;
    
    @include corner-radius( $radius-s );
    @include transition( background-color );
    overflow: hidden;

    &:active {
        @include transform(translate(0, $one));
    }
    
}

@mixin reset-button-style {
    background-color: transparent;
    border: none;
}


//------------------------- Buttonizer primary (hollow button style)



@mixin buttonizer-theme {
    color: $color-link-primary;
    
    &:hover {
        color: $white;
        background-color: $color-link-primary;
    }
    
}


@mixin buttonizer($level: primary) {
    @extend %transition-bg-color;
    @include buttonizer-theme;
    display: inline-block;
    padding: .25rem .5rem; 
    border-width: $one;
    border-style: solid;
    border-color: currentColor;
    @include corner-radius($radius-s);
    text-transform: uppercase;
    
    &:hover {
        text-decoration: none;
        border-width: $one;
        border-style: solid;
    }
    
    @if $level == 'secondary' {
        color: $color-link-secondary;
        border-color: currentColor;
        
        &:hover {
            background-color: $color-link-secondary;
        }
        
    }
    
}

%buttonizer-primary {
    @include buttonizer;
}

%buttonizer-secondary {
    @include buttonizer(secondary);
}