// Header Theme
@mixin header-semi-compact-theme {
        
    .masthead {
        background-color: $color-masthead-bg;
    }
    
    .site-title-link {
        color: $white;
        @include transition( background-color );
        
        &:hover {
            background-color: $color-masthead-hightlight-bg;
        }
        
        &:active {
            color: rgba( $color-masthead-fg, .85 );
            background-color: darken( $color-masthead-hightlight-bg, 5% );
        }
        
    }
    
    
    // Main navigation
    div.nav-menu {
        
        > ul {
            
            > {
                
                li {
        
                    > a {
                        color: $white;
                    }
                    
                }
                
            }
            
            .page_item_has_children,
            .menu-item-has-children {
                
                > a {
                    
                    &:after {
                
                        // Nav link and icon hint divider
                        @include transition( border-right-color );
                        border-right-color: rgba( $white, .35 );

                    }
            
                    &:hover:after {

                        // Remove nav link and icon hint divider
                        border-right-color: transparent;

                    }
                    
                }
                
            }
            
        }
    
        // Horizontal highlight
        .current_page_item {

            @include pseudo-content(before) {

                // Horizonal highlight - for main nav
                background-color: $darken10;

            }

        }
        
    } // div.nav-menu

}


// Search Theme
@mixin search-header-reverse-theme {
    
    .header-sidebar .search-control .icon,
    .header-sidebar .search-submit .icon {
        fill: $color-masthead-icon;
    }
    
    .header-sidebar .search-form {
        background-color: $color-masthead-bg;
    }
    
    [data-state-search="active"] .header-sidebar .search-form {
        background-color: darken( $color-masthead-bg, 5% );
    }
    
    .header-sidebar .search-input {
        background-color: transparent;
        color: $color-masthead-fg;
    }
    
    @include placeholder( $color-masthead-fg );
    
}


@mixin searchbar-side-fade-theme {
    
    .header-sidebar {

        .search-form {

            &:after {
                @include background-image( linear-gradient( left,  rgba( $color-masthead-bg, 0 ) 0%, $color-masthead-bg 100% ) );

            }

        }

    }

}