//------------------------- Layout SASS
// Usage: Rules concerning design layout


@mixin fixed-header {
    
    .masthead {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        @include z( $layer1 );
    }
    
    .main {
        padding-top: $block-l;
    }
    
}


// Positions the search at the top-right corner of the header
@mixin corner-search {
    
    .masthead-cr {
        position: relative;
    }
    
    .header-sidebar {
        
        .search {
            position: absolute;
            top: 0;
            right: 0;
        }
        
    }
    
}


// Reverses the effect of corner-search
@mixin corner-search-rev {
    
    .masthead-cr {
        position: static;
    }
    
    .header-sidebar {
        
        .search {
            position: static;
            top: auto;
            right: auto;
        }
        
    }
    
}


//------------------------- Header for Narrow Mode
@mixin header-compact {
    
    .masthead-cr {
        @include cf;        
        position: relative;
        
        // Activate if there needs to be a fixed height
        height: $block-l;
    }
    
    .masthead-header {
        @include valign-mid;
        text-align: center;
        height: $block-l;
        overflow: hidden;
    }
    
    .site-title-heading {
        margin-bottom: auto;
        @include font-size-rem($font-m-l);
        font-weight: 700;
        line-height: normal;
    }
    
    .header-sidebar {
    
        .widget_search {
            @include position($t: 0, $r: 0);
            @include z($layer1);
        }
        
    }
    
    .site-description {
        @include vhide;
    }
    
    .main-navigation {
        @include valign-mid;
        float: left;
    }
    
    .main-navigation-heading {
        position: relative;
        @include z($layer1+1);
    
        .status-mobile-main-nav-active & {
            
            .icon {
                fill: #fff;
                opacity: .85;
                
                &:hover {
                    opacity: 1;
                }
            }
            
        }
        
    }

}


//------------------------- Search theme light
@mixin search-header-reverse {
    
    .header-sidebar .search-control {
        opacity: .75;
        @include transition( opacity );
    }
    
    .header-sidebar .search-control:hover {
        opacity: 1;
    }
    
}


//------------------------- Header Search - fading color to overlap other elements
@mixin searchbar-side-fade {

    .header-sidebar {

        .search-form {
            position: relative;

            &:after {
                content: '';
                position: absolute;
                top: 0;
                right: 100%;
                width: $block-l;
                height: 100%;
            }

        }

    }
    
}


//------------------------- Header for Wide Mode
@mixin header-semi-compact {
    
    // Colored bg, white icon
    @include corner-search-rev;
    
    // Mobile first
    @include header-compact;
    
    // Colors
    @include header-semi-compact-theme;
    
    // Search
    @include search-header-reverse;
    @include search-header-reverse-theme;
    @include searchbar-side-fade;
    @include searchbar-side-fade-theme;
    
    .masthead-cr {
        text-align: left;
        height: auto;
        min-height: $block-l;
    }
    
    .site-title-link {
        padding: 0 1rem;
        line-height: $block-l;
        
        &:hover {
            text-decoration: none;
        }
    }
    
    div.nav-menu > ul > li {
        
        > a {
            color: $white;
            
            &:hover {
                text-decoration: none;
            }
            
        }
        
    }
    
    .main-navigation {
        float: none;
    }

}


//------------------------- Simple Header
@mixin header-plain-text {
    
    .masthead-cr {
        position: relative;
        padding-bottom: 1rem;
    }
    
    .masthead-header {
        padding: 1rem
    }
    
    .site-title-heading {
        margin-bottom: auto;
        @include font-size-rem($font-xl);
        line-height: normal;
    } 
    
    .site-title-link {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
    .header-sidebar {
        margin-top: auto;
        @include position($t: 0, $r: 0);
    }
    
    .main-navigation {
        display: inline-block;
    }

    .site-description {
        @include faint;
    }
    
    @include corner-search;

}