//------------------------- Link Styles

@mixin linkstyle-reset {
    text-decoration: none;
    border: none;
}

@mixin linkstyle-primary {
    @include linkstyle-reset;
    
    color: $color-primary;
    
    &:hover {
        color: $color-primary;
        border-bottom: $one dotted currentColor;
    }
    
}

@mixin linkstyle-secondary {
    @include linkstyle-reset;
    
    color: rgba($color-link-tertiary, .75);
    border-bottom: $one dotted currentColor;
    
    &:hover {
        color: rgba($color-link-tertiary, 1);
        border-bottom: none;
        text-decoration: none;
    }
}

@mixin linkstyle-tertiary {  
    @include linkstyle-reset;  
    
    @include linkstyle-secondary;
    border-bottom: none;  
    
    &:hover {
        border-bottom: $one dotted currentColor;
    }
    
}


// A simple link with border as underline
@mixin linkstyle-faint {
    @include linkstyle-reset; 
    color: $gray35;
    border-bottom: $one dotted $gray65;
    @include transition( color );
    
    &:hover {
        color: $color-link-primary;
        text-decoration: none;
        border-bottom: none;
    }
    
}


// Colored box
@mixin linkstyle-boxed {
    @include linkstyle-reset; 
    display: inline-block;
    margin: .25rem;
    margin-left: -.25rem;
    margin-right: .5rem;
    padding: .25rem .5rem;
        
    color: $gray35;
    background-color: $gray95;

    @include corner-radius( $radius-s );
    @include transition( background-color );
    
    vertical-align: middle;
    line-height: normal;

    &:hover {
        color: $gray15;
        background-color: $gray90;
    }
    
}


// Content navigation
@mixin linkstyle-highlight {
    @include linkstyle-reset;    
    padding: 1rem;
    color: $color-link-primary;
    @include corner-radius( $radius-s );
    @include transition( background-color );

    &:hover {
        background-color: rgba( $color-link-primary, .1 );
    }
    
}


@mixin linkstyle-cube {
    @include linkstyle-reset; 
    display: inline-block;
    padding: 1rem;
    min-width: $block-m;
    min-height: $block-m;
    line-height: 1;
    text-align: center;
    vertical-align: middle;
}


@mixin linkstyle-cube-current {
    @include linkstyle-reset; 
    color: $white;
    background-color: $color-primary;
    @include corner-radius( $radius-s );
    overflow: visible;
}