@mixin linkstyle-highlight-theme {
    color: $color-link-primary;

    &:hover {
        background-color: rgba( $color-link-primary, .1 );
    }
    
}


@mixin linkstyle-highlight-current-theme {
    color: $white;
    background-color: $color-primary;
}


@mixin linkstyle-faint-theme {
    color: $gray35;
    border-bottom-color: $gray65;
    
    &:hover {
        color: $color-link-primary;
    }
    
}


@mixin linkstyle-boxed-theme {
    color: $gray35;
    background-color: $gray95;

    &:hover {
        color: $white;
        background-color: $color-link-secondary;
    }
    
}


@mixin buttonizer-theme {
    color: $color-link-primary;
    
    &:hover {
        color: $white;
        background-color: $color-link-primary;
    }
    
}