@mixin triangle( $direction: bottom, $color: #000, $size: .375rem ) {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: $size;
    border-#{$direction}-width: 0;
    border-color: $color;
    border-color: transparent;
    
    @if $direction == 'bottom' {
        border-top-color: $color;
    } @else {
        border-bottom-color: $color;
    }
}