.hs-theme--hopscotch
{
    //------------------------- Default
    .primary-nav_ct li a
    {
        text-decoration: none;
    }
    
    .web-product-header-name_axn
    {
        text-decoration: none;
        
        &:hover
        {
            @include transition--basic;
        }
    }
    
    .search-form_input:focus
    {
        outline: none;
    }
    
    //------------------------- JS
    &.js
    {
        .web-product-header_comp
        {
            @include media-query( $viewport-wide )
            {
                float: left;
            }
        }
    }
    
    .masthead_cr
    {
        @include media-query( $viewport-wide )
        {
            @include hs-patch--clearfix;
        }
    }
    
    //------------------------- Content Sidebar
    .hs-state__content-sidebar--disabled
    {
        &.page
        {
            .article-entry_comp
            {
                &:last-of-type
                {
                    // Reset
                    border-bottom: 0;
                }
            }
        }
    }
    
    //------------------------- Form
    form
    {
        input[type="submit"]
        {
            @include transition--basic;
            
            // Reset
            border: 0;
            
            &:active
            {
                @include transform( translate-y( -1px ) );
            }
        }
    }
    
    //------------------------- Vines - Sub-Nav
    &.hs-feature__primary-nav--vines
    {
        // Var
        $vines-current-page-indicator-size: .375rem;
        
        .primary-nav_ct
        {
            a
            {                        
                @include transition--basic;
            }
            
            .current_page_item
            {
                > a
                {
                    position: relative;

                    &:after
                    {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        @include dimensions( $vines-current-page-indicator-size, 100% );
                    }
                }
            }
            
            .current_page_ancestor
            {
                > a
                {
                    font-weight: bold;
                }
            }
        }
        
        // First-Level Items only
        .primary-nav_ct
        {
            > ul
            {
                > .current_page_item
                {
                    > a:after
                    {
                        @include media-query( $viewport-wide )
                        {
                            // Counter
                            top: auto;

                            bottom: 0;
                            @include dimensions( 100%, $vines-current-page-indicator-size );
                        }
                    }
                }
            }
        }
        
        &.js
        {
            .primary-sub-nav-toggle_axn
            {
                &:after,
                &:focus:after
                {
                    margin-top: -.375rem;
                    margin-right: -.375rem;
                    @include dimensions( .75rem );
                    @include transition--basic;
                }
                
                &:hover:after,
                &:focus:after
                {
                    margin-top: -.5rem;
                    margin-right: -.5rem;
                    @include dimensions( 1rem );
                }
            
                &:focus
                {
                    outline: 0;
                }
                
                // Icon
                &:after
                {
                    // Uses SVG to have hi-res icon
                    background-image: url( ../img/icon-arrow-down-rev.svg );
                }
            }
        }
    }
    
    //------------------------- String Beans - Tag
    &.hs-mod__tag--string-beans
    {        
        .article-entry-category-tag_cr
        {
            @include margin-x( -$gutter-xxs );
        }
        
        .tag_comp a
        {
            text-decoration: none;
            border-radius: $radius-xs;
            @include transition--basic;
        }
        
        .article-entry-tag_cr
        {
            margin-left: -$radius;
        }
        
        .tag-tag_accessible-name
        {
            margin-left: -$gutter-xxxs;
        }
    }
    
    //------------------------- Entry - Article and Comments
    .article-entry-modified-timestamp_comp,  
    .category-tag_accessible-name
    {
        @extend %hs-patch--visually-hidden !optional;
    }
    
    .hs-state__article-entry-comments--populated
    {
        .article-entry-comments-actions_item
        {
            a
            {
                text-decoration: none;
            }
            
            .subj_label
            {
                vertical-align: middle;
            }
        }        
    }
    
    .hs-state__article-entry-comments--empty
    {    
        &.hs-state__article-entry-comments--closed
        {
            .article-entry-comments-actions_comp
            {
                @extend %hs-patch--visually-hidden !optional;
            }
        }
        
        .blank-comments_notice
        {
            @extend %hs-patch--visually-hidden !optional;
        }
    }
    
    .article-entry-comments-actions_item
    {
        .pred_label .verb_label
        {
            @extend %hs-patch--visually-hidden !optional;
        }
        
        .comment-count_label
        {
            display: inline-block;
            margin-right: .125rem;
            @include dimensions( 1.5rem );
            vertical-align: middle;
            
            border-radius: 50%;
            
            font-size: $font-s;
            font-weight: bold;            
            text-align: center;
            line-height: 1.5rem;
        }
    }
    
    .comment-entry-published-timestamp_cr
    {
        // Var
        $breakpoint-comment: $moblet;
        
        @include media-query( $breakpoint-comment )
        {
            // Counter
            margin-right: - $gutter;
        }
    }
    
    //------------------------- Read More / Show More Content
    .show-more-content_comp
    {
        display: block;
        margin-top: $gutter-l;
        text-align: center;
        
        @include media-query( $viewport-wide )
        {
            display: inline-block;
        }
    }
    
    .show-more-content_cr
    {
        display: inline-block;
        @include margin-x( 0 );
    }
    
    .show-more-content_axn
    {
        @extend %hs-nature--utility-blocker !optional;
        display: table-cell;
        @include padding-x( $gutter );
        border-radius: $radius-s;
        text-decoration: none;
        @include transition--basic;
    }
    
    //------------------------- Comments
    #cancel-comment-reply-link
    {
        .subj_label
        {
            @extend %hs-patch--visually-hidden !optional;
        }
    }
    
    .comment-reply-title
    {
        small
        {
            display: block;
        }
    }
    
    //------------------------- Articles    
    .article-entry_comp
    {
        border-bottom-width: $one;
        border-bottom-style: dotted;
        
        &:last-of-type
        {
            // Reset
            border-bottom: 0;
        }
    }
    
    .article-sub-entry_comp
    {
        .article-entry-title_name
        {
            text-align: left;
        }
        
        .article-entry_comp
        {
            border-bottom: 0;
        }
    }
    
    .comments_cr,
    .content-sidebar_cr
    {
        border-top-width: $one;
        border-top-style: dotted;
        
        @include media-query( $viewport-wide )
        {
            border-top: 0;
        }
    }
    
    //------------------------- Widgets
    .widget_recent_entries
    {        
        .post-date
        {
            display: inline-block;
            @include padding-x( $gutter-xxxs );
            
            border-radius: $radius-xs;
            
            font-size: $font-xs;
            
            white-space: nowrap;
        }
    }
    
    //------------------------- Old China Shop - Timestamp
    &.hs-mod__timestamp--old-china-shop
    {
        // Var
        $timestamp-width: 96;
        
        .article-entry-hr_cr
        {
            @include media-query( $desktop + $timestamp-width  )
            {
                position: relative;
            }
        }

        // Timestamp
        .article-entry-published-timestamp_comp
        {
            @include media-query( $desktop + $timestamp-width  )
            {
                position: absolute;
                top: 0;
                right: 100%;
            }

            .timestamp_axn
            {
                border-radius: $radius-s;
            }
        }

        .article-entry-published-timestamp_cr
        {
            @include media-query( $desktop + $timestamp-width  )
            {
                // Reset
                padding: 0;
            }
        }
        
        
    }
    
    //------------------------- Peeler
    &.hs-mod__show-content--peeler
    {
        &.js
        {
            .show-content_axn
            {
                text-decoration: none;
                border-radius: $radius-button;
            }
        }
    }
    
    //------------------------- Author
    .entry-author-avatar_axn
    {
        border-radius: 50%;
        overflow: hidden;
    }
    
    //------------------------- Trollolo - Comments
    &.hs-mod__comments--trollolo
    {
        .comment-entry_cr
        {
            padding-bottom: $gutter;
        }
    }
    
    //------------------------- Showboxed - Actions
    &.hs-mod__actions--shoeboxed
    {
        .article-entry-title_name,
        .article-entry-admin_comp,
        .comment-admin-sign-in_comp,
        .comment-form-admin-actions_comp,
        .comment-entry-author_comp,
        .comment-entry-admin_comp,
        .comment-reply-title small
        {
            display: inline-block;
            vertical-align: middle
        }
        
        .article-entry-admin_item,
        .comment-form-admin-actions-sign-out_item,
        .comment-entry-admin_item,
        .comment-entry-reply_item,
        .comment-reply-title
        {
            a
            {
                border-radius: $radius-xs;
            }
        }
        
        .logged-in
        {
            .article-entry-hr_hr
            {
                text-align: center;
                
                @include media-query( $viewport-wide )
                {
                    text-align: left;
                }
            }
            
            .article-entry-title_name,
            .comment-admin-sign-in_comp,
            .comment-entry-author_comp
            {
                margin-right: -$gutter-l;
            }
        }
        
        .comment-reply-title small
        {
            margin-left: $gutter;
        }
    }
    
    // Forms
    
    #{$text-input-objects},
    .text_input,
    select,
    #{$button-objects}
    {
        border-radius: $radius-s;
    }
    
    // Center Text
    // Places the text of a content at the center of the container
    @include media-query( $viewport-wide, max )
    {
        .article-entry-title_name,
        .article-entry-hr_hr,
        .article-entry-hr_ct,
        .article-entry-nav_grp,
        .web-product-info_cr,
        .article-entry-page-nav_cr,
        .web-product-theme-info_label,
        .article-entry-admin_cr,
        .copyright-info_label,
        .content-hr_accessible-name,
        .primary-content_desc,
        .comments-count_cr,
        .comment-admin_cr,
        .comment-reply-title,
        .comments_accessible-name,
        .comments-commenting-disabled_note,
        .breadcrumb-nav_cr,
        .comment-reply-title small
        {
            text-align: center;
        }

        .article-entry-admin_item,
        .article-entry-comments-actions_item,
        .comment-form-admin-actions-sign-out_item
        {
            display: inline-block;
        }

        .comment-reply-title small
        {
            display: block;
        }
    }
        
    // Visibility
    .article-entry-admin_item,
    .comment-entry-admin_item
    {
        .subj_label
        {
            @extend %hs-patch--visually-hidden !optional;
        }
    }
    
    .comment-reply-link
    {
        .prep_label,
        .subj_label
        {
            @extend %hs-patch--visually-hidden !optional;
        }
    }
}