.hs-theme--hopscotch
{
    //------------------------- Default
    .primary-nav_ct li a
    {
        text-decoration: none;
    }
    
    .web-product-header-name_axn
    {
        text-decoration: none;
        
        &:hover
        {
            @include transition--basic;
        }
    }
    
    .masthead_sidebar
    {
        .search-form_input:focus
        {
            outline: none;
        }
    }
    
    //------------------------- JS
    &.js
    {
        .web-product-header_comp
        {
            @include media-query( $viewport-wide )
            {
                float: left;
            }
        }
    }
    
    .masthead_cr
    {
        @include media-query( $viewport-wide )
        {
            @include hs-patch--clearfix;
        }
    }
    
    //------------------------- Vines - Sub-Nav
    &.hs-feature__primary-nav--vines
    {
        // Var
        $vines-current-page-indicator-size: .375rem;
        
        .primary-nav_ct
        {
            .current_page_item
            {
                > a
                {
                    position: relative;

                    &:after
                    {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        @include dimensions( $vines-current-page-indicator-size, 100% );
                    }
                }
            }
            
            .current_page_ancestor
            {
                > a
                {
                    font-weight: bold;
                }
            }
        }
        
        // First-Level Items only
        .primary-nav_ct
        {
            > ul
            {
                > .current_page_item
                {
                    > a:after
                    {
                        @include media-query( $viewport-wide )
                        {
                            // Counter
                            top: auto;

                            bottom: 0;
                            @include dimensions( 100%, $vines-current-page-indicator-size );
                        }
                    }
                }
            }
        }
        
        &.js
        {
            .primary-sub-nav-toggle_axn
            {
                &:after,
                &:focus:after
                {
                    margin-top: -.375rem;
                    margin-right: -.375rem;
                    @include dimensions( .75rem );
                    @include transition--basic;
                }
                
                &:hover:after,
                &:focus:after
                {
                    margin-top: -.5rem;
                    margin-right: -.5rem;
                    @include dimensions( 1rem );
                }
            
                &:focus
                {
                    outline: 0;
                }
            }
        }
    }
    
    //------------------------- String Beans - Tag
    &.hs-mod__tag--string-beans
    {        
        .tag_cr
        {
            @include margin-x( -.25rem );
        }
        
        .tag_comp a
        {
            text-decoration: none;
            border-radius: $radius-xs;
            @include transition--basic;
        }
        
        .tag_accessible-name
        {
            margin-left: -$gutter-xxs;
        }
    }
    
    //------------------------- Entry - Article and Comments
    .article-entry-modified-timestamp_comp,    
    .article-entry-author_cr .pred_label,    
    .category-tag_accessible-name
    {
        @extend %hs-patch--visually-hidden !optional;
    }
    
    .hs-state__article-entry-comments--populated
    {
        .article-entry-comments-actions_item
        {
            a
            {
                text-decoration: none;
            }
            
            .subj_label
            {
                vertical-align: middle;
            }
        }        
    }
    
    .hs-state__article-entry-comments--closed
    {
        &.hs-state__article-entry-comments--empty
        {
            .article-entry-comments-actions_comp
            {
                @extend %hs-patch--visually-hidden !optional;
            }
        }
    }
    
    .article-entry-comments-actions_item
    {
        .pred_label .verb_label
        {
            @extend %hs-patch--visually-hidden !optional;
        }
        
        .comment-count_label
        {
            display: inline-block;
            margin-right: .125rem;
            vertical-align: middle;
            color: $white;
            background-color: $color-primary;
            border-radius: 50%;
            @include dimensions( 1.5rem );
            text-align: center;
            line-height: 1.5rem;
            font-size: $font-s;
            font-weight: bold;
        }
    }
    
    //------------------------- Read More / Show More Content
    .show-more-content_comp
    {
        display: block;
        margin-top: $gutter-l;
        text-align: center;
        
        @include media-query( $viewport-wide )
        {
            display: inline-block;
        }
    }
    
    .show-more-content_cr
    {
        @include margin-x( 0 );
    }
    
    .show-more-content_axn
    {
        @include padding-x( $gutter );
        background-color: $color-primary;
        border-radius: $radius-s;
        color: $white;
        text-decoration: none;
    }
    
    //------------------------- Comments
    .comment-entry_comp
    {
        margin-bottom: $gutter;
        @include padding-x( $gutter );
    }
    
    .comment-entry_cr
    {
        border: $one dotted $faint;
    }
    
    .comment-entry-author_cr .pred_label,
    .comment-entry-published-timestamp_cr .pred_label
    {
        @extend %hs-patch--visually-hidden !optional;
    }
    
    //------------------------- Widgets
    .widget_recent_entries
    {
        a
        {
            margin-right: $gutter-xs;
        }
        
        .post-date
        {
            display: inline-block;
            background-color: $faint;
            @include padding-x( $gutter-xxxs );
            color: white;
            font-size: $font-xs;
            border-radius: $radius-xs;
        }
    }
    
    //------------------------- Old China Shop - Timestamp
    &.hs-mod__timestamp--old-china-shop
    {
        @include media-query( $moviehouse )
        {
            .article-entry-hr_cr
            {
                position: relative;
            }

            // Timestamp
            .article-entry-published-timestamp_comp
            {
                position: absolute;
                top: 0;
                right: 100%;
            }

            .article-entry-published-timestamp_cr
            {
                // Reset
                padding: 0;
            }
        }
    }
}