// Rounded Images

@mixin hs-rule--rounded-images
{
    .author-avatar_cr
    {
        display: inline-block;
        border-radius: 50%;
        overflow: hidden;
        vertical-align: middle;
    }
}