//------------------------- Background image
// For icons shown thru background-image
// Usage: @include background-image-icon('../img/icon.svg');

@mixin background-image-icon($url) {
    background-image: url($url);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}