.entry-cr {
    
    .entry.ui-type__entry-meta--meta-dashboard & {
    
        @include mq( $moviehouse ) {
            min-height: 15rem;
        }
    
    }
    
    .entry.ui-state__entry-thumbnail--active.ui-type__entry-meta--meta-dashboard & {
    
        @include mq( $moviehouse ) {
            min-height: 20rem;
        }
    
    }
    
}


.entry-hr-cr {
    
    .entry.ui-type__entry-meta--meta-dashboard & {
        
        @include mq( $moviehouse ) {
            position: relative;
        }
        
    }
    
}


// Entry Meta (Publish timestamp, Author, Category)
.entry-meta {
    
    .entry.ui-type__entry-meta--meta-dashboard .entry-hr & {
        
        @include mq( $moviehouse ) {
            position: absolute;
            top: 0;
            right: 100%;

            margin-top: .25rem;
            margin-right: 2rem;
            margin-bottom: 0;

            width: 10rem;
        }
        
        .entry-meta-cr {
            
            @include mq( $moviehouse ) {
                @include cf;
                // @include borderstyle-perforated( $pos: right );
                padding-right: $gutter;
            }
            
        }
        
        .entry-timestamp {
            
            @include mq( $moviehouse ) {
                float: right;
                margin-right: 0;
                margin-bottom: 1rem;
            }
            
            .label {
                
                @include mq( $moviehouse ) {
                    @include vhide;
                }
                
            }
            
        }
        
        .entry-byline {
            
            @include mq( $moviehouse ) {
                clear: right;
                float: right;
            }
            
            .label-preposition {
                @include mq( $moviehouse ) {
                    @include vhide;
                }
                
            }
            
            .author {
                @include mq( $moviehouse ) {
                    float: right;
                }
                
            }
            
        }
        
        .category-list {
            
            @include mq( $moviehouse ) {
                clear: right;
                float: right;
                margin-top: 1rem;
                margin-right: -.5rem;
                text-align: right;
            }
            
        }
        
    }
    
    // Dashboard UI type + Thumbnail active
    .entry.ui-state__entry-thumbnail--active.ui-type__entry-meta--meta-dashboard .entry-hr & {
        
        @include mq( $moviehouse ) {
            margin-top: 6rem;
        }
        
    }
    
}


.entry-timestamp-time {
    
    .entry.ui-type__entry-meta--meta-dashboard .entry-hr & {
        
        .entry-date {
            
            @include mq( $moviehouse ) {
                display: block;
                padding: .5rem;
                border-radius: $radius-s;
                text-align: center;
                line-height: 1;
                @include linkstyle-nudge;
                
                // Style
                background-color: rgba( $color-secondary, .0625 );
                @include transition( background-color );
                
                &:hover {
                
                    @include mq( $moviehouse ) {
                        color: #fff;
                        background-color: $color-secondary;
                    }

                }
                
            }
            
        }
        
        .date-month {
            
            @include mq( $moviehouse ) {
                display: block;
                text-transform: uppercase;
            }
            
        }
        
        .date-day {
            
            @include mq( $moviehouse ) {
                display: block;
                @include font-size-rem( $font-l );
            }
            
        }
        
        .date-year {
            
            @include mq( $moviehouse ) {
                display: block;
            }
            
        }
    
        .punctuation {
            
            @include mq( $moviehouse ) {
                @include vhide;
            }
            
        }
    
    }
    
}


.entry-thumbnail {
    
    .entry.ui-state__entry-thumbnail--active.ui-type__entry-meta--meta-dashboard .entry-hr & {
        margin-right: 2rem;
    }
    
}


.entry-timestamp-link {
    
    .entry.ui-type__entry-meta--meta-dashboard .entry-hr & {
        
        &:hover {
            color: $white;
        }
        
    }
    
}