//------------------------- Link Styles
@mixin linkstyle-primary {
    color: $color-primary;
}

@mixin linkstyle-secondary {
    color: rgba($color-link-tertiary, .75);
    border-bottom: $one dotted currentColor;
    
    &:hover {
        color: rgba($color-link-tertiary, 1);
        border-bottom: none;
        text-decoration: none;
    }
}

@mixin linkstyle-tertiary {    
    @include linkstyle-secondary;
    border-bottom: none;  
    
    &:hover {
        border-bottom: $one dotted currentColor;
    }
    
}