//------------------------- Text Styles
@mixin textstyle-label-primary {
    @include font-size-rem($font-s);
    @include faint;
    text-transform: uppercase;
}


@mixin input-type-text-style {
    padding: .5rem;
    min-height: 2.5rem;
    border: none;
    background-color: transparent;
}

//------------------------- Faint
@mixin faint {
    color: $gray50;
}

%faint {
    @include faint;
}