::-webkit-input-placeholder
{
   color: $color-placeholder;
}

// Firefox 18-
:-moz-placeholder
{
   color: $color-placeholder;  
}

// Firefox 19+
::-moz-placeholder
{
   color: $color-placeholder;  
}

:-ms-input-placeholder
{  
   color: $color-placeholder;  
}