.hs-mod__actions--shoeboxed
{
    .article-entry-admin_item,
    .comment-form-admin-actions-sign-out_item,
    .comment-entry-admin_item,
    .comment-entry-reply_item,
    .comment-reply-title
    {
        a
        {
            @extend %hs-nature--utility-blocker !optional;            
            display: table-cell;
            
            height: $text-block;
            
            border-width: 1px;
            border-style: solid;
            
            text-decoration: none;
        }
    }
}