.hs-mod__actions--shoeboxed
{
    .article-entry-admin_item,
    .comment-form-admin-actions-sign-out_item,
    .comment-entry-admin_item,
    .comment-entry-reply_item,
    .comment-reply-title
    {
        a
        {
            @include padding-x( $gutter-xs );            
            height: $text-block;
            
            border-width: 1px;
            border-style: solid;
            border-radius: $radius-xs;
            
            text-decoration: none;
        }
    }
    
    // Cancel out negative margin adjustment
    .article-entry-admin_grp,
    .comment-form-admin-actions_grp,
    .comment-entry-admin_grp,
    .comment-entry-axn_grp,
    .comment-reply-title small
    {
        @include margin-x( 0 );
    }
}