.hs-mod__comments--trollolo
{
    // Var
    $breakpoint-comment: $moblet;
    
    .comment-entry-ct_cr
    {
        // Reset
        padding-bottom: 0;
    }

    .comments-count_comp
    {
        .article-entry_label
        {
            font-weight: bold;
        }
    }

    .comment-entry-published-timestamp_comp
    {   
        .timestamp_axn
        {
            @extend %hs-nature--utility-blocker !optional;
            display: table-cell;

            font-size: $font-s;
            color: $gray;
            text-decoration: none;

            &:hover
            {
                text-decoration: underline;
            }
        }

        .timestamp-time_label
        {
            margin-left: $gutter-xxs;
        }
        
        @include media-query( $breakpoint-comment )
        {
            position: absolute;
            top: 0;
            right: 0;
            margin-top: - $gutter-xs;
            margin-right: - $gutter;
        }
    }
    
    .comment-entry-published-timestamp_cr
    {
        display: table;
        margin-top: - $gutter-s;
        width: 100%;
        text-align: center;
        
        // Reset
        @include margin-x( 0 );
        
        @include media-query( $breakpoint-comment )
        {
            // Counter
            margin-top: 0;
        }
    }
    
    .comment-entry_cr
    {
        @include media-query( $breakpoint-comment )
        {
            position: relative;
        }
    }

    // Author and Timestamp Side-by-Side
    .comment-entry-author_comp
    {
        text-align: center;
        @include media-query( $breakpoint-comment )
        {
            text-align: left;
        }
    }
}