// Content Superhero
// Places the primary content at the middle; the sidebar at the side

.hs-mod__content--superhero
{
    .hs-state__content-sidebar--enabled
    {
        @include media-query( $theater )
        {
            .content_ct
            {
                max-width: none;
            }

            .primary-content_comp
            {
                margin-right: -100%;
                width: 100%;
            }

            .primary-content_cr
            {
                @include margin-x( auto );
                max-width: $tablet-size;
            }

            .content_sidebar
            {
                max-width: $mobile-l-size;
            }
        }
    }
    
    .hs-state__colophon-sidebar--enabled
    {        
        .colophon-sidebar_cr
        {
            @include margin-x( auto );
            max-width: $tablet-size;
        }
    }
    
    .content-hr_cr,
    .web-product-page-nav_cr
    {
        text-align: center;
    }
}