.hs-mod__author--bloop
{
    .entry-author_cr
    {
        position: relative;
        display: inline-block;
        padding-left: $avatar-size;
    }

    .entry-author-avatar_comp
    {
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: convertRem( -$avatar-size-unitless / 2 );
    }

    .entry-author-name_label
    {
        // Reset
        margin-right: 0;
    }

    .entry-author-entries_axn,
    .comment-entry-author-name_label
    {
        @extend %hs-nature--utility-blocker !optional;
        display: table-cell;
        @include padding-x( .5rem );
        height: $avatar-size;
        text-align: left;
    }

    .entry-author-entries_axn
    {
        text-decoration: none;
    }
    
    
    .entry-author_cr .pred_label
    {
        @extend %hs-patch--visually-hidden !optional;
    }
}