.hs-mod__show-content--peeler
{   
    //------------------------- Default
    
    .show-content_axn
    {
        @extend %hs-patch--visually-hidden-reverse !optional;
        @extend %hs-nature--utility-blocker !optional;
        display: table-cell;
    }
    
    //------------------------- JS
    &.js
    {
        .show-content_comp
        {
            @extend %hs-patch--visually-hidden !optional;
        }
        
        .show-content_axn
        {
            @include padding-x( $gutter );
            text-decoration: none;
            border-radius: $radius-button;
        }
    
        .hs-state__show-content-axn--active
        {
            .container_cr
            {
                position: relative;
                height: 100%;

                &:after
                {
                    content: '';
                    position: fixed;
                    top: 0;
                    left: 0;
                    @include dimensions( 100% );
                    
                    background-color: $white;
                    z-index: $layer2;
                    opacity: .9;
                }
            }

            .show-content_comp
            {
                @extend %hs-patch--visually-hidden-reverse !optional;

                position: fixed;
                top: 50%;
                left: 50%;
                @include transform( translateX(-50%) translateY(-50%) );
                z-index: $layer1;
            }
        }
    }
    
    //------------------------- No JS
    &.no-js
    {
        .show-content_cr
        {
            display: table;
            width: 100%;
        }
        
        .show-content_axn
        {
            @include padding-x( $gutter );
            text-align: left;
        }
    }
}