// Tag: String Beans
// Modifies Categories and Tags to have a bigger active area and sit along in a line

.hs-mod__tag--string-beans
{
    .tag_comp
    {
        // Counter-Effect
        overflow: hidden;
        
        a,
        .accessible-name
        {
            display: inline-block;
            margin: .25rem;
            padding: $gutter-xxxs $gutter-xs;
        }

        .comma_separator
        {
            @extend %hs-patch--visually-hidden !optional;
        }

        .tag-tag_accessible-name
        {
            // Counter-Effect
            @include margin-x( -.5rem );
        }
    }

    .tag_cr
    {
        @extend %hs-patch--clearfix !optional;

        // Counter-Effect
        margin: -.25rem -1rem;
    }
}