// Tag: String Beans
// Modifies Categories and Tags to have a bigger active area and sit along in a line

.hs-mod__tag--string-beans
{
    .tag_comp
    {
        // Counter-Effect
        overflow: hidden;
        
        a,
        .accessible-name
        {
            display: inline-block;
            margin: $gutter-xxs;
            padding: $gutter-xxs $gutter-xs;
            line-height: 1;
        }
        
        .accessible-name
        {            
            // Counter-Effect
            margin-right: -$gutter-xxs;
        }

        .comma_separator
        {
            @extend %hs-patch--visually-hidden !optional;
        }
    }

    .tag_cr
    {
        @extend %hs-patch--clearfix !optional;

        // Counter-Effect
        margin: -$gutter-xxs -1.25rem;
    }
}