.hs-mod__timestamp--old-china-shop
{   
    @include media-query( $monitor )
    {
        .article-entry-hr_cr
        {
            position: relative;
        }

        // Timestamp
        .article-entry-published-timestamp_comp
        {
            position: absolute;
            top: 0;
            right: 100%;
        }

        .article-entry-published-timestamp_cr
        {
            // Reset
            padding: 0;
        }
    }

    .article-entry-published-timestamp_comp
    {
        .timestamp-date_label
        {
            text-align: center;

            > .label
            {
                display: block;
            }
        }

        .timestamp_axn
        {
            display: block;
            padding: $gutter-xxxs $gutter-xs;
            border-width: $one;
            border-style: solid;
            border-radius: $radius-s;
            line-height: 1;
        }

        .timestamp-day_label
        {
            font-size: $font-xl;
        }

        .timestamp-month_label,
        .timestamp-year_label
        {
            font-size: $font-xs;
        }

        .timestamp-month_label
        {
            text-transform: uppercase;
        }

        .timestamp_axn
        {
            display: inline-block;
            width: $block-l;
            text-decoration: none;
        }
    }
}