.hs-mod__timestamp--old-china-shop
{
    .article-entry-published-timestamp_comp
    {
        .timestamp-date_label
        {
            text-align: center;

            > .label
            {
                display: block;
            }
        }

        .timestamp_axn
        {
            display: inline-block;
            padding: $gutter-xxxs $gutter-xs;
            width: $block-l;
            border-width: $one;
            border-style: solid;
            line-height: 1;
            text-decoration: none;
        }

        .timestamp-day_label
        {
            font-size: $font-xl;
        }

        .timestamp-month_label,
        .timestamp-year_label
        {
            font-size: $font-xs;
        }

        .timestamp-month_label
        {
            text-transform: uppercase;
        }
        
        .pred_label
        {
            @extend %hs-patch--visually-hidden !optional;
        }
    }
}