// Similar Objects
$heading-objects: h1, h2, h3, h4, h5, h6;

$text-input-objects: "input[type='text'], input[type='email'], input[type='search'], input[type='password'], input[type='url'], textarea";

$button-objects: "button, input[type='submit'], input[type='password'], input[type='reset']";

$px-size-base: 16;

$px-size-block-ms: $px-size-base * .5;
$px-size-block-xxxs: $px-size-base * .75;
$px-size-block-xxs: $px-size-base * 1;
$px-size-block-xs: $px-size-base * 1.5;
$px-size-block-s: $px-size-base * 2;
$px-size-block: $px-size-base * 3;
$px-size-block-l: $px-size-base * 3.5;

$block-ms: convertRem( $px-size-block-ms );
$block-xxxs: convertRem( $px-size-block-xxxs );
$block-xxs: convertRem( $px-size-block-xxs );
$block-xs: convertRem( $px-size-block-xs );
$block-s: convertRem( $px-size-block-s );
$block: convertRem( $px-size-block );
$block-l: convertRem( $px-size-block-l );

$gutter-xxxs: convertRem( $px-size-base * .25 );
$gutter-xxs: convertRem( $px-size-base * .5 );
$gutter-xs: convertRem( $px-size-base * .75 );
$gutter-s: convertRem( $px-size-base * 1 );
$gutter: convertRem( $px-size-base * 1.5 );
$gutter-l: convertRem( $px-size-base * 2 );
$gutter-xl: convertRem( $px-size-base * 2.5 );
$gutter-xxl: convertRem( $px-size-base * 3 );

// Action Padding
$axn-padding: $gutter-xxs $gutter-s;
$axn-padding-counter: - $gutter-s;
$axn-padding-text: $gutter-s $gutter;

$utility-block: $block;
$text-block: $block-xxs;

$one: convertRem( $px-size-block-xxs / $px-size-base );

// Unitless
$gutter-unitless: $px-size-block-xs;
$utility-block-unitless: $px-size-block;


// Media Query
$legacy: 240;
$mobile: 320;
$mobile-l: 384;
$moblet: 480;
$phablet: 540;
$tablet: 768;
$monitor: 960;
$desktop: 1024;
$widescreen: 1280;
$moviehouse: 1440;
$theater: 1600;
$minorityreport: 1920;
$cinema: 2560;
$lifebook: 3200;

$viewport-narrow: 0;
$viewport-wide: $tablet;

$size-min: convertRem( $mobile );

// Device-Based Size
$mobile-size: convertRem( $mobile );
$mobile-l-size: convertRem( $mobile-l );
$tablet-size: convertRem( $tablet );

// Fonts
$font-xs: convertRem( $px-size-base * .75 );
$font-s: convertRem( $px-size-base * .875 );
$font: convertRem( $px-size-base * 1.125 );
$font-l: convertRem( $px-size-base * 1.375 );
$font-xl: convertRem( $px-size-base * 1.75 );
$font-xxl: convertRem( $px-size-base * 2.25 );
$font-xxxl: convertRem( $px-size-base * 3 );

$font-reset: convertRem( $px-size-base * 1 );

// Radius
$radius-xs: convertRem( $px-size-base * .125 );
$radius-s: convertRem( $px-size-base * .25 );
$radius: convertRem( $px-size-base * .5 );

$radius-button: $radius-xs;

// Color Palette
$white: #fff;
$black: #222;
$gray: #808080;
$superhero-blue: #00aaff;
$chikka-orange: #ff7f00;
$record-red: #e53a2e;
$go-green: #12b32d;

$facebook-blue: #3b5999;
$twitter-blue: #55acee;
$instagram-teal: #3f729b;
$pinterest-red: #bd081c;

$faint: hsla( 0, 0%, 50%, .5 );
$ghost: hsla( 0, 0%, 100%, .75 );

// Layers
$layer1: 900;
$layer2: 800;
$layer3: 700;

// Avatar
$avatar-size: $block;
$avatar-size-unitless: $px-size-block;

$line-height-s: 1.4;
$line-height: 1.6;

// Color Defaults
$color-paper-fg: $black;
$color-paper-bg: $white;

$color--link--fg--default: $color-paper-fg;