@mixin hs-nature--caption
{
    padding: $block-xxxs;
    
    > *:first-child
    {
        margin-top: 0;
    }
    
    > *:last-child
    {
        margin-bottom: 0;
    }
}

%hs-nature--caption {
    @include hs-nature--caption;
}