@import 'default/utilities/perceptuals/style-guide';

//------------------------- Color Pairs
$color-paper-fg: $black;
$color-paper-bg: $white;

$color-light: $white;
$color-dark: $color-primary;

$color-fg: $color-dark;
$color-bg: $color-light;
$color-fg-rev: $color-light;
$color-bg-rev: $color-dark;

// Text Links
$color-link-primary: $color-paper-fg;
$color-link-secondary: $color-primary;
$color-link-tertiary: $color-secondary;

// Element Highlighting
$color-selection: $color-light;
$color-selection-bg: $color-dark;

// Placeholder
$color-placeholder: $faint;
$color-placeholder-rev: $ghost;

// Caption
$color-caption: $gray;
$color-caption-rev: $white;

// Form
$color-button: $color-primary;
$color-button-primary: $color-primary;