@import 'default/utilities/perceptuals/style-guide';

//------------------------- Color Pairs
$color-light: $white;
$color-dark: $color-primary;

$color-fg: $color-dark;
$color-bg: $color-light;
$color-fg-rev: $color-light;
$color-bg-rev: $color-dark;

// Text Links
$color-link-primary: $color-paper-fg;
$color-link-secondary: $color-primary;
$color-link-tertiary: $color-secondary;

// Element Highlighting
$color-selection: $color-light;
$color-selection-bg: $color-dark;

// Placeholder
$color-placeholder-text: $gray;
$color-placeholder-text-rev: $ghost;

// Caption
$color-caption: $gray;
$color-caption-rev: $white;

// Form
$color-button: $color-primary;
$color-button-primary: $color-primary;
$color-button-text: $white;
$color-button-hover: darken( $color-button, 5% );

// Masthead
$color-masthead-bg: $color-primary;
$color-masthead-text: $color-light;
$color-masthead-bg-hover: rgba( $black, .125 );

// Navigation
$color-nav-current-view-indicator: rgba( $black, .25 );
$color-nav-active: rgba( $black, .0625 );

$color-nav-wide-active-level-1: darken( $color-masthead-bg, 2.5% );
$color-nav-wide-active-level-2: darken( $color-masthead-bg, 5% );
$color-nav-wide-active-level-3: darken( $color-masthead-bg, 7.5% );

// Content
$color-container-bg: $white;

// Entry
// article-entry-title_axn
$color--article-entry-title-axn--text: $color-primary;

// Colophon
$color-colophon-bg: rgba( $gray, .0625 );

// Minor Boxes
$color-minor-box-text: $white;
$color-minor-box-bg: $faint;
$color-minor-box-bg-hover: darken( $color-minor-box-bg, 5% );

$color--text--minor: $gray;
$color--line--minor: $faint;

// Tag
$color-tag-bg: $color-secondary;
$color-tag-bg-hover: darken( $color-tag-bg, 5% );
$color-tag-text: $white;

//-------------------------New Style

//------------------------- Button
$color--button--fg: $white;
$color--button--bg: $color-primary;

$color-border: $color-ink;

$color-form-bg: $color-paper;