@import 'default/utilities/perceptuals/style-guide';

//------------------------- Color Pairs
$color-light: $white;
$color-dark: $black;

$color-fg: $color-dark;
$color-bg: $color-light;
$color-fg-rev: $color-light;
$color-bg-rev: $color-dark;

// Text Links
$color-link-primary: $color-fg;
$color-link-secondary: $color-primary;

// Element Highlighting
$color-selection: $color-light;
$color-selection-bg: $color-dark;

// Placeholder
$color-placeholder: $faint;
$color-placeholder-rev: $ghost;