//------------------------- Font Family
$font-family-custom: Lato;
$font-family-quote: Georgia;

//------------------------- Color Scheme
$color-primary: $superhero-blue;
$color-secondary: $go-green;