.breadcrumb-item {
    position: relative;
    display: inline-block;
    margin-right: 1.5rem;
    @include font-size-rem($font-s-m);
    
    a {
        @include linkstyle-faint;
    }
    
    &:last-child {
        margin-right: auto;
    }
    
    &:after {
        $icon-size: .65rem;
        @include sudo-ct;
        @include position-offset($icon-size, left, 100%);
        margin-left: .5rem;
        margin-top: -.25rem; // Override
        @include size($icon-size);
        @include background-image-icon('../img/more.svg');
        opacity: .25;
        @include transform(rotate(-90deg));
    }
    
    &:last-child:after {
        display: none;
    }
    
}