.entry-thumbnail-link {
    display: inline-block;
    @include size(10rem);
    background-position: center center;
    background-size: cover;
    
    .site-default & {
        @include circle;
    }
    
}

.entry-thumbnail {
    
    .site-default & {
        text-align: center;
    }
    
}