.entry-thumbnail-link {
    display: block;
    @include size(5rem);
    background-position: center center;
    background-size: cover;
    @include circle;
}

.entry-thumbnail {
    
    .site-default & {
        text-align: center;
    }
    
}