.status-overlay-active {
    
    &.html {
        overflow: hidden;
        
        &:after {
            content: '';
            position: fixed;
            left: 0;
            top: 0;
            @include size(100%);
            background-color: hsla(0, 0%, 0%, .75);
            @include z($layer2);
        }
        
    }
    
    & body {
        overflow: hidden;
    }

}