.primary-nav-masthead-sidebar_accessible-name,

// Primary Nav and Masthead Sidebar inactive, hide Primary Nav and Masthead Sidebar Component
.hs-state__primary-nav-masthead-sidebar--inactive .primary-nav-masthead-sidebar_comp
{
    @extend %hs-patch--hidden !optional;
}


// Viewport wide, hide Primary Nav and Masthead Sidebar Toggle Action
.hs-viewport--wide .primary-nav-masthead-sidebar-toggle_axn,

// Primary Nav and Masthead Sidebar inactive, hide Dismiss Icon (x icon)
.hs-state__primary-nav-masthead-sidebar--inactive .primary-nav-masthead-sidebar-toggle_axn .dismiss_icon,

// Primary Nav and Masthead Sidebar inactive, hide Menu Icon (hamburger icon)
.hs-state__primary-nav-masthead-sidebar--active .primary-nav-masthead-sidebar-toggle_axn .menu_icon,

.primary-nav-masthead-sidebar-toggle_axn .toggle_label
{
    @extend %hs-patch--visually-hidden !optional;
}

.primary-nav-masthead-sidebar-toggle_axn
{
    // Counter-effect
    padding-left: .5rem;
    padding-right: .5rem;
    width: auto;
}

// Toggle Button
.primary-nav-masthead-sidebar-toggle_axn
{
    @extend %hs-reset--deflate !optional;
}