<!DOCTYPE html>
<html ng-app="store">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    </head>
    <body ng-controller="StoreController as store">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="product in store.products" ng-controller="PanelController as panel">
                <section>
                    <ul class="nav nav-pills">
                        <li ng-class="{ active: panel.isSelected(1) }"><a href ng-click="panel.selectTab(1)">Description</a></li>
                        <li ng-class="{ active: panel.isSelected(2) }"><a href ng-click="panel.selectTab(2)">Specifications</a></li>
                        <li ng-class="{ active: panel.isSelected(3) }"><a href ng-click="panel.selectTab(3)">Reviews</a></li>
                    </ul>
                </section>
                <div class="panel" ng-show="panel.isSelected(1)">
                    <h1> {{product.name}} </h1>
                    <h2> {{product.price | currency}} </h2>
                    <p> {{product.description}} </p>
                    <img ng-src="{{product.images[0].full}}">
                    <button ng-show="product.canPurchase"> Add to Cart </button>
                </div>
        </ul>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.0/angular.min.js"></script>
        <script type="text/javascript" src="app.js"></script>
    </body>
</html>