// Custom Default
.hs-template__masthead--default
{
    // Masthead
    .masthead_cr
    {
        min-height: $utility-block;
    }
    
    .web-product-header_cr
    {
        display: table;
        width: 100%;
        min-height: 3rem;
        word-break: break-word;

        .web-product_name
        {
            display: table-cell;
            vertical-align: middle;
            
            // Reset
            line-height: 1;
        }
        
        .web-product-name_axn
        {
            padding: $gutter;
            text-decoration: none;
        }
    }
    
    // Narrow Viewport
    &.hs-viewport--narrow
    {  
        // Web Product Header            
        .web-product-header_cr
        {
            text-align: center;
        }
        
        .web-product-name_axn
        {   
            // Counter-Effect
            margin-left: -$gutter;
            margin-right: -$gutter;
        }
    }
}