// Media Query
// http://alwaystwisted.com/post.php?s=2013-04-01-my-media-query-mixin

@mixin media-query( $viewport-width, $limit: min, $dimension: width, $ie9-fix: off ) {
    
    @if $limit == 'max' {

        @media only screen and ( #{$limit}-#{$dimension}: ( $viewport-width - 1 ) / $px-size-base + rem ) {
            @content;
        }

    } @else {
        
        @media only screen and ( #{$limit}-#{$dimension}: $viewport-width / $px-size-base + rem ) {
            @content;
        }

    }
    
    @if $ie9-fix == on {
        .lt-ie9 & {
            @content;
        }
    }

}