@mixin hs-nature--utility-blocker
{
    padding: $axn-padding;
    height: $utility-block;
    min-width: $utility-block;
    min-height: $utility-block;
    vertical-align: middle;
    line-height: 1;
}

%hs-nature--utility-blocker
{
    @include hs-nature--utility-blocker;
}