@mixin selection($bgcolor, $color) {
    
    ::-moz-selection {
        color: $color;
        background-color: $bgcolor;
    }
    
    ::selection {
        color: $color;
        background-color: $bgcolor;
    }
    
}