// All Elements

// Structural Declaration: Border Box
// - Modifies the Box Model in such a way that when border-box is defined, the declared width of an element will not be affected by its padding, border, or margin
// - https://developer.mozilla.org/en-US/docs/Web/CSS/box_model

* {
    -webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	box-sizing: border-box !important;
}

body
{
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}