#{$text-input-objects},
.text_input,
select
{
    width: 100%;
    min-height: $utility-block;
}

#{$text-input-objects},
.text_input
{
    @extend %hs-reset--deflate !optional;
    padding: $gutter-xxs;
}


#{$button-objects}
{
    @extend %hs-reset--deflate !optional;
    
    // To enable padding
    @include appearance( none );
    
    width: 100%;
    @include hs-nature--cursor-pointer;
    
    @include transform( translateY( $one ) );
}


legend
{
    @extend %hs-patch--visually-hidden !optional;
}