#{$text-input-objects},
.text_input
{
    width: 100%;
    min-height: $utility-block;
}

select
{
    width: 100%;
}

#{$text-input-objects},
.text_input,
select
{
    @extend %hs-reset--deflate !optional;
    padding: $gutter-xxs;
}


#{$button-objects}
{
    @extend %hs-reset--deflate !optional;
    
    // To enable padding
    @include appearance( none );
    
    width: 100%;
    @include hs-nature--cursor-pointer;
}

legend
{
    @extend %hs-patch--visually-hidden !optional;
}

// Add ellipsis to placeholder when the container is narrow
input[placeholder]
{
    text-overflow: ellipsis;
}

// Firefox 19+
::-moz-placeholder
{
    text-overflow: ellipsis;
}

input:-moz-placeholder
{
    text-overflow: ellipsis;
}

label[for]
{
    &:hover
    {
        cursor: pointer;
    }
}