$width: 18.75em; /* 300px */
$grid-spacing: 2em; 

ul,
ol
{
    padding-left: $gutter;
}

dd
{
    margin-bottom: $gutter-xs;
    
    &:last-of-type
    {
        // Reset
        margin-bottom: 0;
    }
}