blockquote,
q
{    
    @include margin-x( 0 );
    
    font-family: Georgia, serif;
    font-size: $font-l;
    font-style: italic;
    
    @include media-query( $moblet )
    {
        @include margin-x( $gutter );
    }
    
    cite
    {
        display: block;
        margin-top: $gutter-xs;
    }
}