table
{
    width: 100%;
}

th,
td
{
    height: $block;
}

th
{
    text-align: left;
    
    thead &
    {
        vertical-align: bottom;
    }
}

thead
{    
    tr
    {
        border-bottom: 2px solid black;
    }    
}

tbody
{    
    tr
    {
        border-top: 1px solid black;
        
        &:last-child
        {
            border-bottom: 1px solid black;
        }    
    }
}