html {
    height: 100%;
}


// Hide basic stuff
.assistive-text,
.search-bar-title,
.home .main-content-title,
.blog .main-content-title,
.accessible-name,
legend,

// WP
#wpstats,
.widget_search .widget-title,
.widget_nav_menu .widget-title,
.form-allowed-tags {
    @extend %vhide;
}


// Border box on all elements to reset the box model
* {
    @extend %bbox;
}


// Reset spacing around elements
#{$heading-tags},
ul, ol,
p,
th, td,
button,
blockquote,
dl,
figure,
pre {
	margin: auto;
	padding: 0;
}


// Bottom spacing on elements
#{$heading-tags},
p,
ul, ol,
table,
blockquote,
legend,
dl,
dd,
form,
pre,
.field {
    margin-bottom: 1rem;
}

.masthead,
.main,
.colophon {
    clear: both;
}

html {
    @include font-size-rem($font-m);
    font-family: $font-family-base;
    line-height: 1.5;
    color: $font-color-base;
    background-color: $white;
}