@import 'default/utilities/style-guide';


//------------------------- Color Pairs
$color-light: $white;
$color-dark: $black;

$color-fg: $color-dark;
$color-bg: $color-light;


//------------------------- Default Colors
$color-quote-fg: rgba( $color-fg, .65 );
$color-cite-fg: rgba( $color-fg, .85 );


//------------------------- Selection
$color-selection-light: $white;
$color-selection-dark: $color-secondary;


//------------------------- Link
$color-link-primary: $color-primary;
$color-link-secondary: $color-secondary;
$color-link-tertiary: $color-dark;
$color-link-mute: $color-light;


//------------------------- Title Link
$color-link-title-primary: $color-link-primary;
$color-link-title-primary-alt: $color-dark;
$color-link-title-secondary: $color-link-secondary;


//------------------------- Faint
$color-faint-fg: $darken65;
$color-faint-hover-fg: $color-link-primary;


//------------------------- Table
$color-table-light: $white;
$color-table-dark: $color-primary;


//------------------------- Form
$color-form-light: $white;
$color-form-dark: $color-primary;
$color-form-dark-secondary: $color-secondary;
$color-form-dark-tertiary: $color-dark;

$color-form-rev-fg: $color-form-light;
$color-form-rev-bg: $color-form-dark;

$color-form-rev-hover-fg: $color-form-light;
$color-form-rev-hover-bg: adjust-hue( $color-form-dark, 5deg );

$color-form-line: rgba( $color-form-dark-tertiary, .35 );
$color-form-line-hover: $color-form-dark;

$color-button-default: $color-form-dark;
$color-button-primary: $color-form-dark;
$color-button-secondary: $color-form-dark-secondary;


//------------------------- Masthead
$color-masthead-light: $white;
$color-masthead-dark: $color-primary;


//------------------------- Main Navigation
$color-main-nav-light: $color-masthead-light;
$color-main-nav-dark: $color-masthead-dark;


//------------------------- Search
$color-search-light: $white;
$color-search-dark: $color-masthead-dark;

$color-search-fg: $color-search-dark;
$color-search-bg: $color-search-light;

$color-search-rev-fg: $color-search-light;
$color-search-rev-bg: $color-search-dark;

$color-search-focus-bg: darken( $color-search-dark, 5% );


//------------------------- Content Navigation
$color-content-nav-light: $white;
$color-content-nav-dark: $color-primary;
$color-content-nav-dark-secondary: $color-secondary;
$color-content-nav-link: rgba( $color-link-tertiary, .75 );

$color-content-nav-fg: $color-content-nav-light;
$color-content-nav-bg: $color-content-nav-dark;

$color-content-nav-hover-fg: $color-content-nav-light;
$color-content-nav-hover-bg: $color-content-nav-dark-secondary;

$color-content-nav-current-fg: $color-content-nav-light;
$color-content-nav-current-bg: $color-content-nav-dark;


//------------------------- Hollow Box (Buttonizer)
$color-hollow-box-light: $white;
$color-hollow-box-dark: $color-secondary;

//------------------------- Linkstyle Boxed
$color-linkstyle-boxed-light: $white;
$color-linkstyle-boxed-dark: $color-primary;
$color-linkstyle-boxed-dark-secondary: $color-secondary;
$color-linkstyle-boxed-dark-tertiary: $gray65;


//------------------------- Media Assets
$icon-entry-nav-light: 'data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0ZWQgYnkgSWNvTW9vbi5pbyAtLT4KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHdpZHRoPSI0OCIgaGVpZ2h0PSI0OCIgdmlld0JveD0iMCAwIDQ4IDQ4Ij4KPGc+CjwvZz4KCTxwYXRoIGQ9Ik02Ljc1IDEwLjk1bDE3LjI1IDE3LjcgMTcuMjUtMTcuN2MxLjUtMS42NSA0LjA1MC0xLjY1IDUuNTUgMCAxLjUgMS41IDEuNSA0LjA1MCAwIDUuN2wtMTkuOTUgMjAuNGMwIDAgMCAwIDAgMHMwIDAgMCAwYy0wLjc1IDAuNzUtMS42NSAxLjA1MC0yLjU1IDEuMiAwIDAtMC4xNSAwLTAuMTUgMCAwIDAtMC4xNSAwLTAuMTUgMC0wLjkgMC0xLjk1LTAuNDUtMi41NS0xLjIgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDBsLTIwLjI1LTIwLjRjLTEuNS0xLjY1LTEuNS00LjIgMC01LjcgMS41LTEuNjUgMy45LTEuNjUgNS41NSAweiIgZmlsbD0iI2ZmZmZmZiI+PC9wYXRoPgo8L3N2Zz4K';

$icon-entry-nav-dark: 'data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0ZWQgYnkgSWNvTW9vbi5pbyAtLT4KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHdpZHRoPSI0OCIgaGVpZ2h0PSI0OCIgdmlld0JveD0iMCAwIDQ4IDQ4Ij4KPGc+CjwvZz4KCTxwYXRoIGQ9Ik02Ljc1IDEwLjk1bDE3LjI1IDE3LjcgMTcuMjUtMTcuN2MxLjUtMS42NSA0LjA1MC0xLjY1IDUuNTUgMCAxLjUgMS41IDEuNSA0LjA1MCAwIDUuN2wtMTkuOTUgMjAuNGMwIDAgMCAwIDAgMHMwIDAgMCAwYy0wLjc1IDAuNzUtMS42NSAxLjA1MC0yLjU1IDEuMiAwIDAtMC4xNSAwLTAuMTUgMCAwIDAtMC4xNSAwLTAuMTUgMC0wLjkgMC0xLjk1LTAuNDUtMi41NS0xLjIgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDBsLTIwLjI1LTIwLjRjLTEuNS0xLjY1LTEuNS00LjIgMC01LjcgMS41LTEuNjUgMy45LTEuNjUgNS41NSAweiIgZmlsbD0iIzAwMDAwMCI+PC9wYXRoPgo8L3N2Zz4K';


//------------------------- Color Pairs
$color-rev-fg: $color-bg;
$color-rev-bg: $color-fg;


//------------------------- Selection
$color-selection-fg: $color-selection-light;
$color-selection-bg: $color-selection-dark;


//------------------------- Table
$color-table-hover-bg: rgba( $color-table-dark, .1 );
$color-table-zebra-bg: rgba( $color-table-dark, .025 );


//------------------------- Masthead
$color-masthead-fg: $color-masthead-light;
$color-masthead-bg: $color-masthead-dark;

$color-masthead-hover-bg: darken( $color-masthead-dark, 5% );

$color-masthead-highlight-bg: darken( $color-masthead-dark, 10% );

$color-masthead-active-bg: darken( $color-masthead-dark, 10% );

$color-masthead-icon: $color-masthead-dark;
$color-masthead-icon-rev: $color-masthead-light;


//------------------------- Main Navigation
// Basic color combination - dark fg over light background (e.g., black over white)
$color-main-nav-fg: $color-main-nav-dark;
$color-main-nav-bg: $color-main-nav-light;

// When you hover this basic color combination
$color-main-nav-hover-fg: $color-main-nav-bg;
$color-main-nav-hover-bg: $color-main-nav-fg;

// Background color when you activate an element
$color-main-nav-active-bg: darken( $color-main-nav-dark, 5% );

// Reverse basic color combo (e.g., white over black)
$color-main-nav-rev-fg: $color-main-nav-light;
$color-main-nav-rev-bg: $color-main-nav-dark;

// Hover of reverse basic color combo
$color-main-nav-rev-hover-fg: $color-main-nav-light;
$color-main-nav-rev-hover-bg: darken( $color-main-nav-dark, 5% );

// For current nav items
$color-main-nav-highlight-bg: darken( $color-main-nav-dark, 10% );
$color-main-nav-highlight-hover-bg: darken( $color-main-nav-dark, 15% );

// Color of lines (e.g., borders) that is over a background color
$color-main-nav-line: $darken25;
$color-main-nav-line-rev: $lighten25;

// For shadows
$color-main-nav-shadow: $double-gray15;

// For highlight shine (used on top of sub-nav)
$color-main-nav-shine: $lighten15;

// For the triangle shadow
$color-main-nav-fold-shadow: darken( $color-main-nav-dark, 20% );


//------------------------- Linkstyle Boxed
$color-linkstyle-boxed-rev-fg: $color-linkstyle-boxed-light;
$color-linkstyle-boxed-rev-bg: $color-linkstyle-boxed-dark-tertiary;

$color-linkstyle-boxed-rev-hover-fg: $color-linkstyle-boxed-light;
$color-linkstyle-boxed-rev-hover-bg: $color-linkstyle-boxed-dark-secondary;


//------------------------- Hollow Box (Buttonizer)
$color-hollow-box-fg: $color-hollow-box-dark;
$color-hollow-box-rev-hover-fg: $color-hollow-box-light;
$color-hollow-box-rev-hover-bg: $color-hollow-box-dark;


//------------------------- Media Assets
$media-assets-path: '../img/';
$icon-entry-nav: $icon-entry-nav-dark;
$icon-entry-nav-hover: $icon-entry-nav-light;


//------------------------- Notice
$color-notice-reg-rev-bg: #fff9b8;
$color-notice-line-reg: darken( $color-notice-reg-rev-bg, 25% );

$color-notice-error-rev-bg: #ffdcdd;
$color-notice-line-error: darken( $color-notice-error-rev-bg, 25% );