// Color Palettes
$blue-superhero: #00aaff; // Superhero Blue
$orange-chikka: #ff7f00; // Chikka Orange
$red-record: #e53a2e; // Record Red
$green-go: #12b32d; // Go Green

$custom-font: Raleway;

// Font Family
$font-family-base: $custom-font, Helvetica, Arial, sans-serif;
$font-family-quote: Georgia, serif;


// Color Scheme
$font-color-base: $gray20;
$color-primary: $blue-superhero;
$color-secondary: $green-go;

$color-bg-darken: rgba($black, .05);

$color-link-primary: $color-primary;
$color-link-secondary: $color-secondary;
$color-link-tertiary: $font-color-base;

// Forms
$color-button-default: $color-primary;
$color-button-primary: $color-primary;
$color-button-secondary: $color-secondary;

// Quote
$color-quote-text: $gray50;