//------------------------- Font Family
$font-family-custom: Raleway;
$font-family-quote: Gerogia;


//------------------------- Color Palettes
$blue-superhero: #00aaff; // Superhero Blue
$orange-chikka: #ff7f00; // CHK Orange
$red-record: #e53a2e; // Record Red
$green-go: #12b32d; // Go Green


//------------------------- Color Scheme
$color-primary: $blue-superhero;
$color-secondary: $green-go;