//------------------------- Clearfix
@mixin cf {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }    
}

%cf {
    @include cf;
}


//------------------------- Visually Hidden
@mixin vhide {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

%vhide {
    @include vhide;
}


//------------------------- Visually Hidden Reversed
@mixin vhide-rev {
    clip: rect(auto, auto, auto, auto);
    height: auto;
    margin: auto;
    overflow: auto;
    padding: 0;
    position: static;
    width: auto;
}

%vhide-rev {
    @include vhide-rev;
}


//------------------------- Image Replacement
@mixin ir {
    background-color: transparent;
    border: 0;
    box-shadow: none;
    overflow: hidden;
    *text-indent: -9999px;
    
    &:before {
        content: "";
        display: block;
        width: 0;
        height: 150%;
    }
}

%ir {
    @include ir;
}


//------------------------- Pseudo Content
@mixin sudo-ct {
    content: '';
    position: absolute;
}


//------------------------- Center List
@mixin center-list {
    
    text-align: center;
    
    & > li {
        display: inline-block;
    }

}

%center-list {
    @include center-list;
}


//------------------------- Border Box
@mixin bbox {
    -webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	box-sizing: border-box !important;
}

%bbox {
    @include bbox;
}


//------------------------- Background Image
@mixin bg-img (
    $repeat: no-repeat,
    $position: center center,
    $size: cover) {
    
    background: {
        repeat: no-repeat;
        position: center center;
        size: cover;
    }
        
}


//------------------------- Responsive Media
@mixin responsive-media {
    max-width: 100%;
    height: auto;
}

%responsive-media {
    @include responsive-media;
}


//------------------------- Unlist
@mixin unlist {
    list-style: none;
    margin: auto;
    padding: 0;
}

%unlist {
    @include unlist;
}


//------------------------- Truncate Texts
@mixin truncate {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

%truncate {
    @include truncate;
}


//------------------------- Iconize
@mixin iconize(
    $display: block,
    $width: 3,
    $height: 3
    ) {
    
    display: $display;
    width: $width + rem;
    height: $height + rem;
    @include ir;
}

%iconize {
    @include iconize;
}


//------------------------- Icon Block using Table Cell (apply to icon images)
@mixin icon-block-cell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

%icon-block-cell {
    @include icon-block-cell;
}


//------------------------- Inline Blocker
@mixin block-inline {
    display: inline-block;
    vertical-align: middle;
}

%block-inline {
    @include block-inline;
}


//------------------------- Vertical Align Middle
@mixin valign-mid {
    
    &:after {
        content: '';
        height: 100%;
        @include block-inline;
    }
    
}

%valign-mid {
    @include valign-mid;
}


//------------------------- Converting 1px to rem
$one: (1 / $font-size-base) + rem;


//------------------------- Fallback px for rem font sizes (to support IE8-)
// http://www.stubbornella.org/content/2013/07/01/easy-peasy-rem-conversion-with-sass/
@function calculateRem($size) {
    $remSize: $size / $font-size-base;
    @return #{$remSize}rem;
}

@function calculatePx($size) {
    $pxSize: $size * $font-size-base;
    @return #{$pxSize}px;
}

@mixin font-size-px($size) {
    font-size: $size + px;
    font-size: calculateRem($size);
}

@mixin font-size-rem($size) {
    font-size: calculatePx($size);
    font-size: $size + rem;
}


//------------------------- Width and Height Size
@mixin size(
    $width,
    $height: $width
    ) {
    width: $width;
    height: $height;
}


//------------------------- Media Query
// http://alwaystwisted.com/post.php?s=2013-04-01-my-media-query-mixin
@mixin mq($device-width, $ie9: false, $query1: min, $query2: width) {
    @if $ie9 == true {
        .lt-ie9 {
            @content;
        }
    }
    
    @media only screen and (#{$query1}-#{$query2}: $device-width / $font-size-base + rem) {
        @content;
    }

}


//------------------------- Media Query Max Width
@mixin mq-max($device-width) {
    @media only screen and (max-width: $device-width+px - 1) {
        @content 
    }
}


//------------------------- IE Fix Classes
@mixin lt-ie9-fix {
    .lt-ie9 {
        @content;
    }
}

@mixin lt-ie8-fix {    
    .lt-ie8 {
        @content;
    }
}

@mixin breakpoint($name) {
  @if $name == "small" {
    @media (max-width: 767px) {
      @content;
    }
  }
  @else if $name == "medium" {
    @media (max-width: 1024px) {
      @content;
    }
  }
  @else if $name == "large" {
    @media (min-width: 1025px) {
      @content;
    }
  }
}


//------------------------- For CSS Gradients
@import "compass/css3/images";


//------------------------- Faint
@mixin faint {    
    font-size: $font-s;
    color: $gray50;
}

%faint {
    @include faint;
}


//------------------------- Border Radius
@mixin corner-radius (
    $topleftradius: $one,
    $toprightradius: $topleftradius,
    $bottomrightradius: $topleftradius,
    $bottomleftradius: $topleftradius
    ) {
    
    border: {
        top-left-radius: $topleftradius;
        top-right-radius: $toprightradius;
        bottom-right-radius: $bottomrightradius;
        bottom-left-radius: $bottomleftradius;
    }
        
}

@mixin circle {
    border-radius: 50%;
}


//------------------------- Border Style
@mixin hopscotch-border-style (
    $t-width: $one,
    $r-width: $one,
    $b-width: $one,
    $l-width: $one,
    $style: solid,
    $alpha: .35
    ) {
    
    border: {
        top-width: $t-width;
        right-width: $r-width;
        bottom-width: $b-width;
        left-width: $l-width;
        style: $style;
        color: hsla(0, 0%, 0%, $alpha);
    }
        
}

%hopscotch-border-style {
    @include hopscotch-border-style;
}

@mixin list-div-v {
    @include hopscotch-border-style(0, 0, $one, 0, solid, .15);
}

@mixin table-div-v {
    @include hopscotch-border-style($one, 0, 0, 0, solid, .15);
}

@mixin hopscotch-table-border-single($pos: bottom, $size: $one, $style: solid, $alpha: .15) {
    border: {
        #{$pos}: $size $style rgba($black, $alpha);
    }
}

//------------------------- Transition
@mixin hopscotch-transition (
    $property: all,
    $duration: .125s,
    $easing: ease
    ) {
    -webkit-transition: $property $duration $easing;
    -moz-transition: $property $duration $easing;
    -ms-transition: $property $duration $easing;
    -o-transition: $property $duration $easing;
    transition: $property $duration $easing;
}

%transition-bg-color {
    @include hopscotch-transition(background-color);
}


@mixin bg-shade($alpha: 1) {
    background-color: hsla(0, 0%, 0%, $alpha);
}


//------------------------- Link Styles
@mixin linkstyle-primary {
    color: $color-primary;
}

@mixin linkstyle-secondary {
    color: rgba($color-link-secondary, .75);
    border-bottom: $one dotted currentColor;        
    
    &:hover {
        border-bottom: none;
        text-decoration: none;
    }
}