//------------------------- Clearfix
@mixin cf {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }    
}

%cf {
    @include cf;
}


//------------------------- Visually Hidden
@mixin vhide {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

%vhide {
    @include vhide;
}


//------------------------- Visually Hidden Reversed
@mixin vhide-rev {
    clip: rect(auto, auto, auto, auto);
    height: auto;
    margin: auto;
    overflow: auto;
    padding: 0;
    position: static;
    width: auto;
}

%vhide-rev {
    @include vhide-rev;
}


//------------------------- Image Replacement
@mixin ir {
    background-color: transparent;
    border: 0;
    box-shadow: none;
    overflow: hidden;
    *text-indent: -9999px;
    
    &:before {
        content: "";
        display: block;
        width: 0;
        height: 150%;
    }
}

%ir {
    @include ir;
}


//------------------------- Pseudo Content
@mixin sudo-ct {
    content: '';
    position: absolute;
}


//------------------------- Center List
@mixin center-list {
    
    text-align: center;
    
    & > li {
        display: inline-block;
    }

}

%center-list {
    @include center-list;
}


//------------------------- Border Box
@mixin bbox {
    -webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	box-sizing: border-box !important;
}

%bbox {
    @include bbox;
}


//------------------------- Background Image
@mixin bg-img (
    $repeat: no-repeat,
    $position: center center,
    $size: cover) {
    
    background: {
        repeat: no-repeat;
        position: center center;
        size: cover;
    }
        
}


//------------------------- Responsive Media
@mixin responsive-media {
    max-width: 100%;
    height: auto;
}

%responsive-media {
    @include responsive-media;
}


//------------------------- Unlist
@mixin unlist {
    list-style: none;
    margin: auto;
    padding: 0;
}

%unlist {
    @include unlist;
}


//------------------------- Truncate Texts
@mixin truncate {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

%truncate {
    @include truncate;
}


//------------------------- Iconize
@mixin iconize(
    $display: block,
    $width: 3,
    $height: 3
    ) {
    
    display: $display;
    width: $width + rem;
    height: $height + rem;
    @include ir;
}

%iconize {
    @include iconize;
}


//------------------------- Icon Block using Table Cell (apply to icon images)
@mixin icon-block-cell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

%icon-block-cell {
    @include icon-block-cell;
}


//------------------------- Inline Blocker
@mixin block-inline {
    display: inline-block;
    vertical-align: middle;
}

%block-inline {
    @include block-inline;
}


//------------------------- Vertical Align Middle
@mixin valign-mid {
    
    &:after {
        content: '';
        height: 100%;
        @include block-inline;
    }
    
}

%valign-mid {
    @include valign-mid;
}


//------------------------- Normalize Header
@mixin header-normalize {
    .masthead-header,
    .nav-bar,
    .site-header .search-bar {
        display: block;
        height: auto;
    }

    .masthead-header,
    .nav-bar {
        text-align: center;
    }
}


//------------------------- Normalize Primary and Secondary Content
@mixin pri-sec-content-normalize {
    .entry-cr,
    .comments-cr,
    .page-nav,
    #secondary-cr,
    .main-content-hr-cr {
        max-width: none;
    }
    
    @include mq($monitor, true) {        
        .secondary-sidebar-active {
            #{$skeleton} {
                max-width: 70rem;
            }
        } 
        
        .secondary-sidebar-active {
            #primary {
                float: left;
                margin-right: -20rem;
            }
            #secondary {
                float: right;
                width: 20rem;
            }
            .site-content {
                padding-right: 20rem;
            }
        } 
    }
    
    #main-cr {
        max-width: 70rem;
    }
}


//------------------------- Dark Search Theme -------------------------
@mixin search-invert {
    .site-header {
        .search-bar-title .label,
        .search-submit {
            background-position: 0 0;
        }    
        .search-field {
            color: $color1;            
            &::-webkit-input-placeholder {
                color: $color1;
            }
            &::-moz-placeholder {
                color: $color1;
            }
            &::-ms-input-placeholder {
                color: $color1;
            }
        }
    }  
}


// Fallback px for rem font sizes (to support IE8-)
// http://www.stubbornella.org/content/2013/07/01/easy-peasy-rem-conversion-with-sass/
@function calculateRem($size) {
    $remSize: $size / $font-size-base;
    @return #{$remSize}rem;
}

@function calculatePx($size) {
    $pxSize: $size * $font-size-base;
    @return #{$pxSize}px;
}

@mixin font-size-px($size) {
    font-size: $size + px;
    font-size: calculateRem($size);
}

@mixin font-size-rem($size) {
    font-size: calculatePx($size);
    font-size: $size + rem;
}


// Converting 1px to rem
$one: (1 / $font-size-base) + rem;




// Media Query Max Width
@mixin mq-max($device-width) {
    @media only screen and (max-width: $device-width+px - 1) {
        @content 
    }
}

// Width and Height Size
@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}

// Media Query
// http://alwaystwisted.com/post.php?s=2013-04-01-my-media-query-mixin
@mixin mq($point, $IE9: false, $query1: min, $query2: width) {
    @if $IE9 == true {
        .lt-ie9 {
            @content;
        }
    }
    @media only screen and (#{$query1}-#{$query2}: $point / $font-size-base +em) {
        @content;
    }
}


// IE Fix Classes
@mixin lt-ie9-fix {
    .lt-ie9 {
        @content;
    }
}

@mixin lt-ie8-fix {    
    .lt-ie8 {
        @content;
    }
}

// Tooltip
@mixin tooltip {
    &:hover:after {
        content: attr(data-handle);
        position: absolute;
        left: 0;
        top: 100%;
        background-color: red;
        z-index: 100;
    }
}

@mixin text-input-unstyle {    
    padding: 0;
    border: none;
}

%text-input-unstyle {
    @include text-input-unstyle;
}

@function func($some-number, $another-number){
    @return $some-number + $another-number
}

@mixin breakpoint($name) {
  @if $name == "small" {
    @media (max-width: 767px) {
      @content;
    }
  }
  @else if $name == "medium" {
    @media (max-width: 1024px) {
      @content;
    }
  }
  @else if $name == "large" {
    @media (min-width: 1025px) {
      @content;
    }
  }
}