//------------------------- Basic tags
$heading-tags: h1, h2, h3, h4, h5, h6;

$form-input-type-text: "input[type='text'], input[type='email'], input[type='search'], input[type='password'], input[type='url'], textarea";

$form-buttons: "button, input[type='submit'], input[type='reset']";


//------------------------- Navigation menu
$sub-menu-classes-each: '.children', '.sub-menu';
$sub-menu-parent-classes-each: '.page_item_has_children', '.menu-item-has-children';

$sub-menu-classes: '.children, .sub-menu';
$sub-menu-parent-classes: '.page_item_has_children, .menu-item-has-children';


// Used as side spacing of elements
$gutter: 1rem;
$bottom-space-m: 1rem;
$bottom-space-s: $bottom-space-m / 2;

// Avatar size in Comments
$avatar-size: 4.5rem;

// Z-index Layers
$layer1: 900;
$layer2: 890;
$layer3: 880;

// Media Query
$legacy: 240;
$mobile: 320;
$moblet: 480;
$phablet: 600;
$tablet: 768;
$monitor: 980;
$desktop: 1024;
$widescreen: 1280;
$moviehouse: 1440;
$minorityreport: 1920;


//------------------------- Font Sizes
$font-size-base: 16;

$font-size-factor: .5;
$font-size-shrink-factor: .75;

$font-size-factor-s: $font-size-factor / 2;
$font-size-factor-xs: $font-size-factor-s / 2;

$font-m: 1;

$font-s: $font-m - $font-size-factor-s;
$font-s-m: $font-s + $font-size-factor-xs;
$font-xs: $font-s - $font-size-factor-s;

$font-m-l: $font-m + $font-size-factor-s;
$font-l: $font-m + $font-size-factor;
$font-xl: $font-l + $font-size-factor;
$font-xxl: $font-xl + $font-size-factor;
$font-xxxl: $font-xxl + $font-size-factor;

$font-reset: $font-m;

$one: (1 / $font-size-base) + rem;
$two: .125rem;


//------------------------- Colors
$black: hsl(0, 0%, 0%);
$gray5: hsl(0, 0%, 5%);
$gray10: hsl(0, 0%, 10%);
$gray15: hsl(0, 0%, 15%);
$gray20: hsl(0, 0%, 20%);
$gray25: hsl(0, 0%, 25%);
$gray30: hsl(0, 0%, 30%);
$gray35: hsl(0, 0%, 35%);
$gray40: hsl(0, 0%, 40%);
$gray45: hsl(0, 0%, 45%);
$gray50: hsl(0, 0%, 50%);
$gray55: hsl(0, 0%, 55%);
$gray60: hsl(0, 0%, 60%);
$gray65: hsl(0, 0%, 65%);
$gray70: hsl(0, 0%, 70%);
$gray75: hsl(0, 0%, 75%);
$gray80: hsl(0, 0%, 80%);
$gray85: hsl(0, 0%, 85%);
$gray90: hsl(0, 0%, 90%);
$gray95: hsl(0, 0%, 95%);
$white: hsl(0, 0%, 100%);

$faint: $gray50;

$cloud: $gray95;

// Add a dark shade
// Example usage: color overlays on menu items with existing background colors
$darken5: hsla(0, 0%, 0%, .05);
$darken10: hsla(0, 0%, 0%, .10);
$darken15: hsla(0, 0%, 0%, .15);
$darken20: hsla(0, 0%, 0%, .20);
$darken25: hsla(0, 0%, 0%, .25);
$darken30: hsla(0, 0%, 0%, .30);
$darken35: hsla(0, 0%, 0%, .35);
$darken40: hsla(0, 0%, 0%, .40);
$darken45: hsla(0, 0%, 0%, .45);
$darken50: hsla(0, 0%, 0%, .50);
$darken55: hsla(0, 0%, 0%, .55);
$darken60: hsla(0, 0%, 0%, .60);
$darken65: hsla(0, 0%, 0%, .65);
$darken70: hsla(0, 0%, 0%, .70);
$darken75: hsla(0, 0%, 0%, .75);
$darken80: hsla(0, 0%, 0%, .80);
$darken85: hsla(0, 0%, 0%, .85);
$darken90: hsla(0, 0%, 0%, .90);
$darken95: hsla(0, 0%, 0%, .95);


//------------------------- Block sizes
// Usage: square areas of active elements require a minimum of 48px for touch
$block-size-factor: .5;

$block: 3rem;
$block-m: 3rem;

$block-s: $block-m / 2;

$block-l: $block-m + $block-size-factor;
$block-xl: $block-l + $block-size-factor;
$block-xxl: $block-xl + $block-size-factor;


//------------------------- Border Radius
$radius-size-factor: .25;

$radius-s: .25rem;
$radius-m: $radius-s + $radius-size-factor;


//------------------------- Content Width
$content-width-percentage: 65%;
$sidebar-width-percentage: 100% - $content-width-percentage;

$total-width: 78rem;
$content-width: 48rem;
$sidebar-width: $total-width - $content-width;


//------------------------- Defaults

// Font Color
$color-font: $gray20;

// Quote Font
$font-family-quote: Georgia, serif;