// Similar Objects
$heading-objects: h1, h2, h3, h4, h5, h6;

$text-input-objects: "input[type='text'], input[type='email'], input[type='search'], input[type='password'], input[type='url'], textarea";

$button-objects: "button, input[type='submit'], input[type='password'], input[type='reset']";

$px-size-base: 16;

$px-size-block-xxxs: $px-size-base * .75;
$px-size-block-xxs: $px-size-base * 1;
$px-size-block-xs: $px-size-base * 1.5;
$px-size-block-s: $px-size-base * 2;
$px-size-block: $px-size-base * 3;

$block-xxxs: convertRem( $px-size-block-xxxs );
$block-xxs: convertRem( $px-size-block-xxs );
$block-xs: convertRem( $px-size-block-xs );
$block-s: convertRem( $px-size-block-s );
$block: convertRem( $px-size-block );

$gutter-xxs: $block-xxxs;
$gutter-xs: $block-xxs;
$gutter-s: $block-xs;
$gutter: $block-xs;

$utility-block: $block;

// Unitless
$gutter-unitless: $px-size-block-xs;
$utility-block-unitless: $px-size-block;


// Media Query
$legacy: 240;
$mobile: 320;
$moblet: 480;
$phablet: 600;
$tablet: 768;
$monitor: 980;
$desktop: 1024;
$widescreen: 1280;
$moviehouse: 1440;
$theater: 1600;
$minorityreport: 1920;
$cinema: 2560;
$lifebook: 3200;

$viewport-narrow: $tablet;