.article-entry_comp
{
    @extend %hs-patch--clearfix !optional;
}

.article-entry-hr_cr,
.article-entry-fr_cr
{
    padding: $gutter-xs $gutter;
}

// Article Entry
.article-entry-ct_cr {
    
    // Clear all Heading Objects
    @each $item in $heading-objects {
        > #{$item} {
            clear: both;
        }
    }
    
    // Gutter of immediate elements
    > *
    {
        padding-left: $gutter;
        padding-right: $gutter;
    }
}