.article-entry-image_comp
{
    /*
    // Media Query
    @include hs-nature--media-query( $viewport-narrow, max )
    {
        width: auto !important;
    }
    */
    
    // Responsive Image
    img    
    {
        max-width: 100%;
        height: auto;
    }
}

.article-entry-banner_comp
{
    img
    {
        max-width: 100%;
        height: auto;
    }
}

// Image Alignment
// These are WordPress-generated class names
.alignleft
{
    float: left;
    margin-right: $block-xxs;
}

.alignright
{
    float: right;
    margin-left: $block-xxs;
}

.alignleft,
.alignright
{
    margin-bottom: $block-xxs;
}

.aligncenter {
    margin-left: auto;
    margin-right: auto;
}

.alignleft,
.alignright,
.aligncenter
{
    display: block;
}

.article-entry-image-caption_cr
{
    @extend %hs-nature--caption !optional;
}