.article-entry-page-nav_accessible-name
{
    @extend %hs-patch--visually-hidden !optional;
}

.article-entry-page-nav_grp
{
    @extend %hs-reset--unlist !optional;
}

.article-entry-page-nav_friendly-name,
.article-entry-page-nav_grp,
.article-entry-page-nav_item
{
    display: inline-block;
}

.article-entry-page-nav_item
{
    text-align: center;
    
    a,
    .label
    {
        display: inline-block;
        padding: 1rem;
        @include dimensions( $block );
    }
}