.breadcrumbs {
    margin-top: 1rem;
}


.breadcrumb-item {
    position: relative;
    display: inline-block;
    margin-left: 1.5rem;
    @include font-size-rem($font-s-m);
    
    a {
        @include linkstyle-faint;
    }
    
    &:first-child {
        margin-left: auto;
    }
    
    &:after {
        $icon-size: .65rem;
        @include sudo-ct;
        @include position-offset($icon-size, right, 100%);
        margin-right: .5rem;
        margin-top: -.25rem; // Override
        @include size($icon-size);
        opacity: .25;
        @include transform(rotate(-90deg));
    }
    
    &:first-child:after {
        display: none;
    }
    
    @include mq( $tablet ) {
        margin-bottom: 0;
    }
    
}