.entry-thumbnail {
    
    .site-default & {
        text-align: center;
    }
    
    @include mq( $moblet, $query1: max ) {
        @include vhide;
    }
    
}


.entry-thumbnail-link {
    display: block;
    @include size(5rem);
    background-position: center center;
    background-size: cover;
    @include circle;
    
    img {
        display: none;
    }
    
}