#{$form-input-type-text} {
    border-color: $color-form-line;
    
    [data-state-form-element="focused"] &,
    &:hover {
        border-color: $color-form-line-hover;
    }
    
}


.sudo-input-text {
    border-color: $color-form-line;
    
    &[data-state-form-element="focused"],
    &:hover {
        border-color: $color-form-line-hover;
    }
    
}


#{$form-buttons} {
    color: $color-form-rev-fg;
    background-color: $color-form-rev-bg;
    
    [data-state-form-element="focused"] &,
    &:hover {
        background-color: $color-form-rev-hover-bg;
    }
    
}

.sudo-button {
    color: $color-form-rev-fg;
    background-color: $color-form-rev-bg;
    
    &[data-state-form-element="focused"],
    &:hover {
        background-color: $color-form-rev-hover-bg;
    }
    
}