.main-cr {
    
    @include mq($desktop, iefixOn) {
        @include cf;
    }
    
    @include mq($widescreen, iefixOff) {
        margin-top: auto;
    }
    
}


.main-cr {
    [data-state-colophon="fixed"] & {
        position: relative;
        @include z( $layer2 );
    }
    
}


// Default layout of Primary and Secondary Content
.primary-content-cr,
.secondary-sidebar-cr,
.tertiary-sidebar-cr {
    width: 100%;
    
    @include mq($monitor, iefixOn) {
        @include margin-center;
        max-width: $content-width;
    }
    
}

.primary-content {
    
    // Active Secondary Sidebar
    .secondary-sidebar-active & {
    
        @include mq( $desktop ) {
            float: left;
            width: $content-width-percentage;
        }
        
        @include mq( $moviehouse ) {
            margin-right: -100%;
            width: 100%;
        }
        
        .primary-content-cr {
            
            @include mq( $moviehouse ) {
                @include margin-center;
                padding-right: 0;
                max-width: $content-width;
            }
            
        }
        
    }
    
}


.secondary-sidebar {

    .secondary-sidebar-active & {

        @include mq( $desktop ) {
            float: right;
            width: $sidebar-width-percentage;
        }

        @include mq( $moviehouse ) {
            width: $sidebar-width - 10;
        }

        @include mq( $theater ) {
            width: 25%;
        }

        @include mq( $minorityreport ) {
            width: 25%;
        }

    }

}


.main-content-hr {
    padding-top: 2rem;
    
    @include mq( $tablet ) {
        padding-top: 0;
    }
    
    .home &,
    .single &,
    .page &,
    .error404 & {
        @extend %vhide;
    }
    
}


.main-content-hr-cr {
    
    @include mq( $tablet, $query1: max ) {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    
    @include mq( $tablet ) {
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding: 2rem $gutter;
    }
    
}

.main-content-heading {
    margin-bottom: 0;
    @include font-size-rem( $font-l );
    
    @include mq( $tablet ) {
        @include font-size-rem( $font-xl );
    }
    
    line-height: normal;
    text-align: center;
    
}

.main-content-meta  {
    @include font-size-rem($font-m-l);
    text-align: center;
}