div.nav-menu {

    // Specific to main nav (top most parent)
    > ul {

        > li {

            > a {
                color: $color-main-nav-fg;
            }

        }

        > .page_item_has_children,
        > .menu-item-has-children {

            // In case there is a non-link element as text label
            @include mq( $tablet ) {
                color: $color-main-nav-fg;
            }

            > a {
                
                @include mq( $tablet ) {
                    color: $color-main-nav-fg;
                }

                &:after {

                    // Nav link and icon hint divider
                    @include mq( $tablet ) {
                        border-right-color: $color-main-nav-line;
                    }

                }

            }

            &:hover {
                background-color: $color-main-nav-hover-bg;

                > a {

                    color: $color-main-nav-hover-fg;

                    &:after {                
                        @include mq( $tablet ) {
                            border-right-color: $color-main-nav-line-rev;
                        }

                    }

                }

            }

            // BG color of the parent nav when its sub-nav is active
            &.status-sub-nav-active {
                background-color: $color-main-nav-highlight-bg;
            }

        }

    }

    // Generic <li> elements but mostly for sub-nav since the parent nav is already declared above
    li {

        @include mq( $tablet ) {
            color: $color-main-nav-rev-fg;
        }

        a {
            @include mq( $tablet ) {
                color: $color-main-nav-rev-fg;
            }
        }

        // Color of hovered nav
        &:hover {

            background-color: $color-main-nav-rev-hover-bg;

            // Color of hovered link
            a {
                color: $color-main-nav-rev-hover-fg;                
            }

        }

        // Color when link is activated
        &:active {
            background-color: $color-main-nav-active-bg;
        }

    }

    // Sub-menu
    .children,
    .sub-menu {

        // Color of sub-nav block
        background-color: $color-main-nav-rev-bg;

        > li:hover {
            background-color: $color-main-nav-rev-hover-bg;
        }

        // Color of sub-nav links
        a {
            color: $color-main-nav-rev-fg;            
        }

        // Visual design elements for wide viewports

        // A bit of shadow
        @include mq( $tablet ) {
            box-shadow: -.25rem .25rem 0 $color-main-nav-shadow;
        }

        // White line on top of sub nav items
        &:before {

            @include mq( $tablet ) {
                background-color: $color-main-nav-shine;
            }

        }

        // Triangle shadow to show fold
        &:after {

            @include mq( $tablet ) {
                border-color: transparent transparent $color-main-nav-fold-shadow transparent;
            }

        }

    }

    // Nav items with another sub-nav (apllies to parent and sub-nav)
    .page_item_has_children,
    .menu-item-has-children {

        // Child of the item
        > a:after {

            // Vertical divider
            @include mq( $tablet ) {
                border-right-color: $color-main-nav-line-rev;
                @include transition( border-right-color );
            }

        }

        // <li> with active sub-nav
        &.status-sub-nav-active {

            // BG color of parent nav when sub nav is active
            background-color: $color-main-nav-highlight-bg;

            > a {

                color: $color-main-nav-rev-fg;

                // BG color of parent (excluding the icon hint)
                &:hover {
                    background-color: $color-main-nav-highlight-hover-bg;
                }

                // Color or vertical divider must be light
                &:after {

                    @include mq( $tablet ) {
                        border-right-color: $color-main-nav-line-rev;
                    }

                }

            }

        }

    }


    .status-sub-nav-active {

        // Current nav items
        .current_page_item,
        .current-menu-item,
        .current_page_ancestor,
        .current-menu-ancestor {

            // Vertical highlight - for sub nav
            @include mq( $tablet ) {

                @include pseudo-content(before) {
                    background-color: $color-main-nav-highlight-bg;
                }

            }

            &:last-child {

                &:before {
                    border-bottom-left-radius: $radius-s;
                }

            }

        }

    }


    .current_page_item,
    .current-menu-item,
    .current_page_ancestor,
    .current-menu-ancestor {

        @include pseudo-content(before) {

            // Horizonal highlight - for main nav
            @include mq( $tablet ) {
                background-color: $color-main-nav-highlight-bg;
            }

        }

    }


    // Main navigation for narrow viewports
    .status-mobile-main-nav-active & {

        @include mq( $tablet, $query1: max ) {

            li,
            a {
                color: $color-main-nav-rev-fg;
            }

        }

    }    

    .page_item,
    .menu-item {        

        // Horizontal nav item divider
        border-bottom-color: $color-main-nav-line;        
    }

} // div.nav-menu


// Menu icon (hamburger)
.main-navigation-heading .icon {
    
    &:hover {
        fill: $color-main-nav-fg;
    }
    
    .status-mobile-main-nav-active & {
            
        @include mq($tablet, $query1: max) {
            fill: $color-main-nav-rev-fg;
        }

    }
    
}