.masthead-cr {
    
    @include mq( $tablet ) {
        position: relative;
        text-align: center;
    }

}


.site-title-heading {
        
    @include mq( $tablet ) {
        margin-bottom: auto;
    }
    
    .status-mobile-main-nav-inactive [data-state-search="inactive"] & {
        
        @include mq( $tablet, $query1: max ) {
            opacity: 1;
            @include transition( opacity );
        }
        
    }
        
    .status-mobile-main-nav-inactive [data-state-search="active"] & {
        
        @include mq( $tablet, $query1: max ) {
            opacity: 0;
        }

    }

}


.site-title-link {

    @include mq( $tablet ) {
        display: inline-block;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

}



// Header style for narrow viewports
// Default for parent and child
@include mq( $tablet, $query1: max ) {
    
    @include header-compact;
    
}