.wp-caption {
    @extend %responsive-media;
}

// 16:9 ratio by default
.iframe-cr {
    position: relative;
    height: 0;
    overflow: hidden;
    margin-bottom: 1rem;
    padding-bottom: 56.25%;
}

.iframe-cr iframe {
    position: absolute;
    top: 0;
    left: 0;
    @include size(100%);
}

.iframe-cr-4x3 {
    padding-bottom: 75%;
}

.iframe-cr:last-child {
    margin-bottom: auto;
}

iframe[src*="codepen"] {
    margin-bottom: 1rem;
}

svg.icon {
    margin: $one; // Corrects cut edges
    fill: $gray25;

    .modernizr-no-inlinesvg & {
        display: none;
    }
    
}


// Alignment
.img-alignment-center {
    text-align: center;
}