.widget_search {
    
    .header-sidebar & {
        
        @include mq( $tablet ) {
            position: absolute;
            top: 0;
            right: 0;
        }
            
        [data-state-search="active"] & {
            width: 100%;
            
            @include mq( $tablet ) {
                max-width: 25rem;
            }
            
        }
        
    }
    
    .sudo-input-text {
        
        .search-input {
            padding-left: 1rem;
            padding-right: 0;
            
        }
        
    }
    
    .secondary-sidebar &,
    .tertiary-sidebar & {
       
        label {
            @extend %vhide;
        }

        $button-size: 5rem;

        .search--field-input {
            float: left;
            margin-bottom: auto;
            width: 100%;
            margin-right: -$button-size;

            .field-cr {
                margin-right: .5rem;
                padding-right: $button-size;
            }

        }

        .search--field-action {
            float: right;
            width: $button-size;
        }
        
        .icon-search {
            @extend %vhide;
        }
    
    }
    
    .secondary-sidebar & {
        
        .search--sudo-button {
            margin-top: auto;
        }
        
    }

}



.header-sidebar {
    
    .search--sudo-input-text {
        border: none;
        
        .status-search-inactive & {
            @extend %vhide;
        }
       
        .status-search-active & {
            width: 100%;            
        }
        
    }

    .search--sudo-button {
        // Reset
        margin-top: auto;
        border: none;
        border-radius: 0;
        
        .status-search-inactive & {
            @extend %vhide;
        }
        
    }
    
    .search-form {
        margin-bottom: auto;
        
        .status-search-active & {
            padding-right: $block-l;
        }
        
    }
    
    .search--field-input {
        margin-bottom: auto;
        height: $block-l;
        
        .field-cr {
            @extend %valign-mid;
            width: 100%;
        }
        
    }
        
    .search-control {
        @extend %svg-iconize;
        margin-bottom: auto;
        @include size($block-l);

        .label {
            @extend %vhide;
        }

        .icon {
            @include size($block-s);
        }
        
        &:hover {
            cursor: pointer;
        }
        
        .status-search-active & {
            @extend %vhide;
        }

    }

    .search-submit {
        @include size($block-l);
        @extend %svg-iconize;

        .label {
            @extend %vhide;
        }

        .icon {
            @include size($block-s);
        }

    }
    
    .search--field-action {
        position: absolute;
        top: 0;
        right: 0;        
    }

}

.search {
        
    [data-state-search="active"] & {
        
        @include mq( $tablet, $query1: max ) {
            padding-left: $block-l;
        }
        
    }

}


.search-form {
    
    legend {
        @extend %vhide;
    }
    
}


.tertiary-sidebar {
    
    .widget_search {
        
        .sudo-button {
            margin-top: 0;
        }
        
    }
    
    .search-form {
        margin-bottom: 0;
    }
    
}