.web-product_name
{
    // Reset
    margin: 0;
}

.web-product_desc
{
    @extend %hs-patch--visually-hidden !optional;
}

.web-product-page_accessible-name
{
    @extend %hs-patch--visually-hidden !optional;
}

.copyright-info_cr
{
    margin-top: $block-xxs;
}

.web-designer-info_label,
.copyright-info_label
{
    margin: 0;
}