.web-product-page-nav_cr
{
    padding: $block-xs;
}

.web-product-page_nav
{
    .page-numbers
    {
        @extend %hs-reset--unlist !optional;
        display: inline-block;
        text-align: center;
        
        li
        {
            display: inline-block;
            
            a,
            .current,
            .dots
            {
                display: inline-block;
                padding: 1rem;
                min-width: $block;
                min-height: $block;
            }
        }
    }
}

.web-product-page-nav_friendly-name
{
    @extend %hs-patch--visually-hidden !optional;
}