.header-sidebar-heading,
.secondary-sidebar-heading,
.tertiary-sidebar-heading {
    @extend %vhide;
}


.header-sidebar {
    
    .widget:not( .widget_search ) {
        @extend %vhide;
    }
    
}


.secondary-sidebar-container {
    margin-top: 2rem;
    
    @include mq($tablet, iefixOn) {
        margin-top: auto;
    }
    
}


.tertiary-sidebar {
    margin-bottom: 2rem;
    
    .menu {
        @extend %center-list;
        @include unlist;
      
        li {
            margin-bottom: auto;
            display: inline-block;
        }
        
        a {
            display: inline-block;
            padding: .75rem;
        }
    
    }
    
    .sub-menu {
        display: inline;
        @include unlist;
    }
    
}

.secondary-sidebar,
.tertiary-sidebar {
    
    .widget {
        padding: 2rem $gutter;
        
        &:first-child {
            margin-top: 1rem;
        }

        &:last-child {
            margin-bottom: auto;
        }
        
        .post-date {
            margin-left: .5rem;
            @include font-size-rem( $font-s );
            color: $gray65;
        }
        
    }
    
}

.widget-title {
    margin-top: .75rem;
    margin-bottom: 2rem;
    @include font-size-rem($font-m-l);
    line-height: normal;
}

.widget_calendar {
    
    table {
        margin-bottom: 0;
    }
    
    th, td {
        padding: .5rem;
    }
    
    #next {
        text-align:right;
    }
    
}