// Resources:
// http://type-scale.com

// Standard Headings
h1 {
    @include font-size-rem($font-xxxl);
    font-weight: normal;
}

h2 {
    @include font-size-rem($font-xxl);
    font-weight: normal;
}

h3 {
    @include font-size-rem($font-xl);
    font-weight: normal;
}

h4 {
    @include font-size-rem($font-l);
    font-weight: normal;
}

h5 {
    @include font-size-rem($font-m);
    font-weight: 800;
}

h6 {
    @include font-size-rem($font-s);
    font-weight: 800;
}


// Other Headings
.text-heading,
.heading,
.friendly-name {
    @include font-size-rem($font-xl);
    font-weight: 600;
}