blockquote {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    @include font-size-rem($font-l);
    
    cite {
        display: block;
        margin-top: 1rem;
    }
    
}

q {
    @include font-size-rem( $font-l );
}