// Page to page
.page-navigation-list {
    
    a {
        color: $color-content-nav-link;

        &:hover {
            color: $color-content-nav-rev-hover-fg;
            background-color: $color-content-nav-rev-hover-bg;
        }
        
    }
    
    .current {
        color: $color-content-nav-current-rev-fg;
        background-color: $color-content-nav-current-rev-bg;
    }
    
}


// Entry to entry
.entry-navigation-list {
    
    .action-item a {
        color: $color-content-nav-link;

        &:hover {
            color: $color-content-nav-rev-hover-fg;
            background-color: $color-content-nav-rev-hover-bg;
        }
        
    }
    
}


// Entry page to page
.entry-page-navigation-list {
    
    a {
        color: $color-content-nav-link;

        &:hover {
            color: $color-content-nav-rev-hover-fg;
            background-color: $color-content-nav-rev-hover-bg;
        }
        
    }
    
    // Current page
    > .label {
        color: $color-content-nav-rev-fg;
        background-color: $color-content-nav-rev-bg;
    }
    
}