// Entry Title Link
.entry-title-link {
    
    // If the Entry Title is on a listing
    .blog &,
    .home &,
    .archive &,
    .search & {
        color: $color-link-title-primary;
    }
    
    // If the Entry Title is on its page
    .single &,
    .page & {
        color: $color-link-title-primary-alt;
    }
    
    // Sticky Posts
    .sticky & {
        color: $color-link-title-secondary;
    }
    
}


// More Link
.show-more-content .more-link {
    color: $color-link-secondary;
}


.post-edit-link {
    @include buttonizer-theme;
}


.entry-timestamp-link {
    @include linkstyle-faint-theme;
}

.entry-byline {
    
    .author a {
        @include linkstyle-faint-theme;
    }
    
}


.entry-ct-cr a {
    @include linkstyle-faint-theme;
}