// Image Alignment
// These are WordPress-generated class names

.alignleft
{
    display: block;
    float: left;
    margin-right: $gutter-s;
}

.alignright
{
    display: block;
    float: right;
    margin-left: $gutter-s;
}

.alignleft,
.alignright
{
    margin-bottom: $gutter-s;
}

.aligncenter {
    display: block;
    @include hs-nature--center-block;
}