// Image Alignment
// These are WordPress-generated class names
.alignleft
{
    float: left;
    margin-right: $block-xxs;
}

.alignright
{
    float: right;
    margin-left: $block-xxs;
}

.alignleft,
.alignright
{
    margin-bottom: $block-xxs;
}

.aligncenter {
    margin-left: auto;
    margin-right: auto;
}

.alignleft,
.alignright,
.aligncenter
{
    display: block;
}