// Image Alignment
// These are WordPress-generated class names

.alignleft
{
    display: block;
    float: left;
    margin-right: $gutter-s;
    
    // Reset
    padding-right: 0;
}

.alignright
{
    display: block;
    float: right;
    margin-left: $gutter-s;
    
    // Reset
    padding-left: 0;
}

.alignleft,
.alignright
{
    margin-bottom: $gutter-s;
}

.aligncenter {
    display: block;    
    @include margin-x( auto );
}