.article-entry-banner_comp,
.article-entry_ct
{
    img
    {
        max-width: 100%;
        height: auto;
    }
}

// Counter-Effect
.article-entry-image-caption_comp
{
    padding: 0;
}

.article-entry-image-caption_cr
{
    @extend %hs-nature--caption !optional;
}