.article-entry_comp
{
    @extend %hs-patch--clearfix !optional;
}

.article-entry-title_name
{
    word-wrap: break-word;
}

.article-entry-blank_notice
{
    @extend %hs-patch--visually-hidden !optional;
}

.article-entry-title_name
{
    // Reset
    margin-bottom: 0;
}

.article-entry-title_axn
{
    display: inline-block;
}