.entry-author_cr
{
    min-height: $avatar-size;
}

.entry-author-avatar_axn
{
    display: inline-block;
    @include dimensions( $avatar-size );
    vertical-align: middle;
    
    img
    {
        width: 100%;
        height: auto;
    }
}