.show-top_cr,
.web-product-theme-info_cr,
.copyright-info_cr
{
    text-align: center;
}

.web-product-theme-info_label,
.copyright-info_label
{
    margin: 0;
    font-size: $font-s;
}

.colophon_accessible-name
{
    @extend %hs-patch--visually-hidden !optional;
}

.copyright-info_comp
{
    margin-top: $gutter-s;
}