.colophon_accessible-name
{
    @extend %hs-patch--visually-hidden !optional;
}

.show-top_cr,
.web-product-theme-info_cr,
.copyright-info_cr
{
    text-align: center;
}

.web-product-theme-info_label,
.copyright-info_label
{
    font-size: $font-s;
    color: $gray;
}