// Visibility
.comment-entry-admin_accessible-name,
.comment-form-admin-actions_accessible-name,
.comments-entry-nav_accessible-name,
.comment-entry-axn_accessible-name
{
    @extend %hs-patch--visually-hidden !optional;
}

.comment-form
{
    label
    {
        &:hover
        {
            @include hs-nature--cursor-pointer;
        }
    }
}

.comment-respond
{
    @include hs-nature--child-normalize;
}

.form-submit,
.comment-reply-title
{
    margin: 0;
}

.comment-pending_notice
{
    margin-top: $gutter-l;
}

.comments_accessible-name
{
    // Reset
    margin-bottom: 0;
}

.bypostauthor
{
    .author-name_label
    {
        a
        {
            text-decoration: none;
            
            &:hover
            {
                text-decoration: underline;
            }
        }
    }
}

@include media-query( $viewport-wide )
{
    .comments_grp .comment .children
    {
        margin-left: $gutter;
    }
}

// WordPress-generated ID
#cancel-comment-reply-link
{
    font-size: $font-reset;
    font-weight: normal;
}