// Visibility
.comment-entry-admin_accessible-name,
.comment-form-admin-actions_accessible-name,
.comments-entry-nav_accessible-name,
.comments_accessible-name,
.comment-entry-axn_accessible-name
{
    @extend %hs-patch--visually-hidden !optional;
}

.comments_ct
{
    .blank-comments_notice
    {
        @include padding-x( $gutter );
    }
}

.comment-form
{
    label
    {
        &:hover
        {
            @include hs-nature--cursor-pointer;
        }
    }
}

.comments-count_cr,
.comment-reply-title
{
    padding: $gutter-xs $gutter;
}

.comment-respond
{
    @include hs-nature--child-normalize;
}

.form-submit,
.comment-reply-title
{
    margin: 0;
}

.comment-pending_notice
{
    margin-top: $gutter-l;
}

.hs-viewport--wide
{
    .comments_grp .comment .children
    {
        margin-left: $gutter;
    }
}