.comment-form
{
    label
    {
        &:hover
        {
            cursor: pointer;
        }
    }
}

.comment-respond
{
    @include hs-nature--child-normalize;
    
    .comment &
    {
        margin-bottom: $gutter;
    }
    
    .comment:last-child &
    {
        margin-bottom: 0;
    }
}

.form-submit,
.comment-reply-title
{
    margin: 0;
}

.comment-pending_notice
{
    margin-bottom: $gutter-s;
}

.comments_accessible-name
{
    // Reset
    margin-bottom: 0;
}

// By Post Author
.bypostauthor
{
    .author-name_label
    {
        a
        {
            font-weight: bold;
            text-decoration: none;
            
            &:hover
            {
                text-decoration: underline;
            }
        }
    }
}

@include media-query( $viewport-wide )
{
    .comments_grp .comment .children
    {
        margin-left: $gutter;
    }
}

// WordPress-generated ID
#cancel-comment-reply-link
{    
    font-size: $font-reset;
    font-weight: normal;
}

.comments_accessible-name
{   
    font-size: $font-l;
}

.comments-count_note
{
    .article-entry-title_label
    {
        font-weight: bold;
    }
}

.comments_grp
{
    @extend %hs-reset--unlist !optional;
    
    .comment
    {
        .children
        {
            @extend %hs-reset--unlist !optional;
        }
    }
}

.comment-entry-axn_grp
{
    @extend %hs-reset--unlist !optional;
}

.comment-entry-admin_grp
{
    @extend %hs-reset--unlist !optional;
}

.comment-form-admin-actions_grp
{
    @extend %hs-reset--unlist !optional;
}

// Visibility
.comment-entry-admin_accessible-name,
.comment-form-admin-actions_accessible-name,
.comments-entry-nav_accessible-name,
.comment-entry-axn_accessible-name
{
    @extend %hs-patch--visually-hidden !optional;
}