// Variables
$primary-content-comp_width: ( 640 / $desktop ) * 100%;
$content-sidebar_width: 100% - $primary-content-comp_width;

.hs-state__content-sidebar--enabled
{    
    @include media-query( $viewport-wide )
    {
        .content_ct
        {   
            @include hs-patch--clearfix;
            @include margin-x( auto );
            max-width: convertRem( $monitor );
        }

        .primary-content_comp
        {
            float: left;
            width: $primary-content-comp_width;
        }

        .content_sidebar
        {
            float: right;
            width: $content-sidebar_width;
        }

        .colophon-sidebar_cr
        {
            @include margin-x( auto );
            max-width: convertRem( $widescreen );
        }
    }
    
    @include media-query( $moviehouse )
    {
        .content_ct
        {
            max-width: convertRem( $widescreen );
        }
    }
}

// With Content Sidebar disabled or no content
.hs-state__content-sidebar--disabled
{
    .article-entry_cr,
    .comments_cr,
    .web-product-page-nav_cr,
    .article-entry-nav_cr
    {   
        @include margin-x( auto );
        max-width: convertRem( $tablet );
    }
}

// Formatting of Content Header Accessible Names
.content-hr_accessible-name
{
    margin-bottom: 0;
    font-weight: normal;
    
    .subj_label
    {
        font-weight: bold;
    }
    
    .home &,
    .single &,
    .page &
    {
        @extend %hs-patch--visually-hidden !optional;
    }
}

// Hide Content Header info if Content Header Sidebar has no content
.hs-state__content-header-sidebar--disabled
{
    &.home,
    &.single,
    &.page,
    &.error404
    {
        .content_hr
        {
            @extend %hs-patch--visually-hidden !optional;
        }
    }
}

.primary-content_accessible-name
{
    @extend %hs-patch--visually-hidden !optional;
}