// Variables
$primary-content-comp_width: ( 640 / $desktop ) * 100%;
$content-sidebar_width: 100% - $primary-content-comp_width;

.hs-state__content-sidebar--enabled
{
    .content_ct
    {
        @include media-query( $viewport-wide )
        {
            @include hs-patch--clearfix;
            @include margin-x( auto );
            max-width: convertRem( $monitor );
        }
        
        @include media-query( $moviehouse )
        {
            max-width: convertRem( $widescreen );
        }
    }

    .primary-content_comp
    {
        @include media-query( $viewport-wide )
        {
            float: left;
            width: $primary-content-comp_width;
        }
    }

    .content_sidebar
    {
        @include media-query( $viewport-wide )
        {
            float: right;
            width: $content-sidebar_width;
        }
    }

    .colophon-sidebar_cr
    {
        @include media-query( $viewport-wide )
        {
            @include margin-x( auto );
            max-width: convertRem( $widescreen );
        }
    }
}

.hs-state__colophon-sidebar--enabled
{        
    .colophon-sidebar_cr
    {
        @include media-query( $viewport-wide )
        {
            @include margin-x( auto );
            max-width: convertRem( $monitor );
        }
        
        @include media-query( $moviehouse )
        {
            max-width: convertRem( $widescreen );
        }
    }
}

// With Content Sidebar disabled or no content

%width-limit
{
    @include margin-x( auto );
    max-width: convertRem( $tablet );
}

.hs-state__content-sidebar--disabled
{
    .article-entry-hr_cr,
    .article-entry-ct_cr,
    .article-entry-fr_cr,
    .comments_cr,
    .web-product-page-nav_cr,
    .article-entry-nav_cr
    {   
        @extend %width-limit !optional;
    }
    
    .format-gallery
    {
        .article-entry_cr
        {
            max-width: none;
        }
        
        .article-entry-hr_cr
        {
            @extend %width-limit !optional;
        }
    }
}

// Formatting of Content Header Accessible Names
.content-hr_accessible-name
{
    margin-bottom: 0;
    font-weight: normal;
    
    .subj_label
    {
        font-weight: bold;
    }
    
    .home &,
    .single &,
    .page &
    {
        @extend %hs-patch--visually-hidden !optional;
    }
}

// Hide Content Header info if Content Header Sidebar has no content
.hs-state__content-header-sidebar--disabled
{
    &.home,
    &.single,
    &.page,
    &.error404
    {
        .content_hr
        {
            @extend %hs-patch--visually-hidden !optional;
        }
    }
}

.primary-content_accessible-name
{
    @extend %hs-patch--visually-hidden !optional;
}