// Variables
$primary-content-comp_width: ( 640 / 1024 ) * 100%;
$content-sidebar_width: 100% - $primary-content-comp_width;

// Default Max-Width
.content_cr
{   
    @include hs-nature--center-block;
    max-width: convertRem( $desktop );
}

@include media-query( $desktop )
{
    .hs-state__content-sidebar--enabled
    {
        .content_cr
        {
            max-width: convertRem( $widescreen );
            @include hs-patch--clearfix;
        }

        .primary-content_comp
        {
            float: left;
            width: $primary-content-comp_width;
        }

        .content_sidebar
        {
            float: left;
            width: $content-sidebar_width;
        }
    }
}