// Entry (Article and Comment)

.entry-ct_cr {
    
    // Clear all Heading Objects
    @each $item in $heading-objects {
        > #{$item} {
            clear: both;
        }
    }
    
    // Immediate Elements
    >
    {
        // All
        *
        {
            padding-left: $gutter;
            padding-right: $gutter;
        }
        
        // Exceptions
        table,
        .gallery
        {
            // Reset
            padding-left: 0;
            padding-right: 0;
        }

        // List
        ul,
        ol
        {
            padding-left: convertRem( $gutter-unitless * 2 );
        }

        // Table
        table
        {
            th:first-child,
            td:first-child
            {
                padding-left: $gutter;
            }        
            th:last-child,
            td:last-child
            {
                padding-right: $gutter;            
            }
        }
    }
}

// Visibility
.article-entry-comments-actions_accessible-name,
.article-entry-admin_accessible-name,
.hs-state__article-entry--blank.hs-type__article-entry--excerpt .article-entry-blank_notice,
.hs-state__article-entry--blank.hs-type__article-entry--non-excerpt .article-entry_ct,
.article-entry-page-nav_accessible-name
{
    @extend %hs-patch--visually-hidden !optional;
}

.article-entry_comp
{
    @extend %hs-patch--clearfix !optional;
}

.article-entry-title_axn
{
    .single &,
    .page &
    {
        text-decoration: none;
    }
}

.article-entry-title_name
{
    word-wrap: break-word;

    // Reset
    margin-bottom: 0;
}