.gallery-item
{
    display: inline-block;
    margin: 0;
    padding: $gutter;
    width: 100%;
    text-align: center;
    vertical-align: top;
        
    @include media-query( $moblet )
    {
        max-width: ( 100% / 2 );
        text-align: left;
    }
    
    @include media-query( $tablet )
    {
        max-width: ( 100% / 3 );
    }
    
    @include media-query( $monitor )
    {
        max-width: ( 100% / 4 );
    }
    
    @include media-query( $widescreen )
    {
        max-width: ( 100% / 5 );
    }
    
    @include media-query( $moviehouse )
    {
        max-width: ( 100% / 6 );
    }
    
    @include media-query( $theater )
    {
        max-width: ( 100% / 7 );
    }
    
    @include media-query( $minorityreport )
    {
        max-width: ( 100% / 8 );
    }
    
    @include media-query( $cinema )
    {
        max-width: ( 100% / 9 );
    }
    
    // Columns
    .gallery-columns-1 &
    {
        max-width: 100%;
    }
    
    .gallery-columns-2 &
    {
        @include media-query( $moblet )
        {
            max-width: ( 100% / 2 );
        }
    }
        
    .gallery-columns-3 &
    {
        @include media-query( $tablet )
        {
            max-width: ( 100% / 3 );
        }
    }

    .gallery-columns-4 &
    {
        @include media-query( $monitor )
        {
            max-width: ( 100% / 4 );
        }
    }

    .gallery-columns-5 &
    {
        @include media-query( $widescreen )
        {
            max-width: ( 100% / 5 );
        }
    }

    .gallery-columns-6 &
    {
        @include media-query( $moviehouse )
        {
            max-width: ( 100% / 6 );
        }
    }

    .gallery-columns-7 &
    {
        @include media-query( $theater )
        {
            max-width: ( 100% / 7 );
        }
    }

    .gallery-columns-8 &
    {
        @include media-query( $minorityreport )
        {
            max-width: ( 100% / 8 );
        }
    }

    .gallery-columns-9 &
    {
        @include media-query( $cinema )
        {
            max-width: ( 100% / 9 );
        }
    }
}