.article-entry-title_name
{
    font-size: $font-xxl;
    
    .article-sub-entry_comp &
    {
        font-size: $font-xl;
        
        .article-sub-entry_comp &
        {
            font-size: $font-l;
        }
    }
}

.comment-reply-title
{
    font-size: $font-l;
}

.widget-title,
.comments-count_note
{
    font-size: $font;
}