.notice
{
    margin-bottom: $gutter;
    
    p:last-of-type
    {
        // Counter-Effect
        margin-bottom: 0;
    }
}

.notice_cr
{
    padding: $gutter-xs $gutter-s;
}

.notice_cr
{
    border: $one dotted $faint;
    border-radius: $radius-xs;
}

.note
{
    font-style: italic;
    color: $gray;
}