.notice
{
    margin-bottom: $gutter;
    
    p:last-of-type
    {
        // Counter-Effect
        margin-bottom: 0;
    }
}

.notice_cr
{
    padding: $gutter-xs $gutter-s;
}

.notice_cr
{
    border-width: $one;
    border-style: dotted;
    border-radius: $radius-xs;
}

.note
{
    font-style: italic;
}