// Search Icon
.content-hr_sidebar,
.content_sidebar,
.colophon_sidebar
{

    .search-form_input
    {
        // Reset
        background-color: transparent;
    }
}

// Search Form Label
.search-form_label
{    
    cursor: pointer;
}

.content-hr_sidebar,
.colophon_sidebar
{
    .widget_search
    {
        .widget_cr
        {
            @include margin-x( auto );
            max-width: $mobile-l-size;
        }
    }
}

// Visibility
.search_form legend,
.widget_search .accessible-name
{
    @extend %hs-patch--visually-hidden !optional;
}

.hs-template__search--default
{
    .masthead_sidebar
    {
        .search_icon,
        .dismiss_icon
        {
            @extend %hs-patch--visually-hidden !optional;
        }
    }
}