// Read More

.show-more-content_comp
{
    .pred_label,
    .slash_label
    {
        @extend %hs-patch--visually-hidden !optional;
    }
    
    .article-entry-title_label
    {
        @extend %hs-patch--visually-hidden !optional;
    }
}

.show-more-content_axn
{
    display: table-cell;
    height: $utility-block;
    vertical-align: middle;
}