// Skip Link

//------------------------- Default
.show-content_axn
{
    @extend %hs-patch--visually-hidden !optional;
    
    &:focus,
    &:active
    {
        @extend %hs-patch--visually-hidden-reverse !optional;
    }
}

//------------------------- JS
.js
{
    .show-content_comp
    {
        position: absolute;
        top: 0;
        z-index: $layer1;
    }
}

//------------------------- No JS
.no-js
{
    .show-content_axn
    {
        @extend %hs-patch--visually-hidden-reverse !optional;
    }
}