// Skip Link

.show-content_axn
{
    @extend %hs-patch--visually-hidden !optional;
}

.show-content_axn
{
    &:focus,
    &:active
    {
        @extend %hs-patch--visually-hidden-reverse !optional;
    }
}

.js
{
    .show-content_comp
    {
        position: absolute;
        top: 0;
        z-index: $layer1;
    }
}

.no-js
{
    .show-content_axn
    {
        @extend %hs-patch--visually-hidden-reverse !optional;
    }
}