// Show Top

.hs-template__show-top--default
{
    .show-top_cr
    {
        padding-left: $gutter;
        padding-right: $gutter;
    }
}

.show-top_label
{
    @extend %hs-nature--inline-icon-cr !optional;    
    
    @include dimensions( $utility-block );
    
    .arrow-left_icon {        
        @include transform( rotate( 90deg ) );
    }
}

.show-top-label_text
{
    @extend %hs-patch--visually-hidden !optional;
}

.show-top_axn
{
    display: inline-block;
}