.web-product-page-nav_cr
{
    padding: $block-xs;
}

.web-product-page_nav
{
    .page-numbers
    {
        @extend %hs-reset--unlist !optional;
        display: inline-block;
        text-align: center;
        
        li
        {
            display: inline-block;
            
            a,
            .current,
            .dots
            {
                display: table-cell;
                padding: $text-block;
                min-width: $utility-block;
                height: $utility-block;
                vertical-align: middle;
            }
        }
    }
}

.web-product-page-nav_friendly-name
{
    @extend %hs-patch--visually-hidden !optional;
}