.widget_calendar
{
    #next
    {
        text-align: right;
    }
}

.widget_archive,
.widget_category,
.widget_recent_entries
{
    a
    {
        margin-right: $gutter-xs;
    }
}

.widget_nav_menu
{
    .menu
    {
        // Reset
        @include margin-y( 0 );
    }
}

.widget_calendar
{
    .widget_cr
    {
        @include margin-x( auto );
        max-width: $moblet;
    }
}

.widget_cr
{
    > ul,
    > ol
    {
        margin-top: 0;
    }
}

.ui-state__widget-comp--empty,
.tagcloud:empty
{
    display: none;
}