.widget-title
{
    margin-bottom: 0;
}

.widget_calendar
{
    #next
    {
        text-align: right;
    }
}

.widget_archive,
.widget_category
{
    a
    {
        margin-right: .5rem;
    }
}

.sidebar
{
    img
    {
        max-width: 100%;
        height: auto;
    }
}

.widget_nav_menu
{
    .menu
    {
        // Reset
        @include margin-y( 0 );
    }
}