.widget-title
{
    //margin-bottom: 0;
}

.widget_calendar
{
    #next
    {
        text-align: right;
    }
}

.widget_archive,
.widget_category
{
    a
    {
        margin-right: .5rem;
    }
}

.sidebar
{
    img
    {
        max-width: 100%;
        height: auto;
    }
}

.widget_nav_menu
{
    .menu
    {
        // Reset
        @include margin-y( 0 );
    }
}

.content-hr_sidebar,
.content_sidebar,
.colophon_sidebar
{
    .widget_search
    {
        .widget_cr
        {
            @include hs-nature--center-block;
            max-width: $mobile-l-size;
        }
    }
}

.widget_calendar
{
    .widget_cr
    {
        @include hs-nature--center-block;
        max-width: $moblet;
    }
}

.widget_cr
{
    > ul,
    > ol
    {
        margin-top: 0;
    }
}