// Search Lightsaber

// Default State
.hs-template__search--lightsaber {
    
    // Conditional: JS Enabled
    &.modernizr--js
    {    
        // Default State
        .masthead_sidebar
        {
            .search_comp
            {
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
            }

            .search-form_axn .verb_label
            {
                @extend %hs-patch--visually-hidden !optional;
            }

            // Make container for the inline icon
            .search-form_label,
            .search-form_axn
            {    
                @extend %hs-nature--inline-icon-cr !optional;
            }

            .search_icon
            {
                @extend %hs-nature--inline-icon !optional;
            }

            .search-form_input
            {
                @extend %hs-reset--deflate !optional;

                // Counter-effect
                padding: .5rem 1rem;
            }
        }

        // Conditional

        // Wide Viewport
        &.hs-viewport--wide
        {
            .masthead_sidebar
            {
                .search_comp
                {
                    width: 20rem;
                }
            }
        }

        // If Hamburger Template and Narrow Viewport
        &.hs-template__primary-nav-masthead-sidebar--hamburger.hs-viewport--narrow
        {
            .masthead_sidebar
            {
                .search-form-input-field_cr
                {
                    padding-left: $block;
                }
            }
        }
    }
}

// Inactive State
.hs-state__search_lightsaber--inactive
{
    // Conditional: JS Enabled
    .modernizr--js &
    {
        .masthead_sidebar
        {
            .search-form_label .subj_label,
            .search-form_input,
            .search-form_axn
            {
                @extend %hs-patch--visually-hidden !optional;
            }

            .search-form-input_field {
                position: absolute;
                top: 0;
                right: 0;
            }
        }
    }
}

// Active State
.hs-state__search_lightsaber--active
{    
    // Conditional: JS Enabled
    .modernizr--js &
    {
        .masthead_sidebar
        {
            .search-form_axn
            {
                @extend %hs-reset--deflate !optional;
            }

            .search-form_label
            {
                @extend %hs-patch--visually-hidden !optional;
            }

            // Make way for the button icon
            .search-form-input-field_cr 
            {
                padding-right: $block;
            }

            // Position the button icon
            .search-form-axn_field
            {
                position: absolute;
                top: 0;
                right: 0;
            }
        }
    }
    
    // Conditional: Narrow Viewport
    .modernizr--js.hs-viewport--narrow &
    {
        // Hide Web Product Header
        .web-product-header_comp
        {
            // Preserve the layout
            visibility: hidden;
        }
    }

    // Conditional: Hamburger Template Narrow Viewport
    .modernizr--js.hs-template__primary-nav-masthead-sidebar--hamburger.hs-viewport--narrow &
    {
        .search_comp
        {
            z-index: 990;
        }
        
        .primary-nav-masthead-sidebar-toggle_axn
        {
            z-index: 1000;
        }
    }
}