.child-content {
    
    .entry {
        margin-bottom: 2.5rem;
        
        &:last-child {
            margin-bottom: auto;
        }
        
    }
    
    > *:not(.entry) {
        padding-left: $gutter;
        padding-right: $gutter;
    }
    
    .entry-user-action,
    .entry-meta {
        @extend %vhide;
    }
    
    .breadcrumbs {
        @extend %vhide;
    }
    
    &:first-child {
        margin-top: auto;
    }
    
    .entry-title {
        font-weight: normal;
    }
    
}