.child-page {    
    margin-top: 2rem;
    
    > *:not(.entry) {
        padding-left: $gutter;
        padding-right: $gutter;
    }
    
    .entry-user-action,
    .entry-meta {
        @extend %vhide;
    }
    
    .entry-title-link {
        font-weight: 600;
    }
    
    .breadcrumbs {
        @extend %vhide;
    }
    
    &:first-child {
        margin-top: auto;
    }
    
}