.colophon {
    
    .status-vertical-content-contain & {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    }
    
}


.site-info {
    padding: 1rem;
    @include font-size-rem($font-s-m);
    text-align: center;
    
    a {
        @include linkstyle-secondary;
    }
    
}