.comment-list {
    @include unlist;
    margin-bottom: 2rem;
    
    > li {
        margin-bottom: 2rem;
    }
    
    .children {
        @include unlist;
        
        @include mq($phablet, ieFixOn) {
            padding-left: $avatar-size;
        }
    
        > li {
            margin-bottom: 1rem;
        }
        
    }
    
}

.comment {
    padding-top: 1rem;
    padding-left: 1rem;
    
    .entry-ct-cr {
        padding-left: 0;
        padding-right: 0;
        
        p {
            margin-top: 1rem;
        }
        
    }
    
}

.comment-cr {
    position: relative;
    padding-right: 1rem;
}

.comment-hr {
    
    .comment-timestamp {
        text-align: right;
    }
    
    @include mq($phablet, ieFixOn) {
        @include avatar-adjust;
    }
    
}

.comment-timestamp {
    
    .label {
        @extend %vhide;
    }
    
}

.comments-hr {
    @extend %vhide;
    padding: 0 1rem;
}

.comments-heading {
    margin-bottom: auto;
}

.comments-cr {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.comment-timestamp-link {
    @include font-size-rem($font-s);
    @include linkstyle-faint;
}

.comment {
    
    .author-avatar {
        @include size($block-m);
        @include circle;

        a {
            display: block;
        }
    
        @include mq($phablet, ieFixOff, max) {
            float: left;
            margin-right: 1rem;
        }
    
        @include mq($phablet, ieFixOn) {
            position: absolute;
            top: 0;
            left: 0;
            @include size($avatar-size);
        }
        
    }
}

.comment-ct {    
    
    @include mq($phablet, $query1: max) {
        clear: both;
    }
    
    @include mq( $phablet ) {
        @include avatar-adjust;
    }
    
}

.comment-message {
    margin: auto;
    @include font-size-rem($font-m);
    font-style: normal;
    font-family: inherit;
    
    p {
        margin-bottom: .5rem;
    }

}

.comment-author {
    
    @include mq($phablet, ieFixOff, max) {
        float: left;
        height: $block-m;
    }
    
}

.comment-hr {
    @extend %cf;
}

.comment-meta {
    
    @include mq($phablet, $query1: max) {
        float: right;
    }
    
}

.comment-author-name {
    
    a {
        font-weight: 600;
    }
    
    .bypostauthor & {
        font-weight: 600;
        
    }
    
    @include mq($phablet, $query1: max) {
        float: right;
        @include valign-mid;
    }
    
    @include mq($phablet, ieFixOn) {
        margin-top: -1.25rem;
    }
    
}

.comment-action {    
    margin-top: .75rem;
    
    .action-item {
        display: inline-block;
        margin-right: 1rem;
        
        &:lasd-child {
            margin-right: auto;
        }
        
    }
        
    @include mq($phablet, ieFixOn) {
        @include avatar-adjust;
    }
    
}


.comment-form-signed-in-as {
    display: inline-block;
}

.comment-form-action {
    display: inline-block;
    margin-left: 1rem;
}

.note-optional {
    @include faint;
    font-weight: normal;
}

.form-submit {
    margin-bottom: auto;
}

.comment-respond {
    @extend %cf;
    margin-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    
    small {
        @include font-size-rem($font-m);
    }
    
    .label-verb-subject {
        @extend %vhide;
    }
    
    .comments-ct & {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
    .comment-list & {
        padding-left: 0;
        
        @include mq( $phablet ) {
            @include avatar-adjust;
        }        
        
    }
    
}

.comments-ct {
    
    .blank {
        @extend %vhide;
    }
    
}

.comments-ct-cr > * {
    padding-left: 0;
    padding-right: 0;
}

#cancel-comment-reply-link {
    margin-left: 1rem;
}

.comment-form-admin {
    margin-top: .5rem;
    margin-bottom: 1rem;
    text-align: center;
    
    @include mq( $phablet ) {
        float: right;
        margin-left: 2rem;
    }
    
}

.comment-reply-title {
    @include font-size-rem($font-l);
    text-align: center;
    
    @include mq( $phablet ) {
        float: left;
    }
    
}

.comment-pending {
    margin-bottom: auto;
    font-style: italic;
}

.comments {
    
    .blank {
        margin-bottom: 2rem;
        padding: 0 1rem;
    }
    
}

.comments-hr {
    margin-bottom: 1rem;
}

.comment-navigation-list {
    
    .action-item {
        display: inline-block;
        
        a {
            display: inline-block;
            padding: 1rem;
        }
        
    }
    
}


.comment-subscription-form {
    margin-bottom: auto;
}

.comment-date {
    margin-right: .5rem;
}


// Submit Button
.comment-form {
    
    textarea {
        $textarea-dimension: 4.5rem;
        
        display: block;
        height: $textarea-dimension;
        min-height: $textarea-dimension;
        
        @include mq( $mobile ) {
            padding-right: $textarea-dimension;
        }
        
    }

    .field-comment {
        clear: both;
        
        label {
            
            .logged-in & {
                @extend %vhide;
            }
            
        }
        
        // Minimal Submit Button
        @include mq( $mobile ) {
            position: relative;
        }
        
    }
    
    .field-author {
        clear: both;
    }

    .form-submit {
        
        // Minimal Submit Button
        @include mq( $mobile ) {
            position: absolute;
            right: 0;
            bottom: 0;
            margin-right: .75rem;
            margin-bottom: .75rem;
        }

        [type="submit"] {
            
            // Minimal Submit Button
            @include mq( $mobile ) {
                margin-top: 0;
                padding: 0;
                @include size( $block );
                @include circle;
            }
            
        }

    }

}