.comment-list {
    @include unlist;
    margin-bottom: 2rem;
    
    > li {
        margin-bottom: 2rem;
    }
    
    .children {
        @include unlist;
        
        @include mq($phablet, ieFixOn) {
            padding-left: $avatar-size;
        }
    
        > li {
            margin-bottom: 1rem;
        }
        
    }
    
}

.comment {
    padding-top: 1rem;
    padding-left: 1rem;
}

.comment-cr {
    position: relative;
    padding-right: 1rem;
}

.comment-hr {
    
    .comment-timestamp {
        text-align: right;
    }
    
    @include mq($phablet, ieFixOn) {
        @include avatar-adjust;
    }
    
}

.comment-timestamp {
    
    .label {
        @extend %vhide;
    }
    
}

.comments-hr {
    @extend %vhide;
    padding: 0 1rem;
}

.comments-heading {
    margin-bottom: auto;
}

.comments-cr {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.comment-timestamp-link {
    @include font-size-rem($font-s);
    @include linkstyle-faint;
}

.comment {
    
    .author-avatar {
        @include size($block-m);
        @include circle;

        a {
            display: block;
            background-color: $gray90;
        }
    
        @include mq($phablet, ieFixOff, max) {
            float: left;
            margin-right: 1rem;
        }
    
        @include mq($phablet, ieFixOn) {
            position: absolute;
            top: 0;
            left: 0;
            @include size($avatar-size);
        }
        
    }
}

.comment-ct {    
    
    @include mq($phablet, $query1: max) {
        clear: both;
    }
    
    @include mq($phablet, ieFixOn) {
        @include avatar-adjust;
    }
    
}

.comment-message {
    margin: auto;
    @include font-size-rem($font-m);
    font-style: normal;
    font-family: inherit;
    
    p {
        margin-bottom: .5rem;
    }

}

.comment-author {
    
    @include mq($phablet, ieFixOff, max) {
        float: left;
        height: $block-m;
    }
    
}

.comment-hr {
    @extend %cf;
}

.comment-meta {
    
    @include mq($phablet, $query1: max) {
        float: right;
    }
    
}

.comment-author-name {
    
    a {
        font-weight: 600;
    }
    
    .bypostauthor & {
        color: $color-secondary;
        font-weight: 600;
        
        & a {
            color: $color-link-secondary;
        }
        
    }
    
    @include mq($phablet, $query1: max) {
        float: right;
        @include valign-mid;
    }
    
    @include mq($phablet, ieFixOn) {
        margin-top: -1.25rem;
    }
    
}

.comment-action {    
    margin-top: .75rem;
    
    .action-item {
        display: inline-block;
        margin-right: 1rem;
        
        &:lasd-child {
            margin-right: auto;
        }
        
    }
        
    @include mq($phablet, ieFixOn) {
        @include avatar-adjust;
    }
    
}


.comment-form {
    
    .field-comment {
        clear: both;
        
        label {
            
            .logged-in & {
                @extend %vhide;
            }
            
        }
        
    }
    
    .field-author {
        clear: both;
    }
    
    textarea {
        $textarea-height: 4.5rem;
        
        display: block;
        height: $textarea-height;
        min-height: $textarea-height;
        max-height: $textarea-height + 6;
    }
}


.comment-form-signed-in-as {
    display: inline-block;
}

.comment-form-action {
    display: inline-block;
    margin-left: 1rem;
}

.note-optional {
    @include faint;
    font-weight: normal;
}

.form-submit {
    margin-bottom: auto;
}

.comment-respond {
    @extend %cf;
    margin-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    
    small {
        @include font-size-rem($font-m);
    }
    
    .label-verb-subject {
        @extend %vhide;
    }
    
    .comments-ct & {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
    .comment-list & {
        padding-left: 0;
        
        @include mq($phablet, ieFixOn) {
            @include avatar-adjust;
        }        
        
    }
    
}

.comments-ct {
    
    .blank {
        @extend %vhide;
    }
    
}

.comments-ct-cr > * {
    padding-left: 0;
    padding-right: 0;
}

#cancel-comment-reply-link {
    margin-left: 1rem;
}

.comment-form-admin {
    float: right;
    margin-left: 2rem;
    margin-top: .5rem;
    margin-bottom: 1rem;
}

.comment-reply-title {
    float: left;
    @include font-size-rem($font-l);
}

.comment-pending {
    margin-bottom: auto;
    @include faint;
    font-style: italic;
}

.comments {
    
    .blank {
        margin-bottom: 2rem;
        padding: 0 1rem;
    }
    
}

.comments-hr {
    margin-bottom: 1rem;
}

.comment-navigation-list {
    
    .action-item {
        display: inline-block;
        
        a {
            display: inline-block;
            padding: 1rem;
        }
        
    }
    
}


.comment-subscription-form {
    margin-bottom: auto;
}

.comment-date {
    margin-right: .5rem;
}

.sudo-input-text {
    
    &[data-state-form-element="focused"] {  
        @include border($alpha: .75);
    }
    
}

// Minimal form button
@mixin min-form-button {
    
    .comment-form {

        .field-comment {
            position: relative;
        }

        .form-submit {
            position: absolute;
            right: 0;
            bottom: 0;
            margin-right: .75rem;
            margin-bottom: .75rem !important;
            @include circle;
            
            [type="submit"] {
                margin-top: auto;
                padding: 0;
                @include size( $block-m );
            }
            
        }

    }
    
}

@include mq( $tablet, ieFixOn) {
    
    @include min-form-button;
    
}