//Comment
.comment-author-name {
    
    .bypostauthor & {
        color: $color-primary;
        
        & a {
            color: $color-link-secondary;
        }
        
    }
    
}

.comment .author-avatar a {
    background-color: $gray90;
}


// Comments
.comment-pending {
    color: $faint;
}


.comment-form-admin {
    
    .signed-in-as-link,
    .comment-form-exit-link {
        @include linkstyle-faint-theme;
    }
    
}


.comment-timestamp-link,
.comment-reply-link,
#cancel-comment-reply-link {
    @include linkstyle-faint-theme;
}