.comment-list {
    @include unlist;
    margin-bottom: 2rem;
    
    > li {
        margin-bottom: 2rem;
    }
    
    .children {
        @include unlist;
        
        @include mq($phablet, ieFixOn) {
            padding-left: $avatar-size;
        }
    
        > li {
            margin-bottom: 1rem;
        }
        
    }
    
}

.comment {
    padding-top: 1rem;
    padding-left: 1rem;
}

.comment-cr {
    position: relative;
    padding-right: 1rem;
}

.comment-hr {
    
    .comment-timestamp {
        text-align: right;
    }
    
    @include mq($phablet, ieFixOn) {
        @include avatar-adjust;
    }
    
}

.comment-timestamp {
    
    .label {
        @extend %vhide;
    }
    
}

.comments-hr {
    padding: 0 1rem;
}

.comments-heading {
    margin-bottom: auto;
}

.comments-cr {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.comment-timestamp-link {
    @include font-size-rem($font-s);
    @include faint;
}

.comment {
    
    .author-avatar {
        @include size($block-m);
        @include circle;

        a {
            display: block;
            background-color: $gray90;
        }
    
        @include mq($phablet, ieFixOff, max) {
            float: left;
            margin-right: 1rem;
        }
    
        @include mq($phablet, ieFixOn) {
            position: absolute;
            top: 0;
            left: 0;
            @include size($avatar-size);
        }
        
    }
}

.comment-ct {    
    
    @include mq($phablet, $query1: max) {
        clear: both;
    }
    
    @include mq($phablet, ieFixOn) {
        @include avatar-adjust;
    }
    
}

.comment-message {
    margin: auto;
    @include font-size-rem($font-m);
    font-style: normal;
    font-family: inherit;
    
    p {
        margin-bottom: .5rem;
    }
    
    blockquote {
        color: $color-quote-text;
    }

}

.comment-author {
    
    @include mq($phablet, ieFixOff, max) {
        float: left;
        height: $block-m;
    }
    
}

.comment-hr {
    @extend %cf;
}

.comment-meta {
    
    @include mq($phablet, $query1: max) {
        float: right;
    }
    
}

.comment-author-name {
    
    @include mq($phablet, $query1: max) {
        float: right;
        @include valign-mid;
    }
    
    @include mq($phablet, ieFixOn) {
        margin-top: -1.25rem;
    }
    
}

.comment-action {    
    margin-top: .75rem;
    
    .action-item {
        display: inline-block;
        margin-right: 1rem;
        
        &:lasd-child {
            margin-right: auto;
        }
        
    }
        
    @include mq($phablet, ieFixOn) {
        @include avatar-adjust;
    }
    
}


.comment-form {
    
    textarea {
        height: 4.25rem;
        min-height: 2.5rem;
        max-height: 7.25rem;
    }
}


.comment-form-signed-in-as {
    display: inline-block;
}

.comment-form-action {
    display: inline-block;
    margin-left: 1rem;
}

.note-optional {
    @include faint;
}

.form-submit {
    margin-top: 1rem;
}

.comment-respond {
    margin-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    
    small {
        @include font-size-rem($font-m);
    }
    
    .label-verb-subject {
        @extend %vhide;
    }
    
    .comments-ct & {
        padding-left: 1rem;
    }
    
    .comment-list & {
        padding-left: 0;
        
        @include mq($phablet, ieFixOn) {
            @include avatar-adjust;
        }        
        
    }
    
}

#cancel-comment-reply-link {
    padding: 1rem;
}

.comment-form-admin {
    margin-bottom: 1rem;
}

.comment-reply-title {
    @include font-size-rem($font-l);
}

.comment-pending {
    margin-bottom: auto;
    @include faint;
    font-style: italic;
}

.comments {
    
    .blank {
        margin-bottom: 2rem;
        padding: 0 1rem;
    }
    
}

.comments-hr {
    margin-bottom: 1rem;
}

.comment-navigation-list {
    
    .action-item {
        display: inline-block;
        
        a {
            display: inline-block;
            padding: 1rem;
        }
        
    }
    
}


.comment-subscription-form {
    margin-bottom: auto;
}

.comment-date {
    margin-right: .5rem;
}

.sudo-input-text-comment {
    padding: .25rem;
}