.page-navigation-list {
    
    a {
        color: $color-content-nav-link;

        &:hover {
            background-color: rgba( $color-content-nav-bg, .1 );
        }
        
    }
    
}


.entry-navigation-list {
    
    .action-item a {
        color: $color-content-nav-link;

        &:hover {
            background-color: rgba( $color-content-nav-bg, .1 );
        }
        
    }
    
}


.entry-page-navigation-list {
    
    a {
        color: $color-content-nav-link;

        &:hover {
            color: $color-font;
            background-color: rgba( $color-content-nav-bg, .1 );
        }
        
    }
    
}


.entry-page-navigation-list {
    
    // Current page
    > .label {
        color: $color-content-nav-fg;
        background-color: $color-content-nav-bg;
    }
    
}


.page-navigation-list {
    
    .current {
        color: $color-content-nav-fg;
        background-color: $color-content-nav-bg;
    }
    
}