// Generic Content Navigation
.content-navigation {
    clear: both;
    margin-top: 2rem;
}

.content-navigation-cr {
    @include borderstyle-perforated;
    @include borderstyle-perforated( top );
}

.content-navigation-list {
    @include unlist;
    
    .action-item {
        margin-bottom: auto;
        padding: 1rem;
        
        &:last-child {
            margin-bottom: auto;
        }
        
    }
    
}


// Global Page Navigation (Page 1 2 3 )
.page-navigation {
    
    .content-navigation-cr {
        padding: .5rem $gutter;
    }
    
}

.page-navigation-list {
    text-align: center;
    
    @include mq( $tablet ) {
        text-align: left;
    }
    
    a {
        @include linkstyle-highlight;
    }
    
    .page-numbers {
        @include linkstyle-cube;
    }
    
    .current {
        @include linkstyle-cube-current;
    }
    
}


// Entry Navigation (Previous / Next )
.entry-navigation-list {
    display: block;
    text-align: center;
    
    @include mq( $tablet, iefixOn ) {
        @include center-list;
    }
    
    .action-item {
        position: relative;
        padding: 2rem;
        padding-top: .5rem;
        width: 100%;
        vertical-align: top;
        
        @include mq( $tablet, iefixOn ) {
            width: 50%;
        }
        
        a {
            display: block;
            @include linkstyle-highlight;
        }
        
        .label {
            position: absolute;
            bottom: 0;
            left: 0;
            margin-bottom: .5rem;
            width: 100%;
            @include textstyle-label-primary;
        }
        
    }
    
}


// Entry Page Navigation (Pagination within Entry)
.entry-page-navigation {
    
    .content-navigation-cr {
        border: none;
    }
    
}

.entry-page-navigation-list {
    
    > * {
        @include linkstyle-cube;
    }
    
    > .label {
        @include linkstyle-cube-current;
    }
    
    a {
        @include linkstyle-highlight;
    }
    
    .text-label {
        margin-right: 1rem;
        margin-bottom: auto;
        padding-left: 0;
        padding-right: 0;
        @include textstyle-label-primary;
        line-height: normal;
    }
    
}