$entry-byline-avatar-size: 2rem;

.entry {
    @extend %cf;
    
    .show-more-content {

        .more-link {
            display: inline-block;
            margin-left: -1rem;
            padding: .75rem 1rem;
            border-bottom: none;
            
            &:hover {
                text-decoration: underline;
            }
            
        }
        
    }
    
}


.entry-cr {
    margin-bottom: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}


.entry-title {
    display: inline;
    @include font-size-rem($font-xl);
    font-weight: 600;
    line-height: normal;
    word-wrap: break-word;
    
    @include mq( $tablet, $query1: max ) {
        @include font-size-rem( $font-l );
    }
    
}

.entry-title-link {
    
    .single &,
    .page & {
        color: $font-color-base;
    }
    
}

.entry-hr-cr {
    margin-bottom: 2rem;
    padding-left: $gutter;
    padding-right: $gutter;
    
    .entry-meta {
        margin-top: 1rem;
        margin-bottom: 1rem;
        
        .page & {
            @extend %vhide;
        }
        
    }
    
    .entry-thumbnail {
        margin-top: 1rem;
    }
    
    .entry-user-action {
        margin-top: .5rem;
    }

}


    
.entry-timestamp {
    display: inline-block;
    
    .entry-hr &,
    .entry-fr & {
        margin-right: 1rem;
    }
    
}

.entry-timestamp-link {
    @include linkstyle-faint;
}

.entry-byline {
    @extend %cf;
    display: inline-block;
    margin-top: .25rem;
    line-height: $entry-byline-avatar-size;
    
    .avatar {
        float: left;
        margin-right: .5rem;
        @include size( $entry-byline-avatar-size );
        @include circle;
    }
    
    .mid-label {
        margin-right: .5rem;
    }
    
    .author a {
        @include linkstyle-faint;
    }
    
}

.entry-admin-action {
    display: inline-block;
}

.entry-ct {
    
    > * {
        margin-bottom: 2rem;
    
        &:last-child {
            margin-bottom: auto;
        }
        
    }
    
}


.entry-ct-cr {
    padding-left: $gutter;
    padding-right: $gutter;
    
    > {
        
        * {
            word-wrap: break-word;            

            &:last-child {
                margin-bottom: auto;
            }
            
        }
        
        p {
            line-height: 1.75;
        }
        
    }
    
    // Entry Links
    a {
        @include linkstyle-faint;
        
    }
    
    hr {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    
    ul + p,
    ol + p {
        margin-top: -1rem;
    }
    
    p,
    pre,
    dd,
    dl,
    table,
    .wp-caption,
    .field,
    .notice {
        margin-bottom: 1.5rem;
    }
    
    blockquote,
    form {
        margin-bottom: 2rem;
    }
    
    p {
        margin-top: 2rem;
    }

    // Reset bottom spacing on elements
    p:last-child,
    li:last-child,
    .field:last-child,
    .field-action,
    table:last-child {
        margin-bottom: auto;
    }
    
    .pull-quote {

        @include mq( $tablet ) {

            float: left;
            margin-left: auto;
            margin-right: 1.5rem;
            margin-bottom: 1.5rem;
            padding-right: 0;
            width: 30%;
            @include font-size-rem( $font-xl );
        }

    }
    
    @each $item in $heading-tags {

        > #{$item} {
            margin-top: 2rem;
            margin-bottom: 2rem;
            
            &:first-child {
                margin-top: auto;
            }
            
        }

    }
    
    h3 {
        font-weight: 600;
    }
    
    h4 {
        @include font-size-rem( $font-m );
        font-weight: 600;
    }
    
    pre {
        margin-left: $gutter;
        margin-right: $gutter;
        padding-left: 0;
        padding-right: 0;
    }
    
    @include shrink-heading;
    
    // Format: Status
    .format-status & {
        
        > * {
            @include font-size-rem($font-l);
        }
        
    }

    // Fix SVG <img> width and height in Galleries
    img[src*=".svg"],
    img[src*=".png"] {
        background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeD0iMCIgeT0iMCIgdmlld0JveD0iMCAwIDI0IDI0IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAyNCAyNCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PGcgb3BhY2l0eT0iMC4xNSI+PHJlY3Qgd2lkdGg9IjEyIiBoZWlnaHQ9IjEyIi8+PHJlY3QgeD0iMTIiIHk9IjEyIiB3aWR0aD0iMTIiIGhlaWdodD0iMTIiLz48L2c+PC9zdmc+);
        background-size: 1.125rem;
    }
    
    img[src*=".svg"][width="1"] {
        width: 100%;
        height: auto;
    }
    
}

.entry-fr {
    
    .entry-meta {
        margin-bottom: 1rem;
    }
    
}

.entry-fr-cr {
    margin-top: 1.5rem;
    padding-left: $gutter;
    padding-right: $gutter;
}


.entry-admin-action {
    @include transform(translate(0, 0.25rem));
}


.post-edit-link {
    @extend %buttonizer-primary;
    @include font-size-rem($font-s);
    
    .label-verb-subject {
        @extend %vhide;
    }
    
}


.entry-subtitle {
    @include font-size-rem($font-m-l);
    
    .label {
        @extend %vhide;
    }
    
}

.entry-meta {
    @include font-size-rem($font-s-m);
}


// Post Format: Status
.format-status {
    
    .entry-hr {
        @extend %vhide;
    }
    
    .entry-fr-cr {
        
        .entry-meta {
            display: inline-block;
        }
        
        .entry-admin-action {
            display: inline-block;
            vertical-align: middle;
        }
        
    }
    
}