// Entry Title Link
.entry-title-link {
    
    // If the Entry Title is on a listing
    .blog &,
    .home & {
        color: $color-link-primary;
    }
    
    // If the Entry Title in on its page
    .single &,
    .page & {
        color: $color-font;
    }
    
    // Sticky Posts
    .sticky & {
        color: darken( $color-primary, 10% );
    }
    
}


// More Link
.show-more-content .more-link {
    color: $color-link-secondary;
}

.post-edit-link {
    @include buttonizer-theme;
}


.entry-timestamp-link {
    @include linkstyle-faint-theme;
}

.entry-byline {
    
    .author a {
        @include linkstyle-faint-theme;
    }
    
}


.entry-ct-cr a {
    @include linkstyle-faint-theme;
}