.entry {
    @extend %cf;
    
    .home &,
    .search & {
        margin-bottom: $block-m;
    }
    
    .single & {
        margin-bottom: 2rem;
    }
    
    .show-more-content {

        .more-link {
            display: inline-block;
            margin-left: -1rem;
            padding: .75rem 1rem;
            color: $color-link-secondary;
        }
        
    }
    
    &.sticky {
        
        .entry-title-link {
            color: $color-link-secondary;
        }
        
    }
    
    .wp-caption {
        padding-left: 0;
        padding-right: 0;
    }
    
    hr {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    
}

.entry-title {
    display: inline;
    @include font-size-rem($font-xl);
    font-weight: 700;
    line-height: normal;
    word-wrap: break-word;    
}

.entry-hr-cr {
    margin-bottom: 1rem;
    padding-left: $gutter;
    padding-right: $gutter;
    
    .entry-meta {
        margin-top: .5rem;
        margin-bottom: 1rem;
        
        > * {
            display: inline-block;
        }
        
        .page & {
            @extend %vhide;
        }
        
    }
    
    .entry-thumbnail {
        margin-top: 1rem;
    }
    
    .entry-user-action {
        margin-top: .5rem;
    }

}

.entry-fr-cr {
    padding-left: $gutter;
    padding-right: $gutter;
}


    
.entry-timestamp {
   
    a {
        @include linkstyle-secondary;
    }
    
    .entry-hr & {
        margin-right: 1rem;
    }
    
}

.entry-byline {
    
    a {
        @include linkstyle-secondary;
    }
    
}

.entry-admin-action {
    display: inline-block;
}

.entry-ct {
    margin-bottom: 1rem;
    
    > * {
        margin-bottom: 1rem;
    
        &:last-child {
            margin-bottom: auto;
        }
        
    }
    
}


.entry-ct-cr {    
    
    > {
        
        * {
            padding-left: $gutter;
            padding-right: $gutter;
            word-wrap: break-word;            

            &:last-child {
                margin-bottom: auto;
            }
            
        }
        
        p {
            line-height: 1.75;
        }
        
    }
    
    @each $item in $heading-tags {

        > #{$item} {
            margin-top: 1.5rem;
            
            &:first-child {
                margin-top: auto;
            }
            
        }

    }
    
    @include shrink-heading;
    
    // Format: Status
    .format-status & {
        
        > * {
            @include font-size-rem($font-l);
        }
        
    }
    
    a:not( .more-link ):not( .entry-thumbnail-link ):not( .gallery-icon a ) {
        @include linkstyle-secondary;
    }

    // Fix SVG <img> width and height in Galleries
    img[src*=".svg"],
    img[src*=".png"] {
        background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeD0iMCIgeT0iMCIgdmlld0JveD0iMCAwIDI0IDI0IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAyNCAyNCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PGcgb3BhY2l0eT0iMC4xNSI+PHJlY3Qgd2lkdGg9IjEyIiBoZWlnaHQ9IjEyIi8+PHJlY3QgeD0iMTIiIHk9IjEyIiB3aWR0aD0iMTIiIGhlaWdodD0iMTIiLz48L2c+PC9zdmc+);
        background-size: 1.125rem;
    }
    
    img[src*=".svg"][width="1"] {
        width: 100%;
        height: auto;
    }
    
}

.entry-fr {
    margin-top: 1rem;
    
    .entry-meta {
        margin-bottom: 1rem;
    }
    
}

.entry-tags {
    
    a {
        @include linkstyle-secondary;
    }
    
}

.page-links {
    
    > * {
        display: inline-block;
    }
    
    p {
        margin-bottom: auto;
    }
    
    a, > .label {
        padding: 1rem;
    }
    
}

.entry-admin-action {
    @include transform(translate(0, 0.25rem));
}


.post-edit-link {
    @extend %buttonizer-primary;
    @include font-size-rem($font-s);
    
    .label-verb-subject {
        @extend %vhide;
    }
    
}


.entry-subtitle {
    @include font-size-rem($font-m-l);
    
    .label {
        @extend %vhide;
    }
    
}

.entry-meta {
    @include font-size-rem($font-s-m);
}

.format-image {
    
    .img-cr {
        padding-left: 0;
        padding-right: 0;
    }
    
}