.entry {
    @extend %cf;
    
    .home &,
    .search & {
        margin-bottom: $block-m;
    }
    
    .single & {
        margin-bottom: 2rem;
    }
    
    .show-more-content {

        .more-link {
            display: inline-block;
            margin-left: -1rem;
            padding: .75rem 1rem;
            color: $color-link-secondary;
        }
        
    }
    
    &.sticky {
        
        .entry-title-link {
            color: $color-link-secondary;
        }
        
    }
    
    blockquote {
        color: $color-quote-text;
    }
    
    .wp-caption {
        padding-left: 0;
        padding-right: 0;
    }
    
    hr {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    
}

.entry-title {
    display: inline;
    @include font-size-rem($font-xl);
    font-weight: 700;
    line-height: normal;
    word-wrap: break-word;    
}

.entry-title-link {
    
    .single &,
    .page .entry & {
        color: $font-color-base;
    }
    
}

.entry-hr-cr {
    margin-bottom: 1rem;
    padding-left: $gutter;
    padding-right: $gutter;
    
    .entry-meta {
        margin-top: .5rem;
        margin-bottom: 1rem;
        
        .page & {
            @extend %vhide;
        }
        
    }
    
    .entry-thumbnail {
        margin-left: -$gutter;
        margin-right: -$gutter;
        margin-top: 1rem;
    }
    
    .entry-user-action {
        margin-top: .5rem;
    }

}

.entry-fr-cr {
    padding-left: $gutter;
    padding-right: $gutter;
}


    
.entry-timestamp {
   
    a {
        @include linkstyle-secondary;
    }
    
}

.entry-byline {
    
    a {
        @include linkstyle-secondary;
    }
    
}

.entry-admin-action {
    display: inline-block;
}

.entry-ct {
    margin-bottom: 1rem;
}

.entry-ct-cr {    
    
    > * {
        padding-left: $gutter;
        padding-right: $gutter;
        word-wrap: break-word;            
        
        &:last-child {
            margin-bottom: auto;
        }
    }
    
    @each $item in $heading-tags {

        > #{$item} {
            margin-top: 1.5rem;
            
            &:first-child {
                margin-top: auto;
            }
            
        }

    }
    
    @include shrink-heading;
    
    // Format: Status
    .format-status & {
        
        > * {
            @include font-size-rem($font-l);
        }
        
    }
    
    a:not(.more-link) {
        @include linkstyle-secondary;
    }
    
}

.entry-fr {
    margin-top: 1rem;
    
    .entry-meta {
        margin-bottom: 1rem;
    }
    
}

.entry-tags {
    
    a {
        @include linkstyle-secondary;
    }
    
}

.page-links {
    
    > * {
        display: inline-block;
    }
    
    p {
        margin-bottom: auto;
    }
    
    a, > .label {
        padding: 1rem;
    }
    
}

.entry-admin-action {
    @include transform(translate(0, -0.35rem));
}


.post-edit-link {
    @extend %buttonizer-primary;
    @include font-size-rem($font-s);
    
    .label-verb-subject {
        @extend %vhide;
    }
    
}


.entry-subtitle {
    @include font-size-rem($font-m-l);
    
    .label {
        @extend %vhide;
    }
    
}

.entry-meta {
    @include font-size-rem($font-s-m);
}

.format-image {
    
    .img-cr {
        padding-left: 0;
        padding-right: 0;
    }
    
}