.main-content-hr-cr {
    padding: 0 $gutter;
}

.main-content-heading {
    margin-bottom: auto;
    @include font-size-rem($font-xl);
    line-height: normal;
    
    .label {
        color: $faint;
    }
    
}

.main-content-hr {
    margin-bottom: 2rem;
    
    .home &,
    .single &,
    .page &,
    .error404 & {
        @extend %vhide;
    }
    
}

.main-content-meta  {
    @include font-size-rem($font-m-l);
}