// WordPress uses two instances of .nav-menu:
// one is for the default navigation as: <div class="nav-menu"><ul><li>...
// second is if you use a custom menu as: <ul class="nav-menu"><li>...
// As general usage for WordPress and others (like plain HTML), refer to .nav-menu as div.nav-menu
// and the <ul> as .nav-menu > ul


div.nav-menu {
    position: relative;
    @include z($layer1);
    
    > ul {
        
        // Non-mobile mode
        @include mq($tablet, ieFixOn) {
            @include center-list;
        }

        > {
            
            .page_item_has_children,
            .menu-item-has-children {

                &.status-sub-nav-active {
                    // Themed
                    
                    @include pseudo-content(before) {

                        // Non-mobile mode
                        @include mq($tablet, ieFixOn) {
                            display: none;
                        }

                    }
                    
                }
                
                &.status-sub-nav-inactive:after {
                    @include mq($tablet, ieFixOn) {
                        @include background-image-icon('../img/more.svg');
                        opacity: .25;
                    }
                }

                &.status-sub-nav-inactive:hover:after {

                    // Non-mobile mode
                    @include mq($tablet, ieFixOn) {
                        opacity: .5;
                    }

                }

            }
                
            li > {
                a,
                *:first-child {
                    white-space: nowrap;
                }

            }
            
            .page_item,
            .menu-item {
                
                // Wide mode
                @include mq($tablet, ieFixOn) {
                    border-bottom: none;
                }
                
            }
            
        }

    }        

    ul {        
        @extend %unlist;
    }

    li {
        margin-bottom: auto;
        @include transition(background-color);

        // Non-mobile mode
        @include mq($tablet, ieFixOn) {
            vertical-align: top;
        }

        &:last-child {
            margin-right: auto;
        }
        
        &:hover {
            
            // Mobile mode
            @include mq($tablet, $query1: max) {
                // Themed
            }
            
        }

    }
    
    a {
        @include linkstyle-reset;
        display: block;
        padding: 1rem;
        @include transition-bg-color;  

        &:hover {

            // Mobile mode
            @include mq($tablet, $query1: max) {
                text-decoration: none;
            }

        }
        
    }
    
    .page_item,
    .menu-item {
        
        @include borderstyle-perforated;

        &:last-child {
            border-bottom: none;
        }
        
    }
    
    .status-sub-nav-active {
        
        .page_item,
        .menu-item {
            
            &.status-sub-nav-active {
                
                // Wide mode
                @include mq($tablet, ieFixOn) {
                    border-bottom: none;
                }
                
            }
            
        }
        
        .current_page_item {
        
            // Sub nav highlight
            @include mq($tablet, ieFixOn) {
                @include pseudo-content(before) {
                    left: 0;
                    top: 0;
                    @include size(.5rem, 100%);
                    background-color: $darken15;
                    border-radius: .125rem .125rem 0 0;
                }
                
            }
            
        }
        
    }
        
    .current_page_item {
        
        @include pseudo-content(before) {            
            
            // Non-mobile mode
            @include mq($tablet, ieFixOn) {
                left: 0;
                bottom: 0;
                @include size(100%, .5rem);
                background-color: $darken15;
            }
            
        }
        
        > a {
            font-weight: 600;
        }
        
    }

    .status-mobile-main-nav-active & {

        // Mobile mode
        @include mq($tablet, $query1: max) {
            @include size(100%);
            // Themed
            overflow-x: hidden;
            overflow-y: auto;

            li, a {
                color: $white;
            }

        }

    }

    .children, .sub-menu {
        @include vhide;
    }

    .page_item_has_children, .menu-item-has-children {
        position: relative;

        > a {
            margin-right: $block-l;

            // Non-mobile mode
            @include mq($tablet, ieFixOn) {
                @include pseudo-content;
                margin-right: $block-m;
                
                &:after {
                    // Temp
                    display: none;
                    top: 50%;
                    right: 0;
                    margin-top: -.75rem;
                    @include size($one, 1.5rem);
                    border-right: $one dotted rgba($white, .5);
                }
                
            }

        }

        &:hover {
            cursor: pointer;
        }

        // Pseudo-element for the more icon
        &:after {
            $icon-size: .75rem;
            @include sudo-ct;
            @include position-offset($icon-size);
            @include size($icon-size);                
            @include transition(opacity);
            margin-right: 1.25rem;
            @include background-image-icon('../img/more-light.svg');
            opacity: .5;
            z-index: 90;

            // Mobile mode
            @include mq($tablet, $query1: max) {
                top: 1.65rem;
                @include size(1rem);
            }

        }

        // Light more icon
        &.status-sub-nav-active:after {
            @include transform(rotate(180deg));
        }

        &.status-sub-nav-active:hover:after {
            opacity: 1;
        }

        &.status-sub-nav-active {
            // Themed
            @include transition(background-color);
            
            &:hover {
                // Themed
            }

            a {
                color: $white;

                &:hover {
                    text-decoration: none;
                }

            }

            > {

                * {
                    color: $white;
                }

                .children,
                .sub-menu {                        
                     @include vhide-rev;
                }
                
                a {
                    
                    &:hover {
                        background-color: $darken5;
                    }
                    
                }

            }

            .children,
            .sub-menu {
                $fold-size: .75rem;
                // Themed
                text-align: left;
                z-index: 90;

                // Non-mobile mode
                @include mq($tablet, ieFixOn) {
                    @include position($t: 100%);
                    min-width: 100%;
                    white-space: nowrap;
                    
                    // Folding list
                    margin-top: -$fold-size;
                    margin-left: $fold-size;
                
                }
                
                li {
                    @include transition(background-color);
                    
                    &:hover {
                        background-color: $darken15;
                    }
                    
                }
                
                // White line
                &:before {
                    
                    // Non-mobile mode
                    @include mq($tablet, ieFixOn) {
                        @include sudo-ct;
                        top: 0;
                        left: 0;
                        @include size(100%, $one);
                        background-color: rgba($white, .25);
                        z-index: 90;
                    }
                    
                }
                
                // Triangle shadow
                &:after {
                    
                    // Non-mobile mode
                    @include mq($tablet, ieFixOn) {
                        @include sudo-ct;
                        top: 0;
                        left: 0;
                        margin-left: -$fold-size;
                        @include size(0);
                        border-style: solid;
                        border-width: 0 0 $fold-size $fold-size;
                        border-color: transparent transparent $darken15 transparent;
                        z-index: 90;
                    }
                    
                }

            }

        }            

        > {

            .children,
            .sub-menu {                        
                @include vhide;
            }

        }

    }

}


.main-navigation-heading {
    margin-bottom: auto;
    
    // Mobile mode
    @include mq($tablet, $query1: max) {    
        @include font-size-rem($font-reset);
        @include size($block-l);
        @include svg-iconize;        
    }
    
    // Non-mobile mode
    @include mq($tablet, ieFixOn) {
        @include vhide;
    }
    
    .icon {
        // Mobile mode
        @include mq($tablet, $query1: max) {

            @include size($block-s);
            @include transition(fill);

            .modernizr-no-inlinesvg & {
                @include vhide-rev;
            }

        }
        
        .status-mobile-main-nav-active & {
            
            @include mq($tablet, $query1: max) {
                fill: $white;
            }
            
        }
        
    }
    
    &:hover {
        // Mobile mode
        @include mq($tablet, $query1: max) {
            cursor: pointer;
        }
    }
    
    .label {
        // Mobile mode
        @include mq($tablet, $query1: max) {
            @include vhide;
        }
    }

}

.main-navigation-ct {
    
    // Mobile mode
    @include mq($tablet, $query1: max) {
        position: fixed;
        left: 0;
        bottom: 0;        
        padding-top: $block-l;
        @include size(100%);
        @include transform(translate(0, 100%));
        text-align: left;
    }

    .status-mobile-main-nav-active & {
        
        // Mobile mode
        @include mq($tablet, $query1: max) {
            @include transform(translate(0, 0));
            @include z($layer1);
        }
        
    }

}