// WordPress uses two instances of .nav-menu:
// one is for the default navigation as: <div class="nav-menu"><ul><li>...
// second is if you use a custom menu as: <ul class="nav-menu"><li>...
// As general usage for WordPress and others (like plain HTML), refer to .nav-menu as div.nav-menu
// and the <ul> as .nav-menu > ul

div.nav-menu {
    
    li {
        margin-bottom: auto;
    }

}


// Main Navigation
.main-navigation {
    
    div.nav-menu {
        
        // Mobile mode
        @include mq($tablet, $query1: max) {

            .status-mobile-main-nav-active & {

                @include size(100%);
                background-color: $color-primary;
                overflow-x: hidden;
                overflow-y: auto;

                li, a {
                    color: $white;
                }

            }

        }
        
        ul {        
            @extend %unlist;
        }
        
        // Non-mobile mode
        @include mq($tablet, ieFixOn) {
            
            > ul {
                @include center-list;
            }
            
        }
        
        li {
            margin-bottom: auto;
            
            // Non-mobile mode
            @include mq($tablet, ieFixOn) {
                vertical-align: top;
            }
            
        }
        
        a {
            display: block;
            padding: 1rem;
            @include transition-bg-color;            
        }
        
        // Mobile mode
        @include mq($tablet, $query1: max) {
            
            a:hover {
                background-color: $darken5;
                text-decoration: none;
            }

        }
        
        .children {
            
            // Mobile mode
            @include mq($tablet, $query1: max) {
                
                a {
                    padding-left: 2rem;
                }
                
            }
            
            // Non-mobile mode
            @include mq($tablet, ieFixOn) {
                @include vhide;
            }
        
        }
        
        .page_item_has_children {
            
            // Non-mobile mode
            @include mq($tablet, ieFixOn) {                
                position: relative;
                
                &:hover {
                    background-color: $color-primary;
                    
                    
                    > * {
                        color: $white;
                    }
                    
                    
                    .children {
                        @include vhide-rev;
                        position: absolute;
                        left: 0;
                        top: 100%;
                        text-align: left;
                        white-space: nowrap;
                        
                        a {
                            color: $white;
                            background-color: $color-primary;
                        }
                        
                    }
                                        
                }
                
            }
            
        }
        
    }
    
}


.main-navigation-heading {
    margin-bottom: auto;
    @include vhide;    
    
    // Mobile mode
    @include mq($tablet, $query1: max) {
    
        @include vhide-rev;
        @include font-size-rem($font-reset);

        @include size($block-l);
        @include svg-iconize;

        .icon {
            @include size($block-s);
            @include transition(fill);
            
            .modernizr-no-inlinesvg & {
                @include vhide-rev;
            }

        }

        &:hover {
            cursor: pointer;
        }

        .label {
            @include vhide;
        }
        
    }

}

.main-navigation-cr {
    
    // Mobile mode
    @include mq($tablet, $query1: max) {
        text-align: center;
    }
    
}

.main-navigation-ct {
    
    // Mobile mode
    @include mq($tablet, $query1: max) {
    
        @include position(fixed, 100%, $l: 0);
        padding-top: $block-l;
        @include size(100%);
        @include transform(translate(0, 100%));
        text-align: left;
        z-index: 100;

        .status-mobile-main-nav-active & {
            
            @include transform(translate(0, 0));

        }
        
    }

}