@mixin nav-menu-list-item-bg-theme {
    background-color: darken( $color-primary, 5% );
}

@mixin nav-menu-mobile-main-nav-bg-theme {
    background-color: darken( $color-primary, 10%);
}


div.nav-menu {
    
    > ul > {
    
        .page_item_has_children,
        .menu-item-has-children {

            &.status-sub-nav-active {
                background-color: darken( $color-primary, 5%);
            }

        }
        
    }
    
    li {

        &:hover {
            background-color: darken( $color-primary, 5% );
        }

    }
    
    .page_item_has_children,
    .menu-item-has-children {
        
        &.status-sub-nav-active {
            background-color: darken( $color-primary, 5%);
            
            &:hover {
                background-color: darken( $color-primary, 5%);
            }
            
        }
        
    }
    
    .page_item_has_children {
       
        &.status-sub-nav-active {
            
            .children {
                background-color: darken($color-primary, 2.5%);
            }
            
        }
        
    }
    
    .menu-item-has-children {
       
        &.status-sub-nav-active {
            
            .sub-menu {
                background-color: darken($color-primary, 2.5%);
            }
            
        }
        
    }
    
}