$content-width-percentage: 65%;
$sidebar-width-percentage: 100% - $content-width-percentage;

$total-width: 78rem;
$content-width: 48rem;
$sidebar-width: $total-width - $content-width;


.main-cr {
    
    @include mq($desktop, iefixOn) {
        @include cf;
    }
    
    @include mq($widescreen, iefixOff) {
        margin-top: auto;
    }
    
}

// Default layout of Primary and Secondary Content
.primary-content-cr,
.secondary-sidebar-cr {
    width: 100%;
    
    @include mq($monitor, iefixOn) {
        @include margin-center;
        max-width: $content-width;
    }
    
}

.primary-content {
    
    // Active Secondary Sidebar
    .secondary-sidebar-active & {
    
        @include mq($desktop, iefixOn) {
            float: left;
            width: $content-width-percentage;
        }
        
        @include mq($minorityreport, iefixOff) {
            margin-right: -$sidebar-width;
            width: 100%;
        }
        
        .primary-content-cr {
            
            @include mq($minorityreport, iefixOff) {
                @include margin-center;
                padding-right: 0;
                max-width: $content-width;
            }
            
        }
        
    }
    
}


.secondary-sidebar {

    .secondary-sidebar-active & {

        @include mq($desktop, iefixOn) {
            float: right;
            width: $sidebar-width-percentage;
        }

        @include mq($minorityreport, iefixOff) {
            width: $sidebar-width;
        }

    }

}


.main-content-hr-cr {
    padding: 0 $gutter;
}

.main-content-heading {
    margin-bottom: auto;
    @include font-size-rem($font-xl);
    line-height: normal;
    
    .label {
        color: $faint;
    }
    
}

.main-content-hr {
    margin-bottom: 2rem;
    
    .home &,
    .single &,
    .page &,
    .error404 & {
        @extend %vhide;
    }
    
}

.main-content-meta  {
    @include font-size-rem($font-m-l);
}