// Default header style if nothing is set for wide viewport
@include mq( $tablet ) {

    .masthead-cr {
        text-align: center;
    }

    .site-title-heading {
        margin-bottom: auto;
    }

    .site-title-link {
        display: inline-block;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .site-description {
        @include faint;
    }
    
    @include corner-search;
    
}



// Header style for narrow viewports
// Default for parent and child
@include mq( $tablet, $query1: max ) {
    @include header-compact;
}


// Parent-specific style of header for wide viewports
// This must be set on a child theme using a specific site class
@include mq( $tablet ) {
    
    .hopscotch--site {
        @include header-semi-compact;
    }
    
}