// Narrow viewport
@include mq($tablet, $query1: max) {
    @include header-compact;
    // Themed
}

// Wide viewport
@include mq($tablet, ieFixOn) {
    @include header-semi-compact;
    // Themed
}

.skip-to-content-link {
    @extend %vhide;
}

.site-title-link {
    display: inline-block;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.site-description {
    @include faint;
}