.page-navigation-list {
    
    > * {
        display: inline-block;
        padding: 1rem;
    }
    
}

.page-numbers {
    
    &.dots {
        padding-left: 0;
        padding-right: 0;
    }
    
}