.sharedaddy {
    
    .sd-title {
        @extend %vhide;
    }
    
    ul {
        @include unlist;
        margin-bottom: auto;
        padding-left: 0;
    }
    
    li {
        display: inline-block;
    }
}

.g-follow-wrapper {
    margin-left: 1rem;
}


.contact-form {
    
    #{$form-input-type-text} {
        width: 100% !important;
        max-width: 100% !important;
    }
    
    .contact-submit {
        margin-top: 1rem;
        
        input[type="submit"] {
            @include button-style-default;
            padding-top: .5rem;
            padding-bottom: .5rem;
            border: none;
        }
        
    }
    
    textarea {
        height: 4.5rem !important;
        min-height: 4.5rem;
    }

}