.scroll-top {
    position: fixed;
    right: 0;
    bottom: 0;
    padding-right: .25rem;
    padding-bottom: .25rem;
    animation-duration: 1s;
    animation-timing-function: ease;
    
    .status-scroll-top-active & {
        animation-name: goIn;
        @include transform(translateY(0));
    }
    .status-scroll-top-inactive & {
        animation-name: goOut;
        @include transform(translateY(100%));
    }
    
}

@keyframes goIn {
    from { @include transform(translateY(100%)); }
    to { @include transform(translateY(0)); }
}

@keyframes goOut {
    from { @include transform(translateY(0)); }
    to { @include transform(translateY(100%)); }
}

.scroll-top-link {
    @extend %svg-iconize;
    display: block;
    @include size($block-m);
    border-radius: $radius-s;
    @include transition(background-color);
    
    .label {
        @extend %vhide;
    }
    
    .icon {
        @include size($block-s);
        @include transform(rotate(180deg));
    }
    
    &:active {
        @include transform(translate(0, $one));
    }
    
}