.widget_search {
        
    .secondary-sidebar &,
    .tertiary-sidebar & {
       
        label {
            @extend %vhide;
        }

        $button-size: 5rem;

        .search--field--input {
            float: left;
            margin-bottom: auto;
            width: 100%;
            margin-right: -$button-size;

            .field-cr {
                margin-right: .5rem;
                padding-right: $button-size;
            }

        }

        .search--field-action {
            float: right;
            width: $button-size;
        }
        
        .icon-search {
            @extend %vhide;
        }
    
    }

}


.header-sidebar {

    .search-cr {
        background-color: rgba($white, .95);
    }
    
    .search--sudo-input-text {
        border: none;
        
        .status-search-inactive & {
            @extend %vhide;
        }
       
        .status-search-active & {
            max-width: 8rem
        }
        
    }

    .search--sudo-button {
        // Reset
        background-color: transparent;
        border: none;
        
        .status-search-inactive & {
            @extend %vhide;
        }
    }
    
    .search-form {
        position: relative;
        
        .status-search-active & {
            padding-right: $block-l;
        }
        
    }
    
    .search--field--input {
        margin-bottom: auto;
        height: $block-l;
        
        .field-cr {
            @extend %valign-mid;
        }
        
    }
        
    .search-control {
        @extend %svg-iconize;
        margin-bottom: auto;
        @include size($block-l);

        .label {
            @extend %vhide;
        }

        .icon {
            @include size($block-s);
        }
        
        &:hover {
            cursor: pointer;
        }
        
        .status-search-active & {
            @extend %vhide;
        }

    }

    .search-submit {
        @include size($block-l);
        @extend %svg-iconize;

        .label {
            @extend %vhide;
        }

        .icon {
            @include size($block-s);
        }

    }
    
    .search--field-action {
        position: absolute;
        top: 0;
        right: 0;        
    }

}