.widget_search {
        
    label {
        @extend %vhide;
    }

    $button-size: 5rem;

    .field {
        float: left;
        margin-bottom: auto;
        width: 100%;
        margin-right: -$button-size;

        .field-cr {
            margin-right: .5rem;
            padding-right: $button-size;
        }

    }

    .field-action {
        float: right;
        width: $button-size;
    }
    
    .header-sidebar & {
        margin-top: 2rem;
    }

}