.search--sudo-button {
    
    &[data-state-form-element="focused"] {
        
        .header-sidebar &,
        &:hover {
            background-color: $darken5;
        }
        
    }
    
}


.header-sidebar {

    .search--sudo-button {
        background-color: transparent;
        
        &:hover {
            background-color: $darken5;
        }
        
    }
    
    .search-form {
        
        [data-state-search="active"] & {

            @include mq( $tablet, $query1: max ) {
                background-color: $white;
            }

        }
        
    }
    
    .search-control {
        
        // If Mobile Main Nav is active and Search is active
        .status-mobile-main-nav-active [data-state-search="inactive"] & {
            
            .icon {
                
                @include mq( $tablet, $query1: max ) {
                    fill: $white;
                    
                    &:hover {
                        fill: $color-primary;
                    }
                    
                }
                
            }

        }
        
    }
    
}