.site-info {
    padding: 1rem;
    @include font-size-rem($font-s-m);
    text-align: center;
    
    a {
        @include linkstyle-secondary;
    }
    
    .status-scroll-top-active & {
        padding-left: 5rem;
        padding-right: 5rem;
    }
    
}