.site-footer {
        
    .widget_nav_menu {

        .menu {
            @include unlist;
            @include center-list;

            a {
                display: inline-block;
                padding: 1rem;
            }

        }

        .sub-menu {
            display: inline;
            margin-left: auto;
            margin-bottom: auto;
        }

    }        

}