.secondary-sidebar,
.tertiary-sidebar {
   
    .widget {
        margin-bottom: 2rem;
        padding: 0 $gutter;

        &:last-child {
            margin-bottom: auto;
        }

    }
    
}

.widget-title {
    margin-top: .75rem;
    @include font-size-rem($font-m-l);
    line-height: normal;
}

.widget_calendar {
    
    th, td {
        padding: .5rem;
    }
    
    #next {
        text-align:right;
    }
    
}