.hs-feature__breadcrumb-navigation--breadings
{
    &.hs-viewport--narrow
    {
        .breadcrumb-nav_cr
        {
            text-align: center;
        }
    }
    
    .breadcrumb-nav_grp
    {
        @extend %hs-reset--unlist !optional;
        
        // Counter-Effect
        margin-left: $axn-padding-counter;
        margin-right: $axn-padding-counter;
    }

    .breadcrumb-nav_item
    {
        display: inline-block;
        margin-left: $gutter-s;
        
        &:first-child
        {
            // Reset
            margin-left: 0;

            .breadcrumb-nav_axn:after
            {
                // Counter-Effect
                display: none;
            }
        }
    }

    .breadcrumb-nav_axn
    {
        @extend %hs-nature--utility-blocker !optional;
        
        position: relative;

        &:after
        {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            margin-left: -.875rem;
            margin-top: -6px;
            width: 12px;
            height: 12px;
            background-image: url( ../img/icon-arrow-down.svg );
            background-size: cover;
            @include transform( rotate( -90deg ) );
            cursor: default;
        }
    }
}