.hs-feature__breadcrumb-navigation--breadings
{
    .breadcrumb-nav_grp
    {
        @extend %hs-reset--unlist !optional;
        
        // Counter-Effect
        @include margin-x( -$gutter-s );
    }

    .breadcrumb-nav_item
    {
        display: inline-block;
        margin-left: $gutter-s;
        
        &:first-child
        {
            // Reset
            margin-left: 0;

            .breadcrumb-nav_axn:after
            {
                // Counter-Effect
                display: none;
            }
        }
    }

    .breadcrumb-nav_axn
    {
        // Var
        $breadcrumb-nav-axn-dimensions: 12;
        
        @extend %hs-nature--utility-blocker !optional;
        display: table-cell;
        
        position: relative;
        
        &:after
        {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            margin-left: -.875rem;
            margin-top: - convertRem( $breadcrumb-nav-axn-dimensions / 2 );
            @include dimensions( convertRem( $breadcrumb-nav-axn-dimensions ) );
            background-image: url( ../img/icon-arrow-down.svg );
            background-size: cover;
            @include transform( rotate( -90deg ) );
            cursor: default;
        }
    }
}