.hs-template__masthead--celery
{
    // Masthead
    .masthead_cr
    {
        min-height: $utility-block;
    }
    
    .web-product-header_cr
    {
        

        .web-product_name
        {
            word-break: break-word;
            
            // Reset
            line-height: 1;
        }
        
        .web-product-name_axn
        {
            @extend %hs-nature--utility-blocker !optional;
            display: table-cell;
            // @include padding-x( 1.5rem );
            text-decoration: none;
        }
    }
    
    .web-product-header_name
    {
        font-size: 1.5rem;
    }
    
    // Narrow Viewport
    &.hs-viewport--narrow
    {  
        // Web Product Header            
        .web-product-header_name
        {
            display: table;
            width: 100%;
            text-align: center;
        }
    }
}