.hs-feature__masthead--celery
{   
    //------------------------- Default
    .masthead_cr
    {
        min-height: $utility-block;
    }
    
    .web-product-header_name
    {
        word-break: break-word;

        // Reset
        line-height: 1;
    }

    .web-product-header-name_axn
    {
        @extend %hs-nature--utility-blocker !optional;
        display: table-cell;
        @include padding-x( 1.5rem );
        text-decoration: none;
        
        @include media-query( $viewport-wide )
        {
            text-align: left;
        }
    }
    
    .web-product-header_name
    {
        display: table;
        width: 100%;
        font-size: $font;
        
        @include media-query( $viewport-wide )
        {  
            font-size: $font-l;
        }
    }
    
    //------------------------- No JS
    &.no-js
    {
        .web-product-header-name_axn
        {
            text-align: left;
        }
    }
}