.hs-feature__primary-nav-masthead-sidebar--hamburger
{
    // Default
    .primary_nav
    {
        display: none;
    }
    
    .primary-nav-masthead-sidebar-toggle_axn
    {
        display: none;
    }
    
    .web-product-header_cr
    {
        @include padding-x( $utility-block );
    }
    
    &.js
    {        
        .primary-nav-masthead-sidebar-toggle_axn
        {
            @extend %hs-reset--deflate !optional;
            
            position: absolute;
            top: 0;
            left: 0;

            // Correction
            margin-top: -$one;
            z-index: $layer1;

            // Counter-effect
            padding-left: .5rem;
            padding-right: .5rem;
            
            width: $utility-block;
            height: $utility-block;
            
            .dismiss_icon
            {
                display: none;
                @include dimensions( 1.25rem );
            }
            
            .toggle_label
            {
                @extend %hs-patch--visually-hidden !optional;
            }
        }
        
        // Inactive
        .hs-state__primary-nav-masthead-sidebar_hamburger--inactive
        {
            .primary-nav-masthead-sidebar-toggle_axn
            {
                display: block;
            }
        }

        // Active
        .hs-state__primary-nav-masthead-sidebar_hamburger--active
        {            
            .primary_nav,
            .primary-nav-masthead-sidebar-toggle_axn
            {
                display: block;
            }
            
            .primary-nav-masthead-sidebar-toggle_axn
            {
                .dismiss_icon
                {
                    display: inline-block;
                }
            }
            
            .primary-nav-masthead-sidebar-toggle_axn
            {
                .menu_icon
                {
                    display: none;
                }
            }
        }
        
        @include media-query( $viewport-wide )
        {
            .hs-state__primary-nav-masthead-sidebar_hamburger--active
            {
                .primary-nav-masthead-sidebar-toggle_axn
                {
                    display: none;
                }
            }
    
            .web-product-header_cr
            {
                @include padding-x( 0 );
            }
        }
    }
    
    &.no-js
    {
        // Default
        .primary_nav
        {
            display: block;
        }
    }
}