.hs-feature__primary-nav--vines
{
    &.js
    {
        // Default
        .primary-nav_ct
        {
            ul
            {
                @extend %hs-reset--unlist !optional;
            }

            li
            {
                display: table;
                width: 100%;
                word-break: break-word;

                a
                {
                    @extend %hs-nature--utility-blocker !optional;
                    display: table-cell;
                    @include padding-x( $gutter );
                    width: 100%;
                    text-align: left;
                }
            }

            .page_item_has_children,
            .menu-item-has-children
            {
                position: relative;

                > a
                {
                    padding-right: $block-l;
                }
            }

            .children,
            .sub-menu
            {
                display: none;
                z-index: $layer2;

                // Do not show sibling of active nav item
                > .hs-type__primary-nav-item_tree--inactive-sibling
                {
                    @extend %hs-patch--visually-hidden !optional;
                }
            }
        
            // Current Item Indicator
            .current_page_item > a
            {
                font-weight: bold;
                text-decoration: none;
            }
        }

        // Component: Primary Sub-Navigation Toggle Action
        // - Object that appears as a button if a navigation item has sub-navigation items under it
        // - <button> is used for accessibility

        // Default
        .primary-sub-nav-toggle_axn
        {
            @extend %hs-reset--deflate !optional;

            // Enables the use of pseudo-element with position: absolute
            position: absolute;
            top: 0;
            right: 0;
            
            opacity: .75;
            @include transition--basic;

            // Counter-Effect
            width: auto;

            .toggle_label
            {
                @extend %hs-patch--visually-hidden !optional;
            }
            
            &:hover,
            &:focus
            {
                opacity: 1;
            }

            // Icon
            &:after
            {
                $icon-size: 1rem;

                // Creates the pseudo-element
                content: '';

                // Absolutely-positions the element
                position: absolute;

                // Sets the element to be centered vertically; partered with an offset using margin-top
                top: 50%;

                // Position to the right
                right: 50%;

                // Offset top: 50% by dividing the height by 2 (1.5 / 2 = .75)
                margin-top: -$icon-size / 2;

                // Sets a space to the right
                margin-right: -$icon-size / 2;

                // Sets the visual size of the actual icon
                @include dimensions( $icon-size );

                // Uses SVG to have hi-res icon
                background-image: url( ../img/icon-arrow-down.svg );

                // Prevents the tiling of the background-image
                background-repeat: no-repeat;

                // Occupies the space of the width and height
                background-size: cover;

                // For animation
                @include transition( transform .2s );
            }
        }

        .hs-state__primary-nav-item_tree--active
        {
            > .primary-sub-nav-toggle_axn:after
            {
                @include transform( rotate( -180deg ) );
            }
            
            &.page_item_has_children > .children,
            &.menu-item-has-children > .sub-menu
            {
                // Counter-Effect
                display: table-row;
            }
        }

        @include media-query( $viewport-wide )
        {
            .primary-nav_ct
            {
                // First-Level Item
                > ul
                {
                    > li
                    {
                        // Juxtapose
                        display: inline-block;
                        vertical-align: top;
                    }
                }
                
                li
                {
                    // Counter
                    width: auto;
                }

                .children,
                .sub-menu                
                {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    min-width: 100%;
                    width: auto;
                    white-space: nowrap;

                    // Vis
                    background-color: white;
                    background-color: hsla( 0, 100%, 100%, .95 );
                }
            }

            // Active
            .hs-state__primary-nav-item_tree--active
            {
                > .children,
                > .sub-menu
                {
                    // Counter-Effect
                    display: block;
                    
                    > li
                    {
                        display: table;
                        width: 100%;
                        
                        a
                        {
                            text-align: left;
                        }
                    }
                }
            }

            .primary-sub-nav-toggle_axn
            {
                top: 50%;
                margin-top: convertRem( -$utility-block-unitless / 2 );
            }
        }
    }
        
    &.no-js
    {
        .masthead_sidebar
        {
            .search_comp
            {
                
            }
        }
    }
}