// Default State
.hs-feature__search--poppy-seeds {
    
    // Conditional: JS Enabled
    &.modernizr--js
    {
        .masthead_cr
        {
            position: relative;
        }
        
        // Default State
        .masthead_sidebar
        {
            .search_comp
            {
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
            }
            
            .search-form-submit_axn
            {
                @extend %hs-nature--inline-icon-cr !optional;
                
                &:not( :focus )
                {
                    @extend %hs-patch--visually-hidden !optional;

                    // Reset
                    @include dimensions( 0 );
                    min-width: 0;
                    min-height: 0;
                }
            }

            .search-form-submit_axn .verb_label,
            .search-form-reset_axn .verb_label
            {
                @extend %hs-patch--visually-hidden !optional;
            }
            
            .search-form-submit_axn,
            .search-form-reset_axn
            {
                @extend %hs-reset--deflate !optional;
            }

            // Make container for the inline icon
            .search-form_label,
            .search-form-reset_axn
            {    
                @extend %hs-nature--inline-icon-cr !optional;
            }

            .search_icon
            {
                @extend %hs-nature--inline-icon !optional;
            }
            
            .widget_search
            {
                .widget_cr
                {
                    // Counter-Effect
                    padding: 0;
                }
            }
            
            .dismiss_icon
            {
                @include dimensions( 1.25rem );
            }
            
            .search-form-input_field
            {
                // Reset
                margin-top: 0;
            }
        }
        
        // Narrow Viewport
        &.hs-viewport--narrow
        {   
            // Web Product Header            
            .web-product-header_cr
            {
                padding-left: $utility-block;
                padding-right: $utility-block;
            }
        }

        // Wide Viewport
        &.hs-viewport--wide
        {
            .masthead_sidebar
            {
                .search_comp
                {
                    width: 20rem;
                }
            }
        }

        // If Hamburger Template and Narrow Viewport
        &.hs-feature__primary-nav-masthead-sidebar--hamburger
        {
            &.hs-viewport--narrow
            {
                .hs-state__search_poppy-seeds--active
                {
                    .masthead_sidebar
                    {
                        .search-form-input-field_cr
                        {
                            padding-left: $utility-block;
                        }
                    }
                }
            }
        }
    }
}

// Inactive State
.hs-state__search_poppy-seeds--inactive
{
    // Conditional: JS Enabled
    .modernizr--js &
    {
        .masthead_sidebar
        {
            .search-form_label .subj_label,
            .search-form_input
            {
                @extend %hs-patch--visually-hidden !optional;
            }

            .search-form-input_field {
                position: absolute;
                top: 0;
                right: 0;
            }
            
            // Reset Action
            .search-form-reset_axn
            {                
                @extend %hs-patch--visually-hidden !optional;
            }
        }
    }
    
    transition: all 1s ease;
}

// Active State
.hs-state__search_poppy-seeds--active
{
    // Conditional: JS Enabled
    .modernizr--js &
    {
        .masthead_sidebar
        {

            .search-form_label
            {
                @extend %hs-patch--visually-hidden !optional;
            }

            // Make way for the button icon
            .search-form-input-field_cr 
            {
                padding-right: $utility-block;
            }

            // Position the button icon
            .search-form-axn_field
            {
                position: absolute;
                top: 0;
                right: 0;
            }

            .search-form_input
            {
                // Reset
                border: 0;

                // Counter-effect
                padding-right: 0;
                height: $utility-block;
            }
            
            // Reset Action
            .search-form-reset_axn
            {                
                @extend %hs-patch--visually-hidden-reverse !optional;
                
                position: absolute;
                top: 0;
                right: 100%;
            }
        }
    }
    
    .hs-feature__primary-nav-masthead-sidebar--hamburger.modernizr--js.hs-viewport--narrow &
    {
        .masthead_sidebar
        {
            .search-form_input
            {
                padding-left: 0;
            }
        }
    }
    
    // Conditional: Narrow Viewport
    .modernizr--js.hs-viewport--narrow &
    {
        // Hide Web Product Header
        .web-product-header_comp
        {
            // Preserve the layout
            visibility: hidden;
        }
    }

    // Conditional: Hamburger Template Narrow Viewport
    .modernizr--js.hs-feature__primary-nav-masthead-sidebar--hamburger.hs-viewport--narrow &
    {
        .search_comp
        {
            z-index: 990;
        }
        
        .primary-nav-masthead-sidebar-toggle_axn
        {
            z-index: 1000;
        }
    }
}