.hs-feature__search--poppy-seeds
{
    //------------------------- Default
    .masthead_cr
    {
        position: relative;
    }

    .masthead_sidebar
    {   
        .search-form_label
        {    
            @extend %hs-nature--inline-icon-cr !optional;
            
            .subj_label
            {
                display: none;
            }
        }
        
        .search-form-reset_axn
        {
            display: none;
        }

        .search_icon
        {
            @extend %hs-nature--inline-icon !optional;
        }
        
        .dismiss_icon
        {
            @include dimensions( 1.25rem );
        }

        .search-form_input
        {
            display: none;
        }
        
        .search-form-submit_axn
        {
            @extend %hs-reset--deflate !optional;
            @extend %hs-nature--inline-icon-cr !optional;

            &:not( :focus )
            {
                display: none;
            }
            
            .verb_label
            {
                display: none;
            }
        }

        // Position the button icon
        .search-form-axn_field
        {
            position: absolute;
            top: 0;
            right: 0;
        }
    }
        
    .primary-nav_cr
    {
        @include media-query( $viewport-wide )
        {
            padding-right: $utility-block;
        }   
    }
    
    //------------------------- JS
    &.js
    {
        .masthead_sidebar
        {
            .widget_search
            {
                .widget_cr
                {
                    // Counter-Effect
                    padding: 0;
                }
            }
            .search_comp
            {
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;

                @include media-query( $viewport-wide )
                {
                    width: 20rem;
                }
            }
            
            .search-form_label
            {    
                .subj_label
                {
                    display: block;
                    @extend %hs-patch--visually-hidden !optional;
                }
            }
            
            .search-form-reset_axn
            {
                display: block;
                @extend %hs-patch--visually-hidden !optional;

                // Reset
                @include dimensions( 0 );
                min-width: 0;
                min-height: 0;

                .verb_label
                {
                    @extend %hs-patch--visually-hidden !optional;
                }
            }

            .search-form_input
            {
                display: block;
                @extend %hs-patch--visually-hidden !optional;
            }
        
            .search-form-submit_axn
            {
                &:not( :focus )
                {
                    display: block;
                    @extend %hs-patch--visually-hidden !optional;

                    // Reset
                    @include dimensions( 0 );
                    min-width: 0;
                    min-height: 0;
                }

                .verb_label
                {
                    display: block;
                    @extend %hs-patch--visually-hidden !optional;
                }
            }
        
            .search-form-input_field
            {
                // Reset
                margin-top: 0;

                position: absolute;
                top: 0;
                right: 0;
            }
        }
    
        .web-product-header_cr
        {
            @include padding-x( $utility-block );

            @include media-query( $viewport-wide )
            {
                @include padding-x( 0 );
            }
        }

        //------------------------- Active
        .hs-state__search_poppy-seeds--active
        {
            .masthead_sidebar
            {
                .search-form_label
                {
                    @extend %hs-patch--visually-hidden !optional;
                }

                .search-form_input
                {
                    @extend %hs-patch--visually-hidden-reverse !optional;

                    // Counter-effect
                    padding-right: 0;

                    width: 100%;
                    height: $utility-block;
                }

                .search-form-input_field
                {
                    width: 100%;
                }

                .search-form-input-field_cr 
                {
                    padding-right: $utility-block;

                    @include media-query( $viewport-wide )
                    {
                        position: relative;

                        &:after
                        {
                            content: '';
                            position: absolute;
                            top: 0;
                            right: 100%;
                            @include dimensions( convertRem( $utility-block-unitless * 2 ), 100% );
                        }
                    }
                }

                .search-form-submit_axn
                {
                    // Correction
                    margin-top: -$one;
                }

                .search-form-reset_axn
                {
                    @extend %hs-patch--visually-hidden-reverse !optional;
                    @extend %hs-reset--deflate !optional;
                    @extend %hs-nature--inline-icon-cr !optional;

                    position: absolute;
                    top: 0;
                    right: 100%;

                    // Correction
                    margin-top: -$one;
                }
            }
        }

        &.hs-feature__primary-nav-masthead-sidebar--hamburger
        {
            .masthead_sidebar
            {
                .search-form_input
                {
                    padding-left: 0;
                }

                .search-form-input-field_cr
                {
                    padding-left: $utility-block;

                    @include media-query( $viewport-wide )
                    {
                        padding-left: 0;
                    }
                }

                .search_comp
                {
                    z-index: $layer2;
                }

                .primary-nav-masthead-sidebar-toggle_axn
                {
                    z-index: $layer1;
                }
            }
        }
    }
    
    &.no-js
    {
        .masthead_sidebar
        {
            .search_form
            {
                position: relative;
            }
            .search-form_label
            {
                display: none;
            }

            .search-form_input
            {
                display: block;
                padding-right: $utility-block;
            }
            
            .search-form-submit_axn
            {
                &:not( :focus )
                {
                    display: block;
                }
            }
        }
    }
}