$color-pri: $blue-superhero;
$color-sec: $orange-chikka;

$color-link: $color-pri;

$color-hover-item: rgba($color-pri, .05);
$color-selected-item: rgba($color-pri, 1);
$color-active-item: rgba($color-pri, .25);