$color-primary: $blue-superhero;
$color-secondary: $orange-chikka;

$color-link: $color-primary;

$color-link-hover: rgba($color-primary, .05);
$color-link-selected: rgba($color-primary, 1);
$color-link-active: rgba($color-primary, .25);