//------------------------- Font Family
$base-font-family: Helvetica, Arial, sans-serif;

$quote-font-family: Georgia, serif;

$base-font-size: 16px;

//------------------------- Font Sizes
$font-size-factor: .5;
$font-size-factor-s: $font-size-factor / 2;
$font-size-factor-xs: $font-size-factor-s / 2;
$font-m: 1rem;

$font-s: $font-m - $font-size-factor-s;
$font-s-m: $font-s + $font-size-factor-xs;
$font-xs: $font-s - $font-size-factor-s;

$font-l: $font-m + $font-size-factor;
$font-xl: $font-l + $font-size-factor;
$font-xxl: $font-xl + $font-size-factor;
$font-xxxl: $font-xxl + $font-size-factor;

//------------------------- Colors
$white: hsl(0, 0%, 100%);
$gray25: hsl(0, 0%, 25%);
$gray50: hsl(0, 0%, 50%);
$gray80: hsl(0, 0%, 80%);
$gray90: hsl(0, 0%, 90%);
$black: hsl(0, 0%, 0%);

$darken25: hsla(0, 0%, 0%, .25);
$darken50: hsla(0, 0%, 0%, .50);
$darken75: hsla(0, 0%, 0%, .75);

$blue-superhero: #00aaff; // Superhero Blue
$orange-chikka: #ff7f00; // Chikka Orange
$red-record: #e53a2e; // Record Red

//------------------------- Border Radius
$radius-s: .25rem;
$radius-m: $radius-s + .25;

//------------------------- Block sizes
$block-m: 3rem;
$block-l: $block-m + .5;
$block-xl: $block-l + .5;