// Form Input Placeholder
// The hint text that appears when you use the placeholder="" attribute in form elements
// http://stackoverflow.com/a/2610741

@mixin placeholder( $color: #404040, $opacity: 1 ) {
    ::-webkit-input-placeholder {
        color: $color;
    }
    
    :-moz-placeholder {
       color: $color;
       opacity: $opacity;
    }
    
    ::-moz-placeholder {
       color: $color;
       opacity: $opacity;
    }
    
    :-ms-input-placeholder {
       color: $color;
    }
}