// Spacing around components
// Not to be used on elements to increase padding

.article-entry-comments-actions_cr,
.entry-author_comp,
.entry-timestamp_cr,
.comment-admin-sign-in_cr,
.tag_cr,
.article-entry-nav_item,
.comment-form .field_cr,
.comment-form .form-submit
{
    padding: $gutter-xxs $gutter;
}

.comments-count_cr,
.comment-reply-title
{
    padding: $gutter-xs $gutter;
}

.comments_accessible-name,
.article-entry-title_name,
.comment-subscription-form,
.entry-admin_cr,
.comment-form-admin-actions_cr,
.breadcrumb-nav_cr,
.web-product-page-nav_cr,
.comments_ct .blank-comments_notice,
.content-hr_accessible-name,
.primary-content_desc,
.comments-commenting-disabled_note
{
    @include padding-x( $gutter );
}

.article-entry_cr,
.comments_cr,
.content-hr_cr
{
    @include padding-y( $gutter-l );
}

.article-sub-entry_comp
{
    .article-entry_cr
    {
        @include padding-y( 0 );
    }
}

.entry-ct_cr,
.web-product-page-nav_cr
{
    @include padding-y( $gutter );
}

.hs-viewport--wide
{
    .content-sidebar_cr
    {
        @include padding-y( $gutter-s );
    }
}

.widget-title,
.article-entry-nav_cr,
.comment-entry_cr
{
    @include padding-y( $gutter-xs );
}

.widget_cr
{
    padding: $gutter;
}

th,
td
{
    padding: $gutter-xxs;
}