// Extensions
%hs-rule--pagination--outer-elements
{
    display: inline-block;
    vertical-align: middle;
}
%hs-rule--pagination--current-indicator
{
    font-weight: bold;
}

// Article Entry Page Navigation
.web-product-page-nav_cr > .page-numbers
{
    @extend %hs-reset--unlist !optional;
}

.article-entry-page-nav_friendly-name,
.article-entry-page-nav_grp
{
    @extend %hs-rule--pagination--outer-elements;
}

.article-entry-page-nav_friendly-name
{
    padding: $axn-padding;
}

.article-entry-page-nav_cr
{
    @include margin-x( $axn-padding-counter );
}

.article-entry-page-nav_grp
{
    > *
    {
        @extend %hs-nature--utility-blocker !optional;
        display: table-cell;
    }

    > .item
    {
        @extend %hs-rule--pagination--current-indicator;
    }
}

// Web Product Page Navigation
.web-product-page-nav_friendly-name
{
    @extend %hs-patch--visually-hidden !optional;
}

.web-product-page-nav_cr
{        
    >
    {
        .page-numbers
        {
            @extend %hs-reset--unlist !optional;

            @include margin-x( $axn-padding-counter );

            li
            {
                @extend %hs-rule--pagination--outer-elements;

                .page-numbers,
                .dots
                {
                    @extend %hs-nature--utility-blocker !optional;
                    display: table-cell;
                }

                .current
                {
                    @extend %hs-rule--pagination--current-indicator;
                }
            }
        }
    }
}