.entry-admin_item a,
.comment-form-admin-actions-sign-out_item a,
.show-more-content_axn,
.comment-entry-reply-axn_axn-item a,
.article-entry-comments-actions_item a
{
    @extend %hs-nature--utility-blocker !optional;
    display: table-cell;
}

#{$button-objects}
{
    @extend %hs-nature--utility-blocker !optional;
    @include padding-x( $gutter );
}

.entry-admin_grp,
.comment-form-admin-actions_grp,
.comment-entry-axn_grp,
.show-more-content_cr,
.hs-state__article-entry-comments--open .article-entry-comments-actions_grp,
.hs-state__article-entry-comments--populated .article-entry-comments-actions_grp
{
    margin-left: $axn-padding-counter;
    margin-right: $axn-padding-counter;
}

.show-more-content_cr
{
    display: inline-block;
}