//------------------------- Fallback px for rem font sizes (to support IE8-)
// http://www.stubbornella.org/content/2013/07/01/easy-peasy-rem-conversion-with-sass/
@function calculateRem($size) {
    $remSize: $size / $font-size-base;
    @return #{$remSize}rem;
}

@function calculatePx($size) {
    $pxSize: $size * $font-size-base;
    @return #{$pxSize}px;
}

@mixin font-size-px($size) {
    font-size: $size + px;
    font-size: calculateRem($size);
}

@mixin font-size-rem($size) {
    font-size: calculatePx($size);
    font-size: $size + rem;
}


@mixin heading {

    h1 {
        @include font-size-rem($font-xxxl);
    }

    h2 {
        @include font-size-rem($font-xxl);
    }

    h3 {
        @include font-size-rem($font-xl);
    }

    h4 {
        @include font-size-rem($font-l);
    }

    h5 {
        @include font-size-rem($font-m-l);
    }

    h6 {
        @include font-size-rem($font-m);
    }
    
}


@mixin quote {

    blockquote,
    blockquote *,
    q {
        @include font-size-rem( $font-xl );
    }
    
}