// Header Semi-compact Theme (for wide viewports only)
// Checkout main-navigation-theme.scss for narrow viewports
@mixin header-semi-compact-theme {
        
    .masthead {
        background-color: $color-masthead-bg;
    }
    
    // Site Title
    .site-title-link {
        
        color: $color-masthead-fg;
        @include transition( background-color );
        
        &:hover {
            background-color: $color-masthead-hover-bg;
        }
        
        &:active {
            background-color: $color-masthead-active-bg;
        }
        
    }
    
    
    // Main navigation
    div.nav-menu {
        
        > ul {
            
            > li {

                // Default color of parent nav link (using this layout, it should be reverse color)
                > a {
                    color: $color-main-nav-rev-fg;

                    &:hover {
                        color: $color-main-nav-rev-hover-fg;
                    }
                }
                
                &:hover {                    
                    background-color: $color-main-nav-rev-hover-bg;                    
                }

            }
            
            > .page_item_has_children,
            > .menu-item-has-children {
                
                > a {                    
                    color: $color-main-nav-rev-fg;                    
                }
                
                &:hover {                    
                    background-color: $color-main-nav-rev-hover-bg;                    
                }
                
            }
            
            .page_item_has_children,
            .menu-item-has-children {
                
                > a {
                    
                    &:after {
                
                        // Nav link and icon hint divider
                        border-right-color: $color-main-nav-line-rev;

                    }
                    
                }
                
            }
            
        }
        
    } // div.nav-menu

}


// Search Theme
@mixin search-header-reverse-theme {
    
    .header-sidebar {
        
        .search-control .icon {
            fill: $color-search-rev-fg;
        }
        
        .search-submit .icon {
            fill: $color-search-rev-fg;            
        }
        
    }
    
    .header-sidebar .search-form {
        background-color: $color-search-rev-bg;
    }
    
    [data-state-search="active"] .header-sidebar {
        
        .search-form {
            background-color: $color-search-focus-bg;
        }
        
        .search-submit .icon {
            fill: $color-search-rev-fg;
        }
        
    }
    
    .header-sidebar .search-input {
        color: $color-search-rev-fg;
    }
    
    @include placeholder( $color-search-bg );
    
}

// Searchbar Fader
@mixin searchbar-side-fade-theme {
    
    .header-sidebar {

        .search-form {

            &:after {
                @include background-image( linear-gradient( left,  rgba( $color-search-rev-bg, 0 ) 0%, $color-search-rev-bg 100% ) );

            }

        }

    }

}