//------------------------- Position Offset
// For positioned elements, negative margin is used to offset the 50% positioning
// Usage: @include position-offset( 3rem, right, 0, top, 50%)
// Result: right: 0; top: 50%; margin-top: -1.5rem;

@mixin position-offset(
    $offset-value,
    $position-x: right,
    $position-x-value: 0,
    $position-y: top,
    $position-y-value: 50%
    ) {
    #{$position-x}: $position-x-value;
    #{$position-y}: $position-y-value;
    margin-#{$position-y}: -($offset-value / 2);
}


// 
@mixin pos-offset-x(
    $offset-value: 50%, // the width of the element
    $offset-position: left // left, right
    )
{
    #{$offset-position}: 50%;
    width: $offset-value;
    margin-#{$offset-position}: -($offset-value / 2);
}