//------------------------- Position
// Usage: @include pos($t: 100%, $l: 0);

@mixin position(
    $pos: absolute,
    $t: auto,
    $r: auto,
    $b: auto,
    $l: auto
    ) {            
    position: $pos;
    top: $t;
    right: $r;
    bottom: $b;
    left: $l;
}