//------------------------- Pseudo Content
@mixin sudo-ct {
    content: '';
    position: absolute;
}

@mixin pseudo-content( $pos: after ) {
    & {
        position: relative;
    }
    
    &:#{$pos} {
        @include sudo-ct;
        @content;
    }
    
}