@mixin reset-child($property: margin-bottom, $value: auto, $nth: last) {
    &:#{$nth}-child {
        #{$property}: $value;
    }
}


@mixin reset-spacing {
    margin: auto;
    padding: 0;
}

@mixin reset-padding {
    padding: 0;
}