.hs-theme--hopscotch
{
    //------------------------- Background Colors
    .masthead
    {
        background-color: $color-bg-rev;
    }

    .hs-container--screen
    {
        background-color: $white;
    }

    &.html,
    .colophon
    {
        background-color: hsla( 0, 0%, 50%, .0625 );
    }
    
    .web-product-header-name_axn
    {
        &:hover
        {
            background-color: hsla( 0, 0%, 0%, .125 );
        }
    }

    .web-product-header-name_axn,
    .primary-nav_ct li a
    {
        color: $white;
    }

    //------------------------- Vines
    &.hs-feature__primary-nav--vines
    {
        &.js
        {
            .primary-nav_ct
            {
                a
                {                        
                    @include transition--basic;

                    &:hover,
                    &:focus
                    {
                        background-color: hsla( 0, 0%, 0%, .125 );
                    }
                }
                
                .current_page_ancestor
                {
                    > a:after
                    {
                        background-color: hsla( 0, 0%, 0%, .0625 );
                    }
                }
                
                .current_page_item
                {
                    > a:after
                    {
                        background-color: hsla( 0, 0%, 0%, .25 );
                    }
                }
                
                .hs-state__primary-nav-item_tree--active
                {
                    background-color: hsla( 0, 0%, 0%, .0625 );
                }
            }
            
            .primary-sub-nav-toggle_axn
            {
                // Icon
                &:after
                {
                    // Uses SVG to have hi-res icon
                    background-image: url( ../img/icon-arrow-down-rev.svg );
                }
                
                &:hover,
                &:focus
                {
                    background-color: hsla( 0, 0%, 0%, .0625 );
                }
                
            }
            
            @include media-query( $viewport-wide )
            {
                .primary-nav_ct
                {
                    > ul
                    {
                        > .hs-state__primary-nav-item_tree--active
                        {
                            background-color: darken( $color-bg-rev, 2.5% );
                            
                            .children,
                            .sub-menu
                            {
                                background-color: darken( $color-bg-rev, 2.5% );
                                
                                .hs-state__primary-nav-item_tree--active
                                {
                                    background-color: darken( $color-bg-rev, 5% );

                                    .children,
                                    .sub-menu
                                    {
                                        background-color: darken( $color-bg-rev, 5% );
                                        
                                        .hs-state__primary-nav-item_tree--active
                                        {
                                            background-color: darken( $color-bg-rev, 7.5% );

                                            .children,
                                            .sub-menu
                                            {
                                                background-color: darken( $color-bg-rev, 7.5% );
                                            }
                                        }
                                    }
                                }
                            }                            
                        }
                    }
                }
            }
        }
    }

    //------------------------- Poppy Seeds
    &.hs-feature__search--poppy-seeds
    {
        &.js
        {
            .masthead_sidebar
            {
                .search_icon,
                .dismiss_icon
                {
                    color: $white;
                }
                
                .search-form_input
                {                    
                    color: $white;
                    background-color: $color-bg-rev;
                    
                    @include placeholder
                    {
                       color: $color-placeholder-rev;
                    }
                }
            }
            
            @include media-query( $viewport-wide )
            {
                .hs-state__search_poppy-seeds--active
                {
                    .masthead_sidebar
                    {                    
                        .search-form-input-field_cr
                        {
                            &:after
                            {                            
                                @include filter-gradient( #ffffff, #00aaff, horizontal );
                                @include background-image( linear-gradient( left,  hsla( 0, 0%, 100%, 0 ) 0%, hsla( 200, 100%, 50%, 1 ) 75% ) );
                            }
                        }
                    }
                }
            }
        }
    }
    
    //------------------------- Hamburger
    &.hs-feature__primary-nav-masthead-sidebar--hamburger
    {
        &.js
        {
            .primary-nav-masthead-sidebar-toggle_axn
            {
                .menu_icon,
                .dismiss_icon
                {
                    color: $white;
                }                
            }
        }
    }
    
    //------------------------- Articles
    .comments_cr,
    .widget_cr
    {
        border-top: $one dotted $faint;
        
        @include media-query( $viewport-wide )
        {
            border-top: 0;
        }
    }
    
    .article-entry_comp
    {
        border-bottom: $one dotted $faint;
        
        &:last-of-type
        {
            // Reset
            border-bottom: 0;
        }
    }
    
    .article-sub-entry_comp
    {
        .article-entry_comp
        {
            border-bottom: 0;
        }
    }
    
    .hs-state__content-sidebar--disabled
    {
        &.page
        {
            .article-entry_comp
            {
                &:last-of-type
                {
                    // Reset
                    border-bottom: 0;
                }
            }
        }
    }
    
    //------------------------- Entry Byline
    &.hs-mod__tag--string-beans
    {
        .tag_comp a
        {
            color: $white;
            background-color: $color-secondary;
        }
        
        .category-tag_comp a
        {
            color: $white;
            background-color: $color-secondary;
            
            &:hover
            {
                background-color: darken( $color-secondary, 5% );
            }
        }
        
        .tag-tag_comp a
        {
            background-color: $faint;
            
            &:hover
            {
                background-color: darken( $faint, 15% );
            }
        }
    }
    
    //------------------------- Form
    form
    {
        input[type="submit"]
        {
            color: $white;
            background-color: $color-button;
            @include transition--basic;
            
            // Reset
            border: 0;
            
            &:hover,
            &:focus
            {
                background-color: darken( $color-button, 5% );
            }
            
            &:active
            {
                @include transform( translate-y( -1px ) );
            }
        }
    }
}