.hs-theme--hopscotch
{
    //------------------------- Background Colors
    .masthead
    {
        background-color: $color-masthead-bg;
    }

    .hs-container--screen
    {
        background-color: $color-container-bg;
    }

    &.html,
    .colophon
    {
        background-color: $color-colophon-bg;
    }
    
    .web-product-header-name_axn
    {
        &:hover
        {
            background-color: $color-masthead-bg-hover;
        }
    }

    .web-product-header-name_axn,
    .primary-nav_ct li a
    {
        color: $color-masthead-text;
    }

    //------------------------- Vines
    &.hs-feature__primary-nav--vines
    {
        .primary-nav_ct
        {
            a
            {
                &:hover,
                &:focus
                {
                    background-color: $color-masthead-bg-hover;
                }
            }

            .current_page_item
            {
                > a:after
                {
                    background-color: $color-nav-current-view-indicator;
                }
            }

            .hs-state__primary-nav-item_tree--active
            {
                background-color: $color-nav-active;
            }
        }

        .primary-sub-nav-toggle_axn
        {                
            &:hover,
            &:focus
            {
                background-color: $color-nav-active;
            }

        }

        @include media-query( $viewport-wide )
        {
            .primary-nav_ct
            {
                > ul
                {
                    > .hs-state__primary-nav-item_tree--active
                    {
                        background-color: $color-nav-wide-active-level-1;

                        .children,
                        .sub-menu
                        {
                            background-color: $color-nav-wide-active-level-1;

                            .hs-state__primary-nav-item_tree--active
                            {
                                background-color: $color-nav-wide-active-level-2;

                                .children,
                                .sub-menu
                                {
                                    background-color: $color-nav-wide-active-level-2;

                                    .hs-state__primary-nav-item_tree--active
                                    {
                                        background-color: $color-nav-wide-active-level-3;

                                        .children,
                                        .sub-menu
                                        {
                                            background-color: $color-nav-wide-active-level-3;
                                        }
                                    }
                                }
                            }
                        }                            
                    }
                }
            }
        }
    }

    //------------------------- Poppy Seeds
    &.hs-feature__search--poppy-seeds
    {
        &.js
        {
            .masthead_sidebar
            {
                .search_icon,
                .dismiss_icon
                {
                    color: $white;
                }
                
                .search-form_input
                {                    
                    color: $white;
                    background-color: $color-bg-rev;
                    
                    @include placeholder
                    {
                       color: $color-placeholder-rev;
                    }
                }
            }
            
            @include media-query( $viewport-wide )
            {
                .hs-state__search_poppy-seeds--active
                {
                    .masthead_sidebar
                    {                    
                        .search-form-input-field_cr
                        {
                            &:after
                            {                            
                                @include background-image( linear-gradient( left,  rgba( $color-masthead-bg, 0 ) 0%, $color-masthead-bg 75% ) );
                            }
                        }
                    }
                }
            }
        }
    }
    
    //------------------------- Hamburger
    &.hs-feature__primary-nav-masthead-sidebar--hamburger
    {
        &.js
        {
            .primary-nav-masthead-sidebar-toggle_axn
            {
                .menu_icon,
                .dismiss_icon
                {
                    color: $white;
                }                
            }
        }
    }
    
    //------------------------- Articles
    .article-entry_comp
    {
        border-bottom-color: $faint;
    }
    
    .comments_cr,
    .widget_cr
    {
        border-top-color: $faint;
    }
    
    //------------------------- Comments
    .article-entry-comments-actions_item
    {   
        .comment-count_label
        {
            color: $color-button-text;
            background-color: $color-button-primary;
        }
    }
    
    //------------------------- Entry Byline
    &.hs-mod__tag--string-beans
    {
        .tag_comp a
        {
            color: $color-tag-text;
            background-color: $color-tag-bg;
        }
        
        .category-tag_comp a
        {
            color: $color-tag-text;
            background-color: $color-tag-bg;
            
            &:hover
            {
                background-color: $color-tag-bg-hover;
            }
        }
        
        .tag-tag_comp a
        {
            background-color: $color-minor-box-bg;
            
            &:hover
            {
                background-color: $color-minor-box-bg-hover;
            }
        }
    }
    
    //------------------------- Form
    form
    {
        input[type="submit"]
        {
            color: $white;
            background-color: $color-button;
            
            &:hover,
            &:focus
            {
                background-color: $color-button-hover;
            }
        }
    }
    
    //------------------------- Read More / Show More Content    
    .show-more-content_axn
    {
        color: $color-button-text;
        background-color: $color-button-primary;
            
        &:hover,
        &:focus
        {
            background-color: $color-button-hover;
        }
    }
    
    //------------------------- Widgets
    .widget_recent_entries
    {        
        .post-date
        {
            color: $color-minor-box-text;
            background-color: $color-minor-box-bg;
        }
    }
    
    //------------------------- Old China Shop - Timestamp
    &.hs-mod__timestamp--old-china-shop
    {
        .article-entry-published-timestamp_comp
        {
            .timestamp-day_label,
            .timestamp-month_label,
            .timestamp-year_label
            {
                color: $color--text--minor;
            }
        }
        
        .timestamp_axn
        {
            border-color: $color--line--minor;
        }
    }
    
    // Peeler
    &.hs-mod__show-content--peeler
    {
        &.js
        {
            .show-content_axn
            {
                color: $color--button--fg;
                background-color: $color--button--bg;
            }
        }
    }
}