.hs-theme--wonderwall
{   
    // Masthead
    .masthead_cr
    {
        background-color: $superhero-blue;
    }
    
    .web-product-header-name_axn
    {
        &:hover
        {
            @include transition--basic;
            background-color: hsla( 0, 0%, 0%, .125 );
        }
    }

    .web-product-header-name_axn,
    .primary-nav_ct li a
    {
        color: $white;
    }

    // Vines
    &.hs-feature__primary-nav--vines
    {
        &.modernizr--js
        {
            .primary-nav_ct
            {
                li
                {
                    a
                    {                        
                        @include transition--basic;
                    }
                }
            }

            &.hs-viewport--wide
            {
                .primary-nav_ct
                {
                    // First Level Nav Items
                    > ul
                    {
                        > li
                        {
                            > a
                            {
                                &:hover
                                {
                                    background-color: hsla( 0, 0%, 0%, .125 );
                                    border-top-left-radius: $radius-xs;
                                    border-top-right-radius: $radius-xs;
                                }
                            }
                        }
                    }

                    // Sub-Menu
                    .children,
                    .sub-menu
                    {
                        background-color: $superhero-blue;
                    }
                }
            }
            
            .primary-sub-nav-toggle_axn
            {
                // Icon
                &:after
                {
                    // Uses SVG to have hi-res icon
                    background-image: url( ../img/icon-arrow-down-rev.svg );
                }
            
                &:hover
                {
                    background-color: hsla( 0, 0%, 0%, .125 );
                }
            }
        }
    }

    .hs-cr--screen
    {
        background-color: $white;
    }

    .colophon_cr
    {
        background-color: hsla( 0, 0%, 0%, .0625 );
    }

    &.hs-feature__search--poppy-seeds
    {
        &.modernizr--js
        {
            .masthead_sidebar
            {
                .search_icon
                {
                    color: $white;
                }
            }
        }
    }
    
    &.hs-feature__primary-nav-masthead-sidebar--hamburger
    {
        &.modernizr--js
        {
            &.hs-viewport--narrow
            {
                .primary-nav-masthead-sidebar-toggle_axn
                {
                    .menu_icon,
                    .dismiss_icon
                    {
                        color: $white;
                    }                
                }
            }
        }
    }
    
    // Articles
    .content-hr_cr,
    .article-entry_cr
    {
        border-bottom: $one dotted $faint;
    }
    
    .article-entry_comp:last-child .article-entry_cr
    {
        // Reset
        border-bottom: 0;
    }
}