/* Based on close values of Perfect Fourth */
/* http://type-scale.com */

h1 {
    font-size: $font-size-xxxlarge;
}

h2 {
    font-size: $font-size-xxlarge;
}

h3 {
    font-size: $font-size-xlarge;
}

h4 {
    font-size: $font-size-large;
}

h5 {
    font-size: $font-size-medium;
}

h6 {
    font-size: $font-size-small;
    margin-bottom: 1em;
}