//------------------------- Layout SASS
// Usage: Rules concerning design layout


//------------------------- Header for Non-mobile mode
@mixin header-plain-text {
    
    .masthead-cr {
        position: relative;
        padding-bottom: 1rem;
        text-align: center;
    }
    
    .masthead-header {
        padding: 1rem;
        text-align: center;
    }
    
    .site-title-heading {
        margin-bottom: auto;
        @include font-size-rem($font-xl);
        line-height: normal;
    } 
    
    .site-title-link {
        padding-left: 1rem;
        padding-right: 1rem;
    }   

    .header-sidebar {
        margin-top: 2rem;
    }
    
    .header-sidebar-cr {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
    .header-sidebar {
        margin-top: auto;
        @include position($t: 0, $r: 0);
    }
    
    .header-sidebar-cr {
        padding-left: 0;
        padding-right: 0;
    }
    
    .main-navigation {
        display: inline-block;
    }

}


//------------------------- Header for Mobile mode
@mixin header-compact {
    
    .masthead-cr {
        @include cf;        
        position: relative;
        
        // Activate if there needs to be a fixed height
        // height: $block-l;
    }
    
    .masthead-header {
        @include valign-mid;
        text-align: center;
    }
    
    .site-title-heading {
        margin-bottom: auto;
        @include font-size-rem($font-m-l);
        font-weight: 700;
        line-height: normal;
    }
    
    .header-sidebar {
        @include valign-mid;
        @include position($t: 0, $r: 0);
        float: right;
        
        .search-form {
            background-color: $white;
        }

    }
    
    .site-description {
        @include vhide;
    }
    
    .main-navigation {
        @include valign-mid;
        float: left;
    }

}


//------------------------- Search theme light
@mixin search-theme-reverse {
    
    @include placeholder($white);
    
    .header-sidebar .search-control .icon,
    .header-sidebar .search-submit .icon {
        fill: $white;
    }
    
    .header-sidebar .search-form {
        background-color: $color-primary;
    }
    
    .header-sidebar .search-control {
        opacity: .75;
        @include transition(opacity);
    }
    
    .header-sidebar .search-control:hover {
        opacity: 1;
    }
    
    .header-sidebar .search-input {
        color: $white;
    }
    
}


//------------------------- Header for all seasons
@mixin header-semi-compact {
    
    @include header-compact;    
    @include search-theme-reverse;
    
    .masthead-cr {
        background-color: $color-primary;
    }
    
    .site-title-link {
        padding: 1rem;
        color: $white;
        @include transition(background-color);
        
        &:hover {
            background-color: darken($color-primary, 5%);
            text-decoration: none;
        }
    }
    
    div.nav-menu > ul > li {
        
        > a {
            color: $white;
            
            &:hover {
                text-decoration: none;
            }
            
        }
        
        &:hover {
            background-color: darken($color-primary, 5%);
        }
        
    }
    
    .main-navigation {
        float: none;
    }

}