//------------------------- Layout SASS
// Usage: Rules concerning design layout


//------------------------- Center-align site title and site description
@mixin header-plain-text-center {
    
    .masthead-cr {
        padding-bottom: 1rem;
    }
    
    .masthead-header {
        padding: 1rem;
        text-align: center;
    }
    
    .site-title-heading {
        margin-bottom: auto;
        @include font-size-rem($font-xl);
        line-height: normal;
    }    

    .header-sidebar {
        margin-top: 2rem;
    }
    
    .header-sidebar-cr {
        padding-left: 1rem;
        padding-right: 1rem;
    }

}


//------------------------- Header for small spaces
@mixin header-compact {
    
    .masthead-cr {
        @extend %cf;
        height: $block-l;
    }
    
    .masthead-header {
        @include valign-mid;
        text-align: center;
    }
    
    .site-title-heading {
        margin-bottom: auto;
        @include font-size-rem($font-m-l);
        font-weight: 700;
        line-height: normal;
    }
    
    .main-navigation {
        @include valign-mid;
        float: left;
    }    
    
    .header-sidebar {
        @include valign-mid;
        float: right;
    }
    
    .site-description {
        @extend %vhide;
    }

}