//------------------------- Layout SASS
// Usage: Rules concerning design layout


//------------------------- Header for Non-mobile mode
@mixin header-plain-text-center {
    
    .masthead-cr {
        position: relative;
        padding-bottom: 1rem;
        text-align: center;
    }
    
    .masthead-header {
        padding: 1rem;
        padding-bottom: 0;
        text-align: center;
    }
    
    .site-title-heading {
        margin-bottom: auto;
        @include font-size-rem($font-xl);
        line-height: normal;
    }    

    .header-sidebar {
        margin-top: 2rem;
    }
    
    .header-sidebar-cr {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
    .header-sidebar {
        margin-top: auto;
        @include position($t: 0, $r: 0);
    }
    
    .header-sidebar-cr {
        padding-left: 0;
        padding-right: 0;
    }
    
    .main-navigation {
        display: inline-block;
    }

}


//------------------------- Header for Mobile mode
@mixin header-compact {
    
    .masthead-cr {
        @include cf;        
        position: relative;
        height: $block-l;        
    }
    
    .masthead-header {
        @include valign-mid;
        text-align: center;
    }
    
    .site-title-heading {
        margin-bottom: auto;
        @include font-size-rem($font-m-l);
        font-weight: 700;
        line-height: normal;
    }
    
    .header-sidebar {
        @include valign-mid;
        @include position($t: 0, $r: 0);
        float: right;
    }
    
    .site-description {
        @include vhide;
    }
    
    .main-navigation {
        @include valign-mid;
        float: left;
    }

}