// Theme Rules
// This set can be extended to child templates


@include selection( $color-selection-bg, $color-selection-fg );

// Font Family
html {
    font-family: $font-family-base;
}


// Text Links
a {
    color: $color-link;
}


// SVG Icon Color
svg.icon:hover {
    fill: $color-svg-icon;
}


// Scroll Top
.scroll-top-link {
    background-color: $color-scroll-top-bg;
    
    .icon {
        fill: $color-scroll-top-arrow;
    }
    
    &:hover {
        background-color: $color-scroll-top-bg-hover;
    
        .icon {
            fill: $color-scroll-top-arrow-hover;
        }
        
    }
    
}



// More Link
.show-more-content .more-link {
    color: $color-more-link;
}


// Sticky Entry Title
.sticky .entry-title-link {
    color: $color-sticky-entry-title;
}


// Main Navigation
div.nav-menu {
    
    > ul > {
    
        .page_item_has_children,
        .menu-item-has-children {

            &.status-sub-nav-active {
                background-color: $color-nav-menu-sub-nav-active-bg;
            }

        }
        
    }
    
    li {

        &:hover {

            @include mq($tablet, $query1: max) {
                background-color: $color-nav-menu-bg-hover;
            }

        }

    }
    
    .status-mobile-main-nav-active & {

        @include mq($tablet, $query1: max) {
            background-color: color-nav-menu-mobile-nav-bg;
        }

    }
    
    .page_item_has_children,
    .menu-item-has-children {
        
        &.status-sub-nav-active {
            background-color: $color-nav-menu-sub-nav-active-bg;
            
            &:hover {
                background-color: $color-nav-menu-sub-nav-active-hover-bg;
            }
            
        }
        
    }
    
    .page_item_has_children {
       
        &.status-sub-nav-active {
            
            .children {
                background-color: $color-nav-sub-menu-bg;
            }
            
        }
        
    }
    
    .menu-item-has-children {
       
        &.status-sub-nav-active {
            
            .sub-menu {
                background-color: $color-nav-sub-menu-bg;
            }
            
        }
        
    }
    
}


// UI Tabs
.ui-tablist-item a {
    color: $color-tab-item;
}


// Header Theme
@mixin header-semi-compact-theme {
        
    .masthead {
        background-color: $color-masthead-bg;
    }
    
    .site-title-link:hover {
        background-color: $color-site-title-bg;
    }
    
    div.nav-menu > ul > li:hover {
        background-color: $color-nav-menu-bg;
    }

}


// Search Theme
@mixin search-theme-reverse-theme {
    
    .header-sidebar .search-form {
        background-color: $color-header-search;
    }
    
}