// Theme Rules
// This set can be extended to child templates


html {
    @include font-size-rem($font-m);
    font-family: $font-family-base;
    line-height: 1.5;
    color: $font-color-base;
    background-color: $white;
}


@include selection( $color-selection-primary, $white );

a {
    color: $color-link-primary;
}


svg.icon {
    
    &:hover {
        fill: $color-primary;
    } 
    
}

.scroll-top-link {
    
    &:hover {
        
        .icon {
            fill: $color-primary;
        }
        
    }
    
}

div.nav-menu {
    
    > ul {
    
        > {
            .page_item_has_children,
            .menu-item-has-children {

                &.status-sub-nav-active {
                    background-color: darken($color-primary, 5%);
                }

            }

        }
        
    }
    
    li {

        &:hover {

            // Mobile mode
            @include mq($tablet, $query1: max) {
                background-color: darken($color-primary, 5%);
            }

        }

    }
    
    .status-mobile-main-nav-active & {

        // Mobile mode
        @include mq($tablet, $query1: max) {
            background-color: darken($color-primary, 10%);
        }

    }
    
    .page_item_has_children, .menu-item-has-children {
        
        &.status-sub-nav-active {
            background-color: $color-primary;
            
            &:hover {
                background-color: darken($color-primary, 5%);
            }
            
        }
        
    }
    
    .page_item_has_children, .menu-item-has-children {
       
        &.status-sub-nav-active {
            
            .children,
            .sub-menu {
                background-color: darken($color-primary, 2.5%);
            }
            
        }
        
    }
    
}


@mixin header-semi-compact-theme {
        
    .masthead-cr {
        background-color: $color-primary;
    }
    
    .site-title-link:hover {
        background-color: darken($color-primary, 5%);
    }
    
    div.nav-menu > ul > li:hover {
        background-color: darken($color-primary, 5%);
    }
}



@mixin search-theme-reverse-theme {
    
    .header-sidebar .search-form {
        background-color: $color-primary;
    }
    
}